<p-toast></p-toast>
<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="routes.suppliers">Suppliers</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Add Suppliers</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body p-3">
            <form [formGroup]="addSupplierGroup" (ngSubmit)="addSupplierForm()">
              <div class="row">
                <div class="d-flex m-b-10" style="justify-content: space-between">
                  <h3>Add Supplier</h3>
                  <div class="settings-btns text-end m-b-10">
                    <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
                      [disabled]="!addSupplierGroup.valid">
                      Submit
                    </button>
                    <button class="btn btn-secondary" [routerLink]="['/suppliers']">
                      <a class="text-white"></a>Cancel
                    </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="name">Name<span class="login-danger">*</span></label>
                      <input class="form-control" type="text" placeholder="Please Enter Name" formControlName="name" />
                      <div *ngIf="
                          addSupplierGroup.get('name')?.hasError('required') &&
                          addSupplierGroup.get('name')?.touched
                        " class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div *ngIf="
                          addSupplierGroup.get('name')?.hasError('pattern') &&
                          addSupplierGroup.get('name')?.touched
                        " class="login-danger Font_size">
                        Input should be between 1 to 30 characters.
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="phoneNumber">Phone Number<span class="login-danger">*</span></label>
                      <input class="form-control" type="number" placeholder="Please Enter Phone Number"
                        formControlName="phoneNumber" />
                      <div *ngIf="
                          addSupplierGroup
                            .get('phoneNumber')
                            ?.hasError('required') &&
                          addSupplierGroup.get('phoneNumber')?.touched
                        " class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div *ngIf="
                          addSupplierGroup
                            .get('phoneNumber')
                            ?.hasError('pattern') &&
                          addSupplierGroup.get('phoneNumber')?.touched
                        " class="login-danger Font_size">
                        Please Enter 10-Digit number.
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="Email">Email</label>
                      <input class="form-control" type="email" placeholder="Please Enter Email"
                        formControlName="email" />
                      <div *ngIf="
                          addSupplierGroup.get('email')?.hasError('pattern') &&
                          addSupplierGroup.get('email')?.touched
                        " class="login-danger Font_size">
                        Please enter valid Email address.
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="taxNumber">Tax Number<span class="login-danger"></span></label>
                      <input class="form-control" type="text" placeholder="Please Enter Tax Number"
                        formControlName="taxNumber" />
                      <div *ngIf="
                          addSupplierGroup
                            .get('taxNumber')
                            ?.hasError('pattern') &&
                          addSupplierGroup.get('taxNumber')?.touched
                        " class="login-danger Font_size">
                        Input Must be between 3 to 15 characters.
                      </div>
                    </div>
                  </div>
                    
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="creditPeriod">Credit Period<span class="login-danger"></span></label>
                      <div class="input-group">
                        <input class="form-control" type="number" placeholder formControlName="creditPeriod" />
                        <div class="input-group-prepend">
                          <span class="input-group-text" style="font-size: 12px">Days</span>
                        </div>
                      </div>
                      <div *ngIf="
                          addSupplierGroup
                            .get('creditPeriod')
                            ?.hasError('min') &&
                          addSupplierGroup.get('creditPeriod')?.touched
                        " class="login-danger Font_size">
                        Credit Period cannot be less than 0 days.
                      </div>
                      <div *ngIf="
                          addSupplierGroup
                            .get('creditPeriod')
                            ?.hasError('max') &&
                          addSupplierGroup.get('creditPeriod')?.touched
                        " class="login-danger Font_size">
                        Credit Period should not be more than 180 days.
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="creditLimit">Credit Limit<span class="login-danger"></span></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">₹</span>
                        </div>
                        <input class="form-control" type="number" placeholder="0" formControlName="creditLimit" />
                      </div>
                      <div *ngIf="
                          addSupplierGroup
                            .get('creditLimit')
                            ?.hasError('min') &&
                          addSupplierGroup.get('creditLimit')?.touched
                        " class="login-danger Font_size">
                        Credit amount cannot be less than 0.
                      </div>
                      <div *ngIf="
                          addSupplierGroup
                            .get('creditLimit')
                            ?.hasError('max') &&
                          addSupplierGroup.get('creditLimit')?.touched
                        " class="login-danger Font_size">
                        Credit amount cannot be more than 7 digit number.
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="billingAddress">Billing Address</label>
                      <textarea class="form-control" type="text" placeholder="Please Enter Billing Address"
                        formControlName="billingAddress" rows="5"></textarea>

                      <div *ngIf="
                          addSupplierGroup
                            .get('billingAddress')
                            ?.hasError('pattern') &&
                          addSupplierGroup.get('billingAddress')?.touched
                        ">
                        <span class="login-danger">Input Must be between 3 to 500 characters</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="shippingAddress">Shipping Address</label>
                      <textarea class="form-control" type="text" placeholder="Please Enter Shipping Address"
                        formControlName="shippingAddress" rows="5"></textarea>

                      <div *ngIf="
                          addSupplierGroup
                            .get('shippingAddress')
                            ?.hasError('pattern') &&
                          addSupplierGroup.get('shippingAddress')?.touched
                        ">
                        <span class="login-danger">Input Must be between 3 to 500 characters</span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>