<mat-dialog-content class="mat-typography mat-lg" style="width: 100%;">

    <div class="m-b-20">
      <h3>Edit Taxe</h3>
    </div>
  
    <div class="modal-body">
      <form [formGroup]="editTaxesForm" (ngSubmit)="editTaxesFormSubmit()">
        <div class="row">
  
          <div class="col-md-6">
            <div class="form-group local-forms">
              <label for="name">Tax Name <span class="login-danger">*</span></label>
              <input class="form-control" type="text" placeholder="" formControlName="name">
  
              <div *ngIf="editTaxesForm.get('name')?.hasError('required') && editTaxesForm.get('name')?.touched">
                <span class="login-danger">Field is required.</span>
              </div>
              <div *ngIf="editTaxesForm.get('name')?.hasError('pattern') && editTaxesForm.get('name')?.touched">
                <span class="login-danger">Input must be between 3 to 30 characters.</span>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group local-forms">
              <label for="name">Tax Rate <span class="login-danger">*</span></label>
              <input class="form-control" type="number" placeholder="" formControlName="taxRate">
  
              <div *ngIf="editTaxesForm.get('taxRate')?.hasError('required') && editTaxesForm.get('taxRate')?.touched">
                <span class="login-danger">Field is required.</span>
              </div>
              <div *ngIf="editTaxesForm.get('taxRate')?.hasError('min') && editTaxesForm.get('taxRate')?.touched">
                <span class="login-danger">Input must be min 0 and max 2 digit number.</span>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-4">
            <div class="form-group local-forms">
              <label for="name">Tax Type <span class="login-danger">*</span></label>
              <p-dropdown [options]="taxesTypes" styleClass="" appendTo="body" optionLabel="value" optionValue="value"
                placeholder="Select  Type" formControlName="taxType" [style]="{'width':'100%'}" [showClear]="true">
              </p-dropdown>
  
              <div *ngIf="editTaxesForm.get('taxType')?.hasError('required') && editTaxesForm.get('taxType')?.touched">
                <span class="login-danger">Tax Type is reqiured</span>
              </div>
            </div>
          </div> -->

         
  
          <div class=" col-12">
  
            <div class=" settings-btns text-end m-b-10">
              <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
                [disabled]="!editTaxesForm.valid">Submit</button>
              <button class="btn btn-secondary" [mat-dialog-close]="true">Cancel</button>
            </div>
  
          </div>
  
        </div>
      </form>
    </div>
  </mat-dialog-content>