<div class="page-wrapper">
  <div class="content">

    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/patient/patients-list']">Patient List</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Immunizations</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body">
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Immunizations List</h3>
                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk">
                        <input type="text" class="form-control" placeholder="Search here" [(ngModel)]="searchDataValue"
                          (ngModelChange)="searchData(searchDataValue)">
                        <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                      </div>
                      <div class="add-group textbtn">
                        <a class="btn btn-primary add-pluss ms-2" (click)="addImmunizations()" ><img
                            src="assets/img/icons/plus.svg" alt=""> Vaccine</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto text-end float-end ms-auto download-grp">
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg" alt=""></a>
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg" alt=""></a>

                </div>
              </div>
            </div>

            <p-tabView>
              <p-tabPanel header="0-6 yrs">
                <div class="table-responsive">
                  <p-table [value]="immunizationList" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5"
                    [rowsPerPageOptions]="[5, 10, 20]" [(selection)]="selectedProducts">
                    <ng-template pTemplate="header">
                      <tr>

                        <th pSortableColumn="immunizationName" style="width: 80%;" >Name<p-sortIcon field="immunizationName"></p-sortIcon>
                          <p-columnFilter type="text" field="immunizationName" display="menu"></p-columnFilter>
                        </th>
                        <th pSortableColumn="immunizationadministered" style="width: 20%;">Administered<p-sortIcon field="immunizationadministered"></p-sortIcon>
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                      <tr>
                        <td>{{data.immunizationName}}</td>
                        <td>{{data.immunizationadministered}}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </p-tabPanel>
              <p-tabPanel header="7-8 yrs">
                <div class="table-responsive">
                  <p-table [value]="immunizationList" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5"
                    [rowsPerPageOptions]="[5, 10, 20]" [(selection)]="selectedProducts">
                    <ng-template pTemplate="header">
                      <tr>

                        <th pSortableColumn="immunizationName" style="width: 80%;" >Name<p-sortIcon field="immunizationName"></p-sortIcon>
                          <p-columnFilter type="text" field="immunizationName" display="menu"></p-columnFilter>
                        </th>
                        <th pSortableColumn="immunizationadministered" style="width: 20%;">Administered<p-sortIcon field="immunizationadministered"></p-sortIcon>
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                      <tr>
                        <td>{{data.immunizationName}}</td>
                        <td>{{data.immunizationadministered}}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
                

              </p-tabPanel>
              <p-tabPanel header="Adult">
                <div class="table-responsive">
                  <p-table [value]="immunizationList" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5"
                    [rowsPerPageOptions]="[5, 10, 20]" [(selection)]="selectedProducts">
                    <ng-template pTemplate="header">
                      <tr>

                        <th pSortableColumn="immunizationName" style="width: 80%;" >Name<p-sortIcon field="immunizationName"></p-sortIcon>
                          <p-columnFilter type="text" field="immunizationName" display="menu"></p-columnFilter>
                        </th>
                        <th pSortableColumn="immunizationadministered" style="width: 20%;">Administered<p-sortIcon field="immunizationadministered"></p-sortIcon>
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                      <tr>
                        <td>{{data.immunizationName}}</td>
                        <td>{{data.immunizationadministered}}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>        

              </p-tabPanel>
              <p-tabPanel header="All">
                              

              </p-tabPanel>
            </p-tabView>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- --- add Immunizations dialog --- -->
<p-dialog [(visible)]="addImmunizationsDialog" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
  [resizable]="false">
  <ng-template pTemplate="header">
    <h4 class="mb-0">Add Immunizations</h4>
  </ng-template>

  <ng-template pTemplate="content">
    <form [formGroup]="immunizationForm" (ngSubmit)="immunizationFormSubmit()">
      <div class="row">
        <div class="col-md-3 m-r-2">
          
            <p-radioButton name="immunizationType" value="orderNow" formControlName="immunizationType" class="m-r-2"
              inputId="active"></p-radioButton>
            <label class="form-check-label ml-2 m-r-2" for="active">Order now</label>
          
        </div>

        <div class="col-md-3 m-r-2">

          
            <p-radioButton name="immunizationType" value="administerNew" formControlName="immunizationType" class="m-l-5 m-r-2"
              inputId="administerNew"></p-radioButton>
            <label class="form-check-label ml-2 m-r-2" for="administerNew">Administer new</label>
        </div>

        <div class="col-md-3 m-r-2">

          
            <p-radioButton name="immunizationType" value="addHistorical" formControlName="immunizationType" class="m-l-5 m-r-2"
              inputId="addHistorical"></p-radioButton>
            <label class="form-check-label ml-2 m-r-2" for="addHistorical">Add historical</label>
        </div>

        <div class="col-md-3 m-r-2">

          
            <p-radioButton name="immunizationType" value="notAdministered" formControlName="immunizationType" class="m-l-5 m-r-2"
              inputId="notAdministered"></p-radioButton>
            <label class="form-check-label ml-2 m-r-2" for="notAdministered">Not administered</label>
          
        </div>

      </div>

      <div class="row mt-5">
        <div class="col-md-6">
          <div class="form-group local-forms">
            <label for="">Vaccine<span class="login-danger">*</span></label>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group local-forms">
            <label for="">Type<span class="login-danger">*</span></label>
            <input type="text" class="form-control">
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group local-forms">
            <label for="">Ordered Date<span class="login-danger">*</span></label>
            <p-calendar appendTo="body" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy" [style]="{ width: '100%' }" ></p-calendar>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group local-forms">
            <label for="">Provider<span class="login-danger">*</span></label>
            <p-dropdown [options]="provider" styleClass="" optionLabel="label" optionValue="value"
            [style]="{'width':'100%'}" placeholder="Select provider" [showClear]="true">
          </p-dropdown>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group local-forms">
            <label for="">Comments</label>
            <textarea class="form-control" rows="3" cols="30"></textarea>
          </div>
        </div>

        <div class="col-12">
          <div class=" settings-btns text-end m-b-10">
            <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
              [disabled]="!immunizationForm.valid">Submit</button>
            <button class="btn btn-secondary" (click)="addImmunizationsDialog=false">Cancel</button>
          </div>
        </div>

      </div>
    </form>
  </ng-template>
</p-dialog>