<div class="page-wrapper">
  <!-- Page Content -->
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">Settings</li>
            <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
            <li class="breadcrumb-item active">Data Management Settings</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="row align-items-start">
      <div class="col-xl-2 d-flex">
        <div class="card chat-box p-0">
          <div class="chat-widgets">
            <div class="email-menu-blk">
              <ul>
                <li [class]="dataManagementCategory==='I'?'active':''"><a href="javascript:;"
                    (click)="changeDataManagementCategory('I')">Import Demographics</a></li>
                <li [class]="dataManagementCategory==='Ex'?'active':''"><a href="javascript:;"
                    (click)="changeDataManagementCategory('Ex')">Export Patient Data</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>



      <div class="col-xl-10">
        <div class="card">
          <div class="card-body">
            <ng-container *ngIf="dataManagementCategory==='I'">
              <form>
                <h3>Upload Patient Demographics </h3>
                <div class="form-group row">
                  <div>
                    <p>Importing your patient <strong>demographic data</strong> into System takes just three, easy
                      steps.</p>
                  </div>

                  <div>

                    <ol>
                      <li><strong style="margin-right: 10px;">Upload</strong>your patient demographics file. 5,000
                        patients
                        can be imported at once.</li>
                      <li><strong style="margin-right: 10px;">Review</strong>one patient to ensure we're reading your
                        file
                        correctly.</li>
                      <li><strong style="margin-right: 10px;">Confirm</strong>everything was imported correctly and fix
                        any
                        errors if needed.
                      </li>
                    </ol>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <p>Don't have your patient demographics in a spreadsheet? <a class="breadcrumb-item">Download our
                          template</a></p>
                    </div>

                    <div class="settings-btn upload-files-avator">
                      <input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)"
                        class="hide-input" />
                      <label for="file" class="upload">Choose File</label>
                    </div>
                  </div>
                </div>
              </form>

              <div class="p-1 d-flex" style="justify-content: space-between;">
                <h2>Recent Imports</h2>
              </div>


              <p-table [value]="RecentImports" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="recentImportDate">Import Date <p-sortIcon
                        field="recentImportDate"></p-sortIcon></th>
                    <th pSortableColumn="recentImportStatus">Successfull <p-sortIcon
                        field="recentImportStatus"></p-sortIcon>
                    </th>
                    <th pSortableColumn="recentImportDuplicate">Duplicates<p-sortIcon
                        field="recentImportDuplicate"></p-sortIcon>
                    <th pSortableColumn="recentImportErrors">Errors <p-sortIcon field="recentImportErrors"></p-sortIcon>
                    </th>
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-recent>
                  <tr>
                    <td class="bold">{{recent.recentImportDate}}</td>
                    <td>{{recent.recentImportStatus}}</td>
                    <td>{{recent.recentImportDuplicate}}</td>
                    <td>{{recent.recentImportErrors}}</td>
                    <td>
                      <a> <i class="fa fa-edit" style="cursor: pointer;"></i>
                      </a>
                      <a> <i class="fa fa-trash" style="margin-left: 7px; cursor: pointer;"></i> </a>
                    </td>
                  </tr>
                </ng-template>
              </p-table>

            </ng-container>

            <ng-container *ngIf="dataManagementCategory==='Ex'">
              <div class="p-1 d-flex" style="justify-content: space-between;">
                <h3>Export Patient Summaries</h3>
                <button type="button" mat-raised-button color="primary" (click)="openAddDialog()">Run
                  Export</button>
              </div>

              <div class="row">
                <p-table [value]="patientSummaryData" [tableStyle]="{'min-width': '50rem'}">
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="patientFirstName">First Name<p-sortIcon
                          field="patientFirstName"></p-sortIcon></th>
                      <th pSortableColumn="patientLastName">Last Name <p-sortIcon field="patientLastName"></p-sortIcon>
                      </th>
                      <th pSortableColumn="patientPhoneNo">Phone No.<p-sortIcon field="patientPhoneNo"></p-sortIcon>
                      <th pSortableColumn="patientEmail">Email <p-sortIcon field="patientEmail"></p-sortIcon>
                      </th>
                      <th pSortableColumn="patientCity">City <p-sortIcon field=" patientCity">
                        </p-sortIcon>
                      </th>
                      <th>Action</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-patient>
                    <tr>
                      <td class="bold">{{patient.patientFirstName}}</td>
                      <td>{{patient.patientLastName}}</td>
                      <td>{{patient.patientPhoneNo}}</td>
                      <td>{{patient.patientEmail}}</td>
                      <td>{{patient.patientCity}}</td>
                      <td>
                        <a> <i class="fa fa-edit" style="cursor: pointer;"></i>
                        </a>
                        <a> <i class="fa fa-trash" style="margin-left: 7px; cursor: pointer;"></i> </a>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </ng-container>


          </div>
        </div>
      </div>




    </div>
  </div>