<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Purchases Return List</li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Add Purchase Return</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="page-header invoices-page-header">
      <div class="row align-items-center">
        <div class="col">
          <ul class="breadcrumb invoices-breadcrumb">
            <li class="breadcrumb-item invoices-breadcrumb-item">
              <a [routerLink]="routes.purchaseReturn">
                <i class="fa fa-chevron-left"></i> Back to Purchases Return List
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-md-12">
        <div class="card invoices-add-card">
          <div class="card-body">
            <form [formGroup]="addPurchaseReturnForm" (ngSubmit)="addPurchaseReturnFormSubmit()">
              <div class="invoices-main-form">
                <div class="row">
                  <div class="col-xl-4 col-md-6 col-sm-12 col-12">
                    <div class="form-group local-forms">
                      <label for="purchaseReturnSupplier">Supplier Name<span class="login-danger">*</span></label>
                      <p-dropdown [style]="{ width: '100%' }" placeholder="Select Supplier" [options]="SupplierLists"
                        optionLabel="name" optionValue="_id" display="chip" [filter]="true" filterBy="name"
                        formControlName="purchaseReturnSupplier" [showClear]="true"
                        (onChange)="onSuppliersSelect($event.value._id)"></p-dropdown>
                      <div *ngIf="
                          addPurchaseReturnForm
                            .get('purchaseReturnSupplier')
                            ?.hasError('required') &&
                          addPurchaseReturnForm.get(
                            'purchaseReturnSupplier'
                          )?.touched
                        ">
                        <span class="login-danger">Field is required. </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-4 col-md-6 col-sm-12 col-12">
                    <div class="form-group local-forms">
                      <label for="purchaseReturnInvoiceNumber">Invoice Number<span class="login-danger">*</span></label>
                      <p-dropdown [style]="{ width: '100%' }" placeholder="--Select Invoice--"
                        [options]="purchaseDataByInvoiceNumber" formControlName="purchaseReturnInvoiceNumber"
                        optionLabel="purchaseInvoiceNumber" display="chip"
                        (onChange)="onInvoiceNumber($event.value._id)" [showClear]="true"></p-dropdown>
                        <div *ngIf="
                        addPurchaseReturnForm
                        .get('purchaseReturnSupplier')
                        ?.hasError('required') &&
                        addPurchaseReturnForm.get(
                          'purchaseReturnSupplier'
                          )?.touched
                          ">
                          <span class="login-danger">Field is required. </span>
                        </div>
                      </div>
                  </div>

                  <div class="col-xl-4 col-md-6 col-sm-12 col-12">
                    <div class="form-group local-forms">
                      <label for="purchaseReturnDate">Purchase Return Date<span class="login-danger">*</span></label>
                      <p-calendar [maxDate]="maxDate" dataType="string" appendTo="body" dateFormat="mm/dd/yy"
                        formControlName="purchaseReturnDate" placeholder="mm/dd/yyyy"
                        [styleClass]="'col-12'"></p-calendar>
                        <div *ngIf="
                        addPurchaseReturnForm
                        .get('purchaseReturnSupplier')
                        ?.hasError('required') &&
                        addPurchaseReturnForm.get(
                          'purchaseReturnSupplier'
                          )?.touched
                          ">
                          <span class="login-danger">Field is required. </span>
                        </div>
                      </div>
                  </div>



                  <!-- <div class="col-xl-4 col-md-6 col-sm-12 col-12"
                    *ngIf="PurchaseReturnDataById?.purchaseType == 'slab'">
                    <div class="form-group local-forms">
                      <label for="purchaseSlab">Slab<span class="login-danger">*</span></label>
                      <p-multiSelect [style]="{ width: '100%' }" placeholder="Select Slab" [options]="purchaseSlabData"
                        formControlName="purchaseSlab" optionLabel="slabName" display="chip"
                        (onChange)="slabValues($event.value)"></p-multiSelect>
                      
                    </div>
                  </div> -->
                </div>
              </div>
              <div class="invoice-add-table">
                <p-table *ngIf="GridDataForSlab?.length > 0" [value]="GridDataForSlab" styleClass="p-datatable-striped"
                  [tableStyle]="{'min-width': '60rem'}" [paginator]="GridDataForSlab?.length >= 5" [rows]="10">
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="purchaseInvoiceNumber">Slab No.
                      </th>
                      <th pSortableColumn="purchaseDate">Slab Name
                      </th>
                      <th pSortableColumn="paidAmount">Size</th>
                      <th pSortableColumn="purchaseOrderStatus">Total Sq. Feet.</th>
                      <th pSortableColumn="supplier.name">Purchase Cost.
                      </th>
                      <!-- <th>Actions</th> -->
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-purchase>
                    <tr>
                      <td>{{purchase.slabNo}}</td>
                      <td>{{purchase.slabName}}</td>
                      <td>{{purchase.slabSize }}</td>
                      <td>{{purchase.totalSQFT}}</td>
                      <td>₹ {{purchase.purchaseCost | indianCurrency}}</td>
                      <!-- <td><p-button [text]=" true" icon="fa fa-trash"
                            (click)="deleteSlab(purchase._id)"></p-button></td> -->
                    </tr>
                  </ng-template>
                </p-table>
                <!-- <p-table *ngIf="GridDataForLot?.length  > 0" [value]="GridDataForLot" styleClass="p-datatable-striped"
                  [tableStyle]="{'min-width': '60rem'}" [paginator]="data?.length >= 5" [rows]="10">
                  <ng-template pTemplate="header">
                    <tr>
                      <th pSortableColumn="purchaseInvoiceNumber">Block No.<p-sortIcon
                          field="purchaseInvoiceNumber"></p-sortIcon>
                      </th>
                      <th pSortableColumn="purchaseDate">Height<p-sortIcon field="purchaseDate"></p-sortIcon>
                      </th>
                      <th pSortableColumn="supplier.name">Length<p-sortIcon field="supplier.name"></p-sortIcon>
                      </th>
                      <th pSortableColumn="purchaseOrderStatus">Width<p-sortIcon
                          field="purchaseOrderStatus"></p-sortIcon></th>
                      <th pSortableColumn="paidAmount">Total Costing<p-sortIcon field="paidAmount"></p-sortIcon>
                      </th>
                      <th pSortableColumn="dueAmount">Total Area<p-sortIcon field="dueAmount"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-purchase>
                    <tr>
                      <td>{{purchase.blockNo}}</td>
                      <td>{{purchase.height}}</td>
                      <td>{{purchase.length}}</td>
                      <td>{{purchase.width}}</td>
                      <td>₹ {{purchase.totalCosting}}</td>
                      <td>{{purchase.totalArea}}</td>
                    </tr>
                  </ng-template>
                </p-table> -->
              </div>
              <div class="row">
                <div class="col-lg-7 col-md-6">
                  <div class="invoice-fields">
                    <h4 class="field-title">More Fields</h4>
                  </div>
                  <div class="invoice-faq">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="faq-tab">
                        <div class="panel panel-default">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <p class="panel-title">
                              <a class="collapsed" data-bs-toggle="collapse" data-bs-parent="#accordion"
                                href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="fas fa-plus-circle me-1"></i> Add
                                Notes
                              </a>
                            </p>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                            aria-labelledby="headingThree" data-bs-parent="#accordion">
                            <div class="panel-body">
                              <textarea class="form-control" formControlName="purchaseReturnNotes"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-6">
                  <div class="invoice-total-card">
                    <h4 class="invoice-total-title">Summary</h4>
                    <div class="invoice-total-box">
                      <div class="row p-3">
                        <!-- <div class="col-md-12 mt-3">
                          <div class="form-group local-forms">
                            <label for="purchaseReturnOrderStatus">Order Status<span
                                class="login-danger">*</span></label>
                            <p-dropdown [options]="orderStatusList" styleClass="" appendTo="body"
                              optionLabel="orderStatus" optionValue="orderStatus" placeholder="Select  Status"
                              [style]="{ width: '100%' }" formControlName="purchaseReturnOrderStatus" [filter]="true"
                              filterBy="value" [showClear]="true">
                            </p-dropdown>
                          </div>
                          <div *ngIf="
                          addPurchaseReturnForm
                            .get('purchaseReturnSupplier')
                            ?.hasError('required') &&
                          addPurchaseReturnForm.get(
                            'purchaseReturnSupplier'
                          )?.touched
                        ">
                            <span class="login-danger">Field is required. </span>
                          </div>
                        </div> -->

                        <div class="col-12 ml-3">
                          <div class="form-group local-forms">
                              <label for="otherCharges">Return Other Charges </label>
                              <div class="input-group">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text">₹</span>
                                  </div>
                                  <input class="form-control"
                                      (change)="calculateTotalPurchaseAmount()"
                                      formControlName="otherCharges" type="number"
                                      placeholder="">
                              </div>
                              <div
                                  *ngIf="addPurchaseReturnForm.get('otherCharges')?.hasError('min') || addPurchaseReturnForm.get('otherCharges')?.hasError('max')  && addPurchaseReturnForm.get('otherCharges')?.touched">
                                  <span class="login-danger">Input must be between 0 to {{ returnMaxValue }}.</span>
                              </div>
                          </div>
                      </div>


                      </div>

                      <div class="invoice-total-inner">
                        <p *ngIf="addPurchaseReturnForm.get('purchaseGrossTotal').value">
                          Gross Total<span>₹
                            {{
                            addPurchaseReturnForm.get("purchaseGrossTotal")
                            .value | number : "1.2-2"
                            }}</span>
                        </p>
                        <p *ngIf="addPurchaseReturnForm.get('otherCharges').value">
                          Return Other Charges<span>₹
                            {{
                            addPurchaseReturnForm.get("otherCharges")
                            .value | number : "1.2-2"
                            }}</span>
                        </p>

                      </div>

                      <div class="invoice-total-footer">
                        <h4>
                          Total Amount
                          <span>₹                           
                            {{
                            addPurchaseReturnForm.get("purchaseReturnTotalAmount")
                            .value | number : "1.2-2"
                            }}</span>
                        </h4>
                      </div>
                    </div>
                  </div>
                  <div class="upload-sign">
                    <div class="form-group float-end mb-0">
                      <button class="btn btn-primary" type="submit" [disabled]="!addPurchaseReturnForm.valid">
                        Save
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>