<p-toast></p-toast>
<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Product</li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Block List</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table show-entire">
                    <div class="card-body">
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Block List</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">
                                                <input type="text" class="form-control" placeholder="Search here"
                                                    [(ngModel)]="searchDataValue"
                                                    (ngModelChange)="searchData(searchDataValue)">
                                                <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                            </div>
                                            <div class="add-group textbtn">
                                                <a appShowHide [roles]="['admin', 'super-admin']"
                                                    [routerLink]="['/blocks/add']"
                                                    class="btn btn-primary add-pluss ms-2"><img
                                                        src="assets/img/icons/plus.svg" alt=""> Add New</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp" appShowHide
                                    [roles]="['admin', 'super-admin']">
                                    <a href="javascript:;" class=" me-2"><img src=""
                                            alt=""></a>
                                    <!-- <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg"
                                            alt=""></a> -->
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg"
                                            alt=""></a>
                                    <!-- <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a> -->

                                </div>
                            </div>
                        </div>

                        <div class="card-body p-2">
                            <p-table [value]="originalData" [tableStyle]="{'min-width': '60rem'}" [paginator]="originalData?.length >= 5"
                                [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" (onPage)="onPageChange($event)" [(selection)]="selectedLot">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="lotNo">Lot No. <p-sortIcon field="lotNo"></p-sortIcon>
                                            <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="lotNo" display="menu"></p-columnFilter>
    
                                        </th>
                                        <th pSortableColumn="blockNo">Blocks  No. <p-sortIcon field="blockNo"></p-sortIcon>
                                            <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="blockNo" display="menu"></p-columnFilter>
    
                                        </th>
                                        <th pSortableColumn="processingCharge">Processing Charge<p-sortIcon field="processingCharge"></p-sortIcon>
                                            <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="processingCharge" field="processingCharge" display="menu"></p-columnFilter>
    
                                        </th>
                                        <th pSortableColumn="height">Height  <p-sortIcon field="height"></p-sortIcon>
                                            <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="height" display="menu"></p-columnFilter>
    
                                        </th>
                                        <th pSortableColumn="width">Widht <p-sortIcon field="width"></p-sortIcon>
                                            <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="width" display="menu"></p-columnFilter>
                                            
                                        </th>
                                        <th pSortableColumn="length">Length <p-sortIcon field="length"></p-sortIcon>
                                            <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="length" display="menu"></p-columnFilter>
    
                                        </th>
                                        <th appShowHide [roles]="['admin', 'super-admin']" >Action
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-blocks>
    
                                    <tr>
                                        <td>
                                            {{blocks.lotNo}}
                                        </td>
                                        <td>
                                            {{blocks.blocksNo}}
                                        </td>
                                        <td>
                                            {{blocks.processingCharge}}
                                        </td>
                                        <td>
                                            {{blocks.height}}
                                        </td>
                                        <td>
                                            {{blocks.width}}
                                        </td>
                                        <td>
                                            {{blocks.length}}
                                        </td>
                                        <td appShowHide [roles]="['admin', 'super-admin']" style="display: flex;">
                  <div class="action-buttons">

                                            <p-button [text]="true" icon="fa fa-edit"
                                                [routerLink]="['/blocks/edit', blocks._id]"></p-button>
                                            <p-button [text]=" true" icon="fa fa-trash"
                                                (click)="deleteBlocks(blocks._id)"></p-button>
                  </div>
                                        </td>
    
                                    </tr>
                                </ng-template>
                            </p-table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-confirm-dialog [showDialog]="showDialog" (callbackModal)="callBackModal()" (close)="close()"
    [data]="modalData"></app-confirm-dialog>