<p-toast></p-toast>
<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <!-- <li class="breadcrumb-item active">Stock</li> -->
            <!-- <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li> -->
            <li class="breadcrumb-item active">Blocks List</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body">
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Blocks List</h3>
                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk">
                        <input type="text" class="form-control" placeholder="Search here" [(ngModel)]="searchDataValue"
                          (ngModelChange)="searchData()" />
                        <a class="btn"><img src="assets/img/icons/search-normal.svg" alt="" /></a>
                      </div>
                      <!-- <div class="add-group textbtn">
                                                <a appShowHide [roles]="['admin', 'super-admin']"
                                                    [routerLink]="['/lot/add']"
                                                    class="btn btn-primary add-pluss ms-2"><img
                                                        src="assets/img/icons/plus.svg" alt=""> Add New</a>

                                            </div> -->
                    </div>
                  </div>
                </div>
                <div class="col-auto text-end float-end ms-auto download-grp" appShowHide
                  [roles]="['admin', 'super-admin']">
                  <!-- <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg"
                                            alt="" pTooltip="Download data in PDF file"
                      tooltipPosition="left" tooltipStyleClass="tooltip"></a> -->
                  <!-- <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg"
                                            alt=""></a> -->
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg" alt=""
                      pTooltip="Download data in CSV file " tooltipPosition="left" tooltipStyleClass="tooltip"
                      (click)="dt.exportCSV()"></a>
                  <!-- <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a> -->

                </div>
              </div>
              <div class="mt-3">
                <div class="row card-body d-flex justify-content-between p0">
                  <div class="col-lg-4 col-md-4 h-2">
                    <div class="form-group local-forms">
                      <label for="warehouseDetails">Filter By</label>
                      <p-dropdown [options]="warehouseData" styleClass="" appendTo="body"
                        placeholder="Filter By Warehouse" [style]="{ width: '100%' }" [filter]="true" optionLabel="name"
                        optionValue="_id" [showClear]="true" (onChange)="onSearchByChange($event.value)"
                        [(ngModel)]="warehouseDropDown">
                      </p-dropdown>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body p-2">

              <p-table
                [value]="data| filter:searchDataValue:['date','blockDetails.blockNo','category','subCategory','blockDetails.height || blockDetails.width || blockDetails.length','totalArea','lotTotalCosting','warehouseDetails.name','lotNo','lotName','blockProcessorList', ]"
                [tableStyle]="{'min-width': '60rem'}" [paginator]="data?.length >= 5" [rows]="10"
                [rowsPerPageOptions]="[5, 10, 20]" [(selection)]="selectedBlocks" styleClass="p-datatable-striped"
                selectionMode="multiple" (onFilter)="onFilter($event)" #dt [columns]="cols" 
                [exportHeader]="'customExportHeader'" exportFilename="Lot" class="table-responsive">
                <ng-template pTemplate="header" >
                  <tr>
                    <th class="text-nowrap" pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="date"
                        display="menu"></p-columnFilter>
                    </th>
                    <th class="text-nowrap" pSortableColumn="blockDetails.blockNo">Block Number <p-sortIcon field="blockDetails.blockNo"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="blockDetails.blockNo"
                        display="menu"></p-columnFilter>
                    </th>
                    <th class="text-nowrap" pSortableColumn="category">category <p-sortIcon field="category"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="category"
                        display="menu"></p-columnFilter>
                    </th>
                    <th class="text-nowrap" pSortableColumn="subCategory">Sub Category <p-sortIcon field="subCategory"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="subCategory"
                        display="menu"></p-columnFilter>
                    </th>
                    <th class="text-nowrap" pSortableColumn="blockDetails.height || blockDetails.width || blockDetails.length">Size (H*W*L) <p-sortIcon field="blockDetails.height || blockDetails.width || blockDetails.length"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="blockDetails.height || blockDetails.width || blockDetails.length"
                        display="menu"></p-columnFilter>
                    </th>
                    <th class="text-nowrap" pSortableColumn="totalArea">Total Area <p-sortIcon field="totalArea"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="totalArea"
                        display="menu"></p-columnFilter>
                    </th>
                    <th class="text-nowrap" pSortableColumn="lotTotalCosting">Total Cost <p-sortIcon field="lotTotalCosting"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="lotTotalCosting"
                        display="menu"></p-columnFilter>
                    </th>
                    <th class="text-nowrap" pSortableColumn="warehouseDetails.name">Warehouse<p-sortIcon
                        field="warehouseDetails.name"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="warehouseDetails.name"
                        display="menu"></p-columnFilter>
                    </th>
                    <th class="text-nowrap" pSortableColumn="lotNo">Lot Number <p-sortIcon field="lotNo"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="lotNo"
                        display="menu"></p-columnFilter>
                    </th>
                    <th class="text-nowrap" pSortableColumn="lotName">Lot Name <p-sortIcon field="lotName"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="lotName"
                        display="menu"></p-columnFilter>
                    </th>
                    
                    <th class="text-nowrap" pSortableColumn="blockProcessorList">Processor<p-sortIcon field="blockProcessorList"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="blockProcessorList"
                        display="menu"></p-columnFilter>
                    </th>
                    <!-- <th class="text-nowrap" pSortableColumn="subCategory">SubCategory<p-sortIcon field="subCategory"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="subCategory"
                        display="menu"></p-columnFilter>
                    </th> -->
              <!-- <th>Processor </th> -->

                    <!-- <th class="text-nowrap" pSortableColumn="processor">Processor<p-sortIcon field="processor"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="processor"
                        display="menu"></p-columnFilter>
                    </th> -->
                  
                    <!-- <th>Action</th> -->
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lot>
                  <tr >
                    <td >{{lot.date | date: 'dd-MMM-yyyy'}}</td>
                    <td >{{lot.blockDetails.blockNo}}</td>
                    <td >{{lot.category}}</td>
                    <td >{{lot.subCategory}}</td>
                    <td>{{ lot.blockDetails?.height }} x {{ lot.blockDetails?.width }} x {{ lot.blockDetails?.length }}</td>
                    <td >{{lot.blockDetails.totalArea}}</td>
                    <td >₹ {{lot.lotTotalCosting |indianCurrency}}</td>
                    <td >{{lot.warehouseDetails.name}}</td>
                    <td >{{lot.lotNo}}</td>
                    <td >{{lot.lotName}}</td>
                    <td >
                      <p-dropdown [options]="blockProcessorList" appendTo="body" optionLabel="name" optionValue="_id"
                       placeholder="Select Processor" [style]="{ width: '100%' }"  [(ngModel)]="lot.blockDetails.blockProcessor"
                       [filter]="true" filterBy="name" [showClear]="false" (onChange)="onBlockProcessorChange($event, lot.blockDetails.blockNo, lot.lotId)">
                            </p-dropdown>
                    </td> 
                    <!-- <td >{{lot.processor}}</td> -->
                    <!-- <td appShowHide [roles]="['admin', 'super-admin']" class="action-buttons">
                      <p-button [text]="true" icon="fa-solid fa-eye" pTooltip="View" tooltipPosition="bottom"
                        tooltipStyleClass="tooltip" (click)="showLotDetails(lot._id)"></p-button>
                    </td> -->
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="12" class="text-center">No Blocks found.</td>
                  </tr>
                </ng-template>
                <!-- <ng-template pTemplate="footer">
                  <tr>
                    <td colspan="5"></td>
                    <td class="" *ngIf="data">Total Cost</td>
                    <td totalValueDirective [data]="data" [name]="data"></td>
                    <td colspan="2"></td>
                  </tr>
                </ng-template> -->
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>