<p-toast></p-toast>
<div class="page-wrapper">
  <div class="content pb-1" *ngFor="let data of customerDataById">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12 d-flex justify-content-between">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="routes.customers">Customers</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">View Customers</li>
          </ul>
          <ul>
          </ul>
        </div>
      </div>
    </div>

    <div class="page-header invoices-page-header">
      <div class="row align-items-center">
        <div class="col">
          <ul class="breadcrumb invoices-breadcrumb d-flex justify-content-between">
            <li class="breadcrumb-item invoices-breadcrumb-item">
              <a [routerLink]="routes.customers">
                <i class="fa fa-chevron-left"></i> Back to Customer List
              </a>
            </li>
            <li>
              Created On: {{data.createdOn | date: "dd-MMM-yyyy"}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="page-table-header mb-2 m-3">
            <div class="row practice-card">
              <div class="col-xl-6 col-lg-6 col-sm-12">
                <div class="form-group row mb-2" *ngIf="data.name">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Name
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-lg-9 col-form-label">{{ data.name }}</p>
                  </div>
                </div>
                <div class="form-group row mb-2" *ngIf="data.email">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Email
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-lg-9 col-form-label">{{ data.email }}</p>
                  </div>
                </div>
                <div class="form-group row mb-2" *ngIf="data.creaditPeriod">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Credit Period
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-form-label">{{ data.creaditPeriod }} Days</p>
                  </div>
                </div>
                <div class="form-group row mb-2" *ngIf="data.billingAddress">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Billing Address
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-form-label">{{ data.billingAddress }}</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-12" *ngIf="data.phoneNo">
                <div class="form-group row mb-2">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Phone Number
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-form-label">{{ data.phoneNo }}</p>
                  </div>
                </div>

                <div class="form-group row mb-2" *ngIf="data.creaditLimit">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Credit Limit
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-form-label">₹ {{ data.creaditLimit }}</p>
                  </div>
                </div>
                <div class="form-group row mb-2" *ngIf="data.taxNo">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Tax Number
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-form-label">{{ data.taxNo }}</p>
                  </div>
                </div>
                <div class="form-group row mb-2" *ngIf="data.shippingAddress">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Shipping Address
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-form-label">{{ data.shippingAddress }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SALES GRID -->
    <div class="card ">
      <p-tabView>
        <p-tabPanel header="Sales">
          <div class="page-table-header mb-2">
            <div class="row align-items-center">
              <div class="col">
                <div class="doctor-table-blk">
                  <h3>Sales List</h3>
                  <div class="doctor-search-blk">
                    <div class="add-group textbtn">
                      <a class="btn btn-primary add-pluss ms-2 " (click)="navigateToCreateSales()"><img
                          src="assets/img/icons/plus.svg" alt=""> Add New</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="tab-header">
            <span class="header-text">Sales</span>
            <button pButton type="button" label="Create Sales" icon="pi pi-plus" (click)="navigateToCreateSales()"></button>
        </div> -->
          <p-table [value]="salesDataShowById" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '60rem' }"
            [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]">
            <ng-template pTemplate="header">
              <tr class="text-center">
                <th pSortableColumn="salesInvoiceNumber">
                  Invoice Number
                  <p-sortIcon field="salesInvoiceNumber"></p-sortIcon>
                  <p-columnFilter type="text" field="salesInvoiceNumber" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="salesDate">
                  Sales Date <p-sortIcon field="salesDate"></p-sortIcon>
                  <p-columnFilter type="text" field="salesDate" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="salesOrderStatus">
                  Sales Status
                  <p-sortIcon field="salesOrderStatus"></p-sortIcon>
                  <p-columnFilter type="text" field="salesOrderStatus" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="paymentStatus">
                  Payment Status <p-sortIcon field="paymentStatus"></p-sortIcon>
                  <p-columnFilter type="text" field="paymentStatus" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="paidAmount">
                  Paid Amount <p-sortIcon field="paidAmount"></p-sortIcon>
                  <p-columnFilter type="text" field="paidAmount" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="dueAmount">
                  Due Amount <p-sortIcon field="dueAmount"></p-sortIcon>
                  <p-columnFilter type="text" field="dueAmount" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="salesTotalAmount">
                  Total Amount
                  <p-sortIcon field="salesTotalAmount"></p-sortIcon>
                  <p-columnFilter type="text" field="salesTotalAmount" display="menu"></p-columnFilter>
                </th>
                <!-- <th pSortableColumn="paymentStatus">
                  Payment Status <p-sortIcon field="paymentStatus"></p-sortIcon>
                </th> -->
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sales>
              <tr>
                <td>{{ sales.salesInvoiceNumber }}</td>
                <td>{{ sales.salesDate | date: "dd-MMM-yyyy" }}</td>
                <td>{{ sales.salesOrderStatus }}</td>
                <!-- <td>{{ sales.paymentStatus }}</td> -->
                <td *ngIf="sales.paymentStatus == 'Partial Paid'"><p-tag severity="danger" value="Partial Paid"></p-tag></td>
                <td *ngIf="sales.paymentStatus == 'Paid' " ><p-tag severity="success" value="Paid"></p-tag></td>
                <td *ngIf="sales.paymentStatus == 'Unpaid' "><p-tag severity="error" value="Unpaid"></p-tag></td>
                <td>₹ {{ sales.paidAmount | indianCurrency }}</td>
                <td>₹ {{ sales.dueAmount | indianCurrency }}</td>
                <td>₹ {{ sales.salesTotalAmount | indianCurrency }}</td>
                <td appShowHide [roles]="['admin', 'super-admin']">
                  <div class="action-buttons">
                    <p-button [text]="true" icon="fa-solid fa-eye" (click)="showInvoiceDialoge(sales._id)"></p-button>
                    <p-button *ngIf="sales.paymentStatus == 'Unpaid' || sales.paymentStatus ==  'Partial Paid'" [text]="true" icon="fa-solid fa-wallet" (click)="openPaymentDialog(sales._id)" ></p-button>
                    <div *ngIf="sales.paymentStatus != 'Unpaid' && sales.paymentStatus != 'Partial Paid'" class="placeholder"></div>
                    <p-button [text]="true" icon="fa-solid fa-trash" (click)="deleteSales(sales._id)"></p-button>
                  </div>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="footer">
              <tr *ngIf="salesTotalValues.totalPaidAmount > 0 || salesTotalValues.totalDueAmount > 0 || salesTotalValues.totalAmount > 0">
                <td colspan="3"></td>
                <td>Total</td>
                <td>₹ {{ salesTotalValues.totalPaidAmount | indianCurrency }}</td>
                <td>₹ {{ salesTotalValues.totalDueAmount | indianCurrency }}</td>
                <td>₹ {{ salesTotalValues.totalAmount | indianCurrency }}</td>
                <td></td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>


        <!-- PAYMENTS GRID -->
        <p-tabPanel header="Payment In">
          <p-table [value]="paymentListDataByCustomerId" styleClass="p-datatable-striped"
            [tableStyle]="{ 'min-width': '60rem' }" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="salesInvoiceNumber">
                  Invoice Number
                  <p-sortIcon field="salesInvoiceNumber"></p-sortIcon>
                  <p-columnFilter type="text" field="salesInvoiceNumber" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="transactionNo">
                  Transaction No.
                  <p-sortIcon field="transactionNo"></p-sortIcon>
                  <p-columnFilter type="text" field="transactionNo" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="paymentDate">
                  Payment Date <p-sortIcon field="paymentDate"></p-sortIcon>
                  <p-columnFilter type="text" field="paymentDate" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="paymentMode">
                  Payment Mode <p-sortIcon field="paymentMode"></p-sortIcon>
                  <p-columnFilter type="text" field="paymentMode" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="amount">
                  Amount <p-sortIcon field="amount"></p-sortIcon>
                  <p-columnFilter type="text" field="amount" display="menu"></p-columnFilter>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-payment>
              <tr>
                <td class="bold">{{ payment.salesInvoiceNumber }}</td>
                <td class="bold">{{ payment.transactionNo }}</td>
                <td class="bold">
                  {{ payment.paymentDate | date: "dd-MMM-yyyy"}}
                </td>
                <td>{{ payment.paymentMode }}</td>
                <td>₹ {{ payment.amount | indianCurrency }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr *ngIf="paymentInTotalValues.totalPaymentAmount">
                <td colspan="3"></td>
                <td>Total</td>
                <td >₹ {{ paymentInTotalValues.totalPaymentAmount | indianCurrency}}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>


        <!-- Sales Return Grid -->
        <p-tabPanel header="Sales Return">
          <div class="page-table-header mb-2">
            <div class="row align-items-center">
              <div class="col">
                <div class="doctor-table-blk">
                  <h3>Sales Return List</h3>
                  <div class="doctor-search-blk">
                    <div class="add-group textbtn">
                      <a class="btn btn-primary add-pluss ms-2 " (click)="navigateToCreateSalesReturn()"><img
                          src="assets/img/icons/plus.svg" alt=""> Add New</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p-table [value]="salesReturnDataShowById" styleClass="p-datatable-striped"
            [tableStyle]="{ 'min-width': '60rem' }" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]">
            <ng-template pTemplate="header">
              <tr class="text-center">
                <th pSortableColumn="salesInvoiceNumber">
                  Invoice Number
                  <p-sortIcon field="salesInvoiceNumber"></p-sortIcon>
                  <p-columnFilter type="text" field="salesInvoiceNumber" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="returnDate">
                  Return Date <p-sortIcon field="returnDate"></p-sortIcon>
                  <p-columnFilter type="text" field="returnDate" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="returnOrderStatus">
                  Return Status
                  <p-sortIcon field="returnOrderStatus"></p-sortIcon>
                  <p-columnFilter type="text" field="returnOrderStatus" display="menu"></p-columnFilter>

                </th>
                <th pSortableColumn="paymentStatus">
                  Payment Status <p-sortIcon field="paymentStatus"></p-sortIcon>
                  <p-columnFilter type="text" field="paymentStatus" display="menu"></p-columnFilter>

                </th>
                <th pSortableColumn="paidAmount">
                  Paid Amount <p-sortIcon field="paidAmount"></p-sortIcon>
                  <p-columnFilter type="text" field="paidAmount" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="dueAmount">
                  Due Amount <p-sortIcon field="dueAmount"></p-sortIcon>
                  <p-columnFilter type="text" field="dueAmount" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="salesTotalAmount">
                  Total Amount
                  <p-sortIcon field="salesTotalAmount"></p-sortIcon>
                  <p-columnFilter type="text" field="salesTotalAmount" display="menu"></p-columnFilter>
                </th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sales>
              <tr>
                <td>{{ sales.salesInvoiceNumber }}</td>
                <td>{{ sales.returnDate | date: "dd-MMM-yyyy"}}</td>
                <td>{{ sales.returnOrderStatus }}</td>
                <!-- <td>{{ sales.paymentStatus }}</td> -->
                <td *ngIf="sales.paymentStatus == 'Partial Paid'"><p-tag severity="danger" value="Partial Paid"></p-tag></td>
                <td *ngIf="sales.paymentStatus == 'Paid' " ><p-tag severity="success" value="Paid"></p-tag></td>
                <td *ngIf="sales.paymentStatus == 'Unpaid' "><p-tag severity="error" value="Unpaid"></p-tag></td>
                <td>₹ {{ sales.paidAmount | indianCurrency}}</td>
                <td>₹ {{ sales.dueAmount | indianCurrency}}</td>
                <td>₹ {{ sales.salesTotalAmount| indianCurrency }}</td>
                <td appShowHide [roles]="['admin', 'super-admin']">
                  <div class="action-buttons">

                  <p-button [text]="true" icon="fa-solid fa-eye"
                    (click)="showReturnInvoiceDialoge(sales._id)"></p-button>
                  <p-button *ngIf="sales.paymentStatus == 'Unpaid' || sales.paymentStatus ==  'Partial Paid'"
                    [text]="true" icon="fa-solid fa-wallet" (click)="openPaymentReturnDialog(sales._id)"></p-button>
                    <div *ngIf="sales.paymentStatus != 'Unpaid' && sales.paymentStatus != 'Partial Paid'" class="placeholder"></div>
                  <p-button [text]="true" icon="fa-solid fa-trash" (click)="deleteSalesReturn(sales._id)"></p-button>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr *ngIf="salesReturnTotalValues.totalPaidAmount > 0 || salesReturnTotalValues.totalDueAmount > 0 || salesReturnTotalValues.totalAmount > 0">
                <td colspan="3"></td>
                  <td>Total</td>
                  <td  >₹ {{ salesReturnTotalValues.totalPaidAmount | indianCurrency}}</td>
                  <td >₹ {{ salesReturnTotalValues.totalDueAmount  | indianCurrency}}</td>
                  <td  >₹ {{ salesReturnTotalValues.totalSalesReturnAmount | indianCurrency }}</td>
                  <td></td>
              </tr>
          </ng-template>
          </p-table>
        </p-tabPanel>

        <!-- Payment Out Grid -->

        <p-tabPanel header="Payments Out">
          <p-table [value]="paymentReturnDataListById" styleClass="p-datatable-striped" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
            [tableStyle]="{ 'min-width': '60rem' }">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="salesInvoiceNumber">
                  Invoice Numbers
                  <p-sortIcon field="salesInvoiceNumber"></p-sortIcon>
                  <p-columnFilter type="text" field="salesInvoiceNumber" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="transactionNo">
                  Transaction No.
                  <p-sortIcon field="transactionNo"></p-sortIcon>
                  <p-columnFilter type="text" field="transactionNo" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="paymentDate">
                  Payment Date <p-sortIcon field="paymentDate"></p-sortIcon>
                  <p-columnFilter type="text" field="paymentDate" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="paymentMode">
                  Payment Mode <p-sortIcon field="paymentMode"></p-sortIcon>
                  <p-columnFilter type="text" field="paymentMode" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="amount">
                  Amount <p-sortIcon field="amount"></p-sortIcon>
                  <p-columnFilter type="text" field="amount" display="menu"></p-columnFilter>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-payment>
              <tr>
                <td class="bold">{{ payment.salesInvoiceNumber }}</td>
                <td class="bold">{{ payment.transactionNo }}</td>
                <td class="bold">
                  {{ payment.paymentDate | date: "dd-MMM-yyyy"}}
                </td>
                <td>{{ payment.paymentMode }}</td>
                <td>₹ {{ payment.amount | indianCurrency}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr  *ngIf="paymentOutTotalValues.totalAmount ">
                <td colspan="3"></td>
                <td>Total</td>
                <td>₹ {{ paymentOutTotalValues.totalAmount | indianCurrency}}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>

<app-invoice-dialog [showInvoiceDialog]="showInvoiceDialog" [salesDataById]="salesDataShowById"
  [paymentDataListById]="paymentDataListById" (callbackModal)="callBackModal()" (close)="close()"
  [header]="header"></app-invoice-dialog>

<app-payments-invoice-dialog [ShowPaymentInvoice]="showPaymentDialog" [dataById]="paymentObject" [header]="header"
  (callbackModal)="callBackModal()" (close)="close()"></app-payments-invoice-dialog>

<app-confirm-dialog [showDialog]="showDialoge" (callbackModal)="callBackModal()" (close)="close()"
  [data]="modalData"></app-confirm-dialog>