<p-toast></p-toast>
<div class="page-wrapper">
  <div class="content" *ngFor="let data of customerDataById">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12 d-flex justify-content-between">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="routes.customers">Customers</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">View Customers</li>
          </ul>
          <ul>
            <!-- <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
              [routerLink]="routes.customers">
              Back
            </button> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="page-header invoices-page-header">
      <div class="row align-items-center">
          <div class="col">
              <ul class="breadcrumb invoices-breadcrumb d-flex justify-content-between">
                  <li class="breadcrumb-item invoices-breadcrumb-item">
                      <a [routerLink]="routes.customers">
                          <i class="fa fa-chevron-left"></i> Back to Customer List
                      </a>
                  </li>
                  <li>
                    Created On: {{data.createdOn | date: "dd-MM-yyyy"}}
                  </li>
              </ul>
          </div>
      </div>
  </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="page-table-header mb-2 m-3">
            <div class="row practice-card" >
              <div class="col-xl-6 col-lg-6 col-sm-12">
                <div class="form-group row mb-2">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Name
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-lg-9 col-form-label">{{ data.name }}</p>
                  </div>
                </div>
                <div class="form-group row mb-2">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Email
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-lg-9 col-form-label">{{ data.email }}</p>
                  </div>
                </div>
                <div class="form-group row mb-2">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Phone Number
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-form-label">{{ data.phoneNo }}</p>
                  </div>
                </div>
                <!-- <div class="form-group row mb-2">
                                    <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Opening Balance</h5>
                                    <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-form-label">{{data.openingBalance}}</p>
                                    </div>
                                </div> -->
                <div class="form-group row mb-2">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Billing Address
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-form-label">{{ data.billingAddress }}</p>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-sm-12">
                <div class="form-group row mb-2">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Credit Period
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-form-label">{{ data.creaditPeriod }}</p>
                  </div>
                </div>
                <div class="form-group row mb-2">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Credit Limit
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-form-label">{{ data.creaditLimit }}</p>
                  </div>
                </div>
                <!-- <div class="form-group row mb-2">
                                    <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Balance</h5>
                                    <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-form-label">{{data.openingBalance}}</p>
                                    </div>
                                </div> -->
                <div class="form-group row mb-2">
                  <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                    Tax Number
                  </h5>
                  <div class="col-lg-9 col-md-9 col-xl-9">
                    <p class="col-form-label">{{ data.taxNo }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SALES GRID -->
    <div class="card">
      <p-tabView>
        <p-tabPanel header="Sales">
          <p-table [value]="salesDataShowById" [tableStyle]="{ 'min-width': '60rem' }">
            <ng-template pTemplate="header" >
              <tr class="text-center">
                <th pSortableColumn="salesInvoiceNumber">
                  Invoice Number
                  <p-sortIcon field="salesInvoiceNumber"></p-sortIcon>
                  <p-columnFilter type="text" field="salesInvoiceNumber" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="salesDate">
                  Sales Date <p-sortIcon field="salesDate"></p-sortIcon>
                  <p-columnFilter type="text" field="salesDate" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="salesOrderStatus">
                  Sales Status
                  <p-sortIcon field="salesOrderStatus"></p-sortIcon>
                </th>
                <th pSortableColumn="paidAmount">
                  Paid Amount <p-sortIcon field="paidAmount"></p-sortIcon>
                  <p-columnFilter type="text" field="paidAmount" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="dueAmount">
                  Due Amount <p-sortIcon field="dueAmount"></p-sortIcon>
                  <p-columnFilter type="text" field="dueAmount" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="salesTotalAmount">
                  Total Amount
                  <p-sortIcon field="salesTotalAmount"></p-sortIcon>
                  <p-columnFilter type="text" field="salesTotalAmount" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="paymentStatus">
                  Payment Status <p-sortIcon field="paymentStatus"></p-sortIcon>
                </th>
                <th >Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sales>
              <tr>
                <td>{{ sales.salesInvoiceNumber }}</td>
                <td>{{ sales.salesDate }}</td>
                <td>{{ sales.salesOrderStatus }}</td>
                <td>₹ {{ sales.paidAmount }}</td>
                <td>₹ {{ sales.dueAmount }}</td>
                <td>₹ {{ sales.salesTotalAmount }}</td>
                <td>{{ sales.paymentStatus }}</td>
                <td appShowHide [roles]="['admin', 'super-admin']" style="display: flex; gap: 2px;" >
                  <p-button [text]="true" icon="fa-solid fa-eye" (click)="showInvoiceDialoge(sales._id)"></p-button>
                  <p-button [text]="true" icon="fa-solid fa-wallet" (click)="openPaymentDialog(sales._id)"></p-button>
                  <p-button [text]="true" icon="fa-solid fa-trash" (click)="deleteSales(sales._id)"></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>




        <!-- PAYMENTS GRID -->
        <p-tabPanel header="Payments">
          <p-table [value]="paymentListDataByCustomerId" [tableStyle]="{ 'min-width': '60rem' }">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="transactionNo">
                  Transaction No.
                  <p-sortIcon field="transactionNo"></p-sortIcon>
                  <p-columnFilter type="text" field="transactionNo" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="paymentDate">
                  Payment Date <p-sortIcon field="paymentDate"></p-sortIcon>
                  <p-columnFilter type="text" field="paymentDate" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="amount">
                  Amount <p-sortIcon field="amount"></p-sortIcon>
                  <p-columnFilter type="text" field="amount" display="menu"></p-columnFilter>
                </th>
                <th pSortableColumn="paymentMode">
                  Payment Mode <p-sortIcon field="paymentMode"></p-sortIcon>
                  <p-columnFilter type="text" field="paymentMode" display="menu"></p-columnFilter>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-payment>
              <tr>
                <td class="bold">{{ payment.transactionNo }}</td>
                <td class="bold">
                  {{ payment.paymentDate }}
                </td>
                <td>₹ {{ payment.amount }}</td>
                <td>{{ payment.paymentMode }}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>

<app-invoice-dialog [showInvoiceDialog]="showInvoiceDialog" [salesDataById]="salesDataShowById"
  [paymentDataListById]="paymentDataListById" (callbackModal)="callBackModal()" (close)="close()"></app-invoice-dialog>

<app-payments-invoice-dialog [ShowPaymentInvoice]="showPaymentDialog" [dataById]="paymenyObject"
  (callbackModal)="callBackModal()" (close)="close()"></app-payments-invoice-dialog>

<app-confirm-dialog [showDialog]="showDialoge" (callbackModal)="callBackModal()" (close)="close()"
  [data]="modalData"></app-confirm-dialog>