<p-toast></p-toast>
<div class="page-wrapper">
  <div class="content">

    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
            <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
            <li class="breadcrumb-item">
              <a>Settings</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/settings/users']">Users</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Add User</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body card-table">
            <div class="page-table-header mb-2">

              <form [formGroup]="ProviderGroup" (ngSubmit)="ProviderForm()">
                <div class="row">

                  <div class="d-flex m-b-10" style="justify-content: space-between;">
                    <h3>Add User</h3>
                    <div class=" settings-btns text-end m-b-10">
                      <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
                        [disabled]="!ProviderGroup.valid">Submit</button>
                      <button class="btn btn-secondary" [routerLink]="['/settings/users']">Cancel</button>
                    </div>

                  </div>

                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <h4>Please select the user roles</h4>
                    <div>
                      <div class="row">
                        <div class="col-md-4 checkbox">
                          <p-checkbox [binary]="true"  formControlName="SystemAdminCheckBox" class="m-r-10">
                          </p-checkbox>
                          <label for="">System Admin</label>
                        </div>
                        <div class="col-md-4 checkbox">
                          <p-checkbox [binary]="true" formControlName="ProviderRole" class="m-r-10">
                          </p-checkbox>
                          <label for="">Provider</label>
                        </div>
                        <div class="col-md-4 checkbox">
                          <p-checkbox [binary]="true" formControlName="ClinicalAssistantCheckBox" class="m-r-10">
                          </p-checkbox>
                         <label for=""> Help Desk</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <!-- second row -->
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="First Name">First Name
                        <span class="login-danger">*</span></label>
                      <input class="form-control bor" type="text" formControlName="FirstName" required placeholder />
                      <div *ngIf="
                                ProviderGroup.get('FirstName')?.hasError(
                                  'required'
                                ) && ProviderGroup.get('FirstName')?.touched
                              " class="login-danger Font_size">
                        This field is reqiured
                      </div>
                      <div *ngIf="
                                ProviderGroup.get('FirstName')?.hasError(
                                  'pattern'
                                ) && ProviderGroup.get('FirstName')?.touched
                              " class="login-danger Font_size">
                        Input must be between 1 and 50 characters.
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="Middle Name">Middle Name
                      </label>
                      <input class="form-control" formControlName="MiddleName" type="text" placeholder />
                      <div *ngIf="
                                ProviderGroup.get('MiddleName')?.hasError(
                                  'pattern'
                                ) && ProviderGroup.get('MiddleName')?.touched
                              " class="login-danger Font_size">
                        Input must be between 1 and 50 characters.
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="Last Name">Last Name
                        <span class="login-danger">*</span></label>
                      <input class="form-control" formControlName="LastName" required type="text" placeholder />
                      <div *ngIf="
                                ProviderGroup.get('LastName')?.hasError(
                                  'required'
                                ) && ProviderGroup.get('LastName')?.touched
                              " class="login-danger Font_size">
                        This field is reqiured
                      </div>
                      <div *ngIf="
                                ProviderGroup.get('LastName')?.hasError(
                                  'pattern'
                                ) && ProviderGroup.get('LastName')?.touched
                              " class="login-danger Font_size">
                       Input must be between 1 and 50 characters.
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="PhoneNumber">Phone Number
                        <span class="login-danger">*</span></label>
                      <input class="form-control" type="tel" formControlName="PhoneNumber" required
                        placeholder="xxx-xxx-xxxx" />
                      <div *ngIf="
                                ProviderGroup.get('PhoneNumber')?.hasError(
                                  'reqiured'
                                ) && ProviderGroup.get('PhoneNumber')?.touched
                              " class="login-danger Font_size">
                        This field is reqiured
                      </div>
                      <div class="login-danger Font_size" *ngIf="
                                ProviderGroup.get('PhoneNumber')?.hasError(
                                  'pattern'
                                ) && ProviderGroup.get('PhoneNumber')?.touched
                              ">
                        Enter enter a valid USA number.
                      </div>
                    </div>
                  </div>
                  <!-- therd row -->
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="SocialSecurityNumber">Social Security Number
                        <span class="login-danger">*</span></label>
                      <input formControlName="ssn" required class="form-control" type="text" placeholder="Enter 9-Digit Number"/>
                      <div *ngIf="
                                ProviderGroup.get(
                                  'ssn'
                                )?.hasError('required') &&
                                ProviderGroup.get('ssn')
                                  ?.touched
                              " class="login-danger Font_size">
                        This field is reqiured.
                      </div>
                      <div class="login-danger Font_size" *ngIf="
                                ProviderGroup.get('ssn')?.hasError(
                                  'pattern'
                                ) && ProviderGroup.get('ssn')?.touched
                              ">
                        Please enter a valid SSN.
                      </div>
                    </div>
                  </div>
                  <!-- four row -->
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="Email">Email<span class="login-danger">*</span></label>
                      <input class="form-control" type="email" placeholder formControlName="Email" required />
                      <div *ngIf="
                                ProviderGroup.get('Email')?.hasError(
                                  'required'
                                ) && ProviderGroup.get('Email')?.touched
                              " class="login-danger Font_size">
                        Email field is reqiured
                      </div>
                      <div *ngIf="ProviderGroup.get('Email')?.errors?.['email']" class="login-danger Font_size">
                        Please enter a valid email address
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="Password">Password
                        <span class="login-danger">*</span></label>
                      <input class="form-control pass-input"
                      [type]="passwordClass ? 'text' : 'password'" type="password" placeholder formControlName="Password" required
                        minlength="3" />
                        <span (click)="togglePassword()" (keyup.enter)="togglePassword()"  [ngClass] = "passwordClass ? 'feather icon-eye' : 'feather icon-eye-off'"
                      class="profile-views toggle-password"  tabindex="0"
                    ></span>

                      <div *ngIf="
                                ProviderGroup.get('Password')?.hasError(
                                  'required'
                                ) && ProviderGroup.get('Password')?.touched
                              " class="login-danger Font_size">
                        Password field is reqiured
                      </div>
                      <div class="login-danger Font_size" *ngIf="ProviderGroup.get('Password')?.errors?.['minlength']">
                        Password must be at least 3 characters long
                      </div>
                      <div class="login-danger Font_size" *ngIf="ProviderGroup.get('Password')?.errors?.['maxlength']">
                        Password should not be more than 16 characters.
                      </div>
                      <div class="login-danger Font_size" *ngIf="
                        ProviderGroup.get('Password')?.hasError(
                          'pattern'
                        )
                      ">
                        Must contain at least 1 of the following special characters (!$%^()_+*<>#&#64;)
                      </div>

                    </div>
                  </div>
                  @if(ProviderGroup.value.ProviderRole){
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="NPI">Individual NPI<span class="login-danger">*</span></label>
                      <input formControlName="NPI" class="form-control" type="text"
                        placeholder="Enter 10-digit number" />
                      <div class="login-danger Font_size" *ngIf="
                                ProviderGroup.get('NPI')?.hasError(
                                  'pattern'
                                ) && ProviderGroup.get('NPI')?.touched
                              ">
                        Please enter a 10-digit NPI number.
                      </div>
                    </div>
                  </div>

                  <!-- first row -->
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="Taxonomy Code">Taxonomy Code<span class="login-danger">*</span></label>
                      <input class="form-control bor" formControlName="TaxonomyCode" type="text"
                        placeholder="Enter 10-digit number" />
                      <div class="login-danger Font_size" *ngIf="
                                ProviderGroup.get('TaxonomyCode')?.hasError(
                                  'pattern'
                                ) && ProviderGroup.get('TaxonomyCode')?.touched
                              ">
                        Please enter a valid Taxanomy number.
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="">Provider's Type
                        <span class="login-danger">*</span></label>
                      <p-dropdown [options]="providerType" optionLabel="label" optionValue="value" appendTo="body"
                        formControlName="ProviderSelect" [style]="{'width':'100%'}" [filter]="true" filterBy="value"
                        [showClear]="true">
                      </p-dropdown>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="Specialty">Specialty
                        <span class="login-danger">*</span></label>
                      <p-dropdown [options]="providerSpeciality" optionLabel="label" optionValue="value" appendTo="body"
                        formControlName="SpecialtySelect" [style]="{'width':'100%'}" [filter]="true" filterBy="value"
                        [showClear]="true">
                      </p-dropdown>
                    </div>
                  </div>
                  }
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>