<p-toast></p-toast>
<div class="">
    <div class="content">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item">Settings</li>
                        <li class="breadcrumb-item">
                            <i class="feather icon-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/settings/product']">
                                Slabs
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <i class="feather icon-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item active">Add New Slabs</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="page-table-header mb-2">
                            <form [formGroup]="productForm" (ngSubmit)="ProductFormSubmit()">
                                <div class="row">
                                    <div class="d-flex m-b-10" style="justify-content: space-between">
                                        <h3>Add New Slabs</h3>
                                        <div class="settings-btns text-end m-b-10">
                                            <button type="submit"
                                                class="border-0 btn btn-primary btn-gradient-primary m-r-10"
                                                [disabled]="!productForm.valid">
                                                Submit
                                            </button>
                                            <button class="btn btn-secondary" [routerLink]="['/settings/product/']">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group local-forms">
                                            <label for="lotNo">Lot No.
                                                <span class="login-danger">*</span></label>
                                            <p-dropdown [options]="lotNoList" styleClass="" appendTo="body"
                                                optionLabel="name" optionValue="name" placeholder="Select lot Number"
                                                formControlName="lotNo" [style]="{'width':'100%'}" [filter]="true"
                                                filterBy="name" [showClear]="true">
                                            </p-dropdown>
                                            <div *ngIf="
                                            productForm.get('lotNo')?.hasError(
                                              'required'
                                            ) && productForm.get('lotNo')?.touched
                                          ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group local-forms">
                                            <label for="blockNo">Block Number
                                                <span class="login-danger">*</span></label>
                                            <p-dropdown [options]="blockNoList" styleClass="" appendTo="body"
                                                optionLabel="name" optionValue="name" placeholder="Select block Number"
                                                formControlName="blockNo" [style]="{'width':'100%'}" [filter]="true"
                                                filterBy="name" [showClear]="true">
                                            </p-dropdown>
                                            <div *ngIf="
                                            productForm.get('blockNo')?.hasError(
                                              'required'
                                            ) && productForm.get('blockNo')?.touched
                                          ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group local-forms">
                                            <label for="category">Category
                                                <span class="login-danger">*</span></label>
                                            <p-dropdown [options]="categoryList" styleClass="" appendTo="body"
                                                optionLabel="name" optionValue="name" placeholder="Select Category"
                                                formControlName="category" [style]="{'width':'100%'}" [filter]="true"
                                                filterBy="name" [showClear]="true">
                                            </p-dropdown>
                                            <div *ngIf="
                                            productForm.get('category')?.hasError(
                                              'required'
                                            ) && productForm.get('category')?.touched
                                          ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group local-forms">
                                            <label for="subCategory">Sub Category
                                                <span class="login-danger">*</span></label>
                                            <p-dropdown [options]="subCategoryList" styleClass="" appendTo="body"
                                                placeholder="Select Sub Category" optionLabel="name" optionValue="name"
                                                formControlName="subCategory" [style]="{'width':'100%'}" [filter]="true"
                                                filterBy="name" [showClear]="true">
                                            </p-dropdown>
                                            <div *ngIf="
                                            productForm.get('subCategory')?.hasError(
                                              'required'
                                            ) && productForm.get('subCategory')?.touched
                                          ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12 col-md-6">
                                        <div class="form-group local-forms">
                                            <label for="height">Height<span class="login-danger">*</span></label>
                                            <input class="form-control" type="text" placeholder="Enter Slab Height"
                                                formControlName="height" />
                                            <div *ngIf="
                                            productForm.get('height')?.hasError(
                                              'required'
                                            ) && productForm.get('height')?.touched
                                          ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                            <div *ngIf="
                                            productForm.get('height')?.hasError(
                                              'min'
                                            ) && productForm.get('height')?.touched
                                          ">
                                                <span class="login-danger">Input must be at least 0.</span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group local-forms">
                                            <label for="width">Width</label>
                                            <input class="form-control" type="number" placeholder="Enter Slab Width"
                                                formControlName="width" />
                                            <div *ngIf="
                                                    productForm.get('width')?.hasError(
                                                      'required'
                                                    ) && productForm.get('width')?.touched
                                                  ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                            <div *ngIf="
                                                    productForm.get('width')?.hasError(
                                                      'min'
                                                    ) && productForm.get('width')?.touched
                                                  ">
                                                <span class="login-danger">Input must be at least 0. </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group local-forms">
                                            <label for="length">Length</label>
                                            <input class="form-control" type="number" placeholder="Enter Slab Length"
                                                formControlName="length" />
                                            <div *ngIf="
                                                    productForm.get('length')?.hasError(
                                                      'required'
                                                    ) && productForm.get('length')?.touched
                                                  ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                            <div *ngIf="
                                                    productForm.get('length')?.hasError(
                                                      'min'
                                                    ) && productForm.get('length')?.touched
                                                  ">
                                                <span class="login-danger">Input must be at least 0. </span>
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <div class="col-12 col-md-6">
                                        <div class="form-group local-forms">
                                            <label for="totalSqrFt">Total Square Ft.</label>
                                            <div class="input-group">
                                                <!-- <div class="input-group-prepend">
                                                    <span class="input-group-text">₹</span>
                                                </div> -->
                                                <input class="form-control" type="number" placeholder="0"
                                                    formControlName="totalSqrFt" />
                                            </div>
                                            <div *ngIf="
                                            productForm.get('totalSqrFt')?.hasError(
                                              'required'
                                            ) && productForm.get('totalSqrFt')?.touched
                                          ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                            <div *ngIf="
                                            productForm.get('totalSqrFt')?.hasError(
                                              'min'
                                            ) && productForm.get('totalSqrFt')?.touched
                                          ">
                                                <span class="login-danger">Input must be at least 0.</span>
                                            </div>


                                        </div>
                                    </div>

                                   
                                    <div class="col-12 col-md-6">
                                        <div class="form-group local-forms">
                                            <label for="totalCosting">Total Costing</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">₹</span>
                                                </div>
                                                <input class="form-control" type="number" placeholder="0"
                                                    formControlName="totalCosting" />
                                            </div>
                                            <div *ngIf="
                                            productForm.get('totalCosting')?.hasError(
                                              'required'
                                            ) && productForm.get('totalCosting')?.touched
                                          ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                            <div *ngIf="
                                            productForm.get('totalCosting')?.hasError(
                                              'min'
                                            ) && productForm.get('totalCosting')?.touched
                                          ">
                                                <span class="login-danger">Input must be at least 0.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group local-forms">
                                            <label for="perSellPrice">Per Sell Price</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">₹</span>
                                                </div>
                                                <input class="form-control" type="number" placeholder="0"
                                                    formControlName="perSellPrice" />
                                            </div>
                                            <div *ngIf="
                                            productForm.get('perSellPrice')?.hasError(
                                              'required'
                                            ) && productForm.get('perSellPrice')?.touched
                                          ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                            <div *ngIf="
                                            productForm.get('perSellPrice')?.hasError(
                                              'min'
                                            ) && productForm.get('perSellPrice')?.touched
                                          ">
                                                <span class="login-danger">Input must be at least 0.</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>