<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="routes.salary">Payroll </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Add Employee Salary</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="addSalaryForm" (ngSubmit)="addSalaryFormSubmit()">
              <div class="row">
                <div class="d-flex m-b-10 " style="justify-content: space-between;">
                  <h4>Add Employee Salary</h4>
                  <div class="settings-btns text-end m-b-10">
                    <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
                      [disabled]="!addSalaryForm.valid">
                      Submit
                    </button>
                    <button class="btn btn-secondary" [routerLink]="routes.salary">
                      Cancel
                    </button>
                  </div>     
                </div>    
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="type">Type </label>
                      <p-dropdown [style]="{ width: '100%' }" pl aceholder="Select staff" [options]="staff"
                        formControlName="type" formControlName="type" optionLabel="value" optionValue="value"
                        display="chip" [filter]="true" filterBy="name" [showClear]="true">
                      </p-dropdown>
                      <div *ngIf="addSalaryForm.get('type')?.errors?.['required'] && addSalaryForm.get('type').touched"
                        class="login-danger Font_size">
                        Field is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="netSalary"> Net Salary </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">₹</span>
                        </div>
                        <input class="form-control" formControlName="netSalary" type="number" value="$1000" />
                      </div>
                      <div
                        *ngIf="addSalaryForm.get('netSalary')?.errors?.['required'] && addSalaryForm.get('netSalary').touched"
                        class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div
                        *ngIf="addSalaryForm.get('netSalary')?.errors?.['min'] && addSalaryForm.get('netSalary').touched || addSalaryForm.get('netSalary')?.errors?.['max'] && addSalaryForm.get('netSalary').touched"
                        class="login-danger Font_size">
                        Input must be between 1000 to 10,000,00.
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="basicSalary">Basic Salary </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">₹</span>
                        </div>
                        <input class="form-control" formControlName="basicSalary" type="number" value="$1000" />
                      </div>
                      <div
                        *ngIf="addSalaryForm.get('basicSalary')?.errors?.['required'] && addSalaryForm.get('basicSalary').touched"
                        class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div
                        *ngIf="addSalaryForm.get('basicSalary')?.errors?.['min'] && addSalaryForm.get('basicSalary').touched || addSalaryForm.get('basicSalary')?.errors?.['max'] && addSalaryForm.get('basicSalary').touched"
                        class="login-danger Font_size">
                        Input must be between 1000 to 10,000,00.
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="StaffName">Employee </label>
                      <p-dropdown [style]="{ width: '100%' }" pl aceholder="Select staff" [options]="staff"
                        formControlName="StaffName" formControlName="StaffName" optionLabel="value" optionValue="value"
                        display="chip" [filter]="true" filterBy="name" [showClear]="true">
                      </p-dropdown>
                      <div
                        *ngIf="addSalaryForm.get('StaffName')?.errors?.['required'] && addSalaryForm.get('StaffName').touched"
                        class="login-danger Font_size">
                        Field is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="taxDeductedAtSource">TDS </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">₹</span>
                        </div>
                        <input class="form-control" formControlName="taxDeductedAtSource" type="number" value="$600" />
                      </div>
                      <div
                        *ngIf="addSalaryForm.get('taxDeductedAtSource')?.errors?.['required'] && addSalaryForm.get('taxDeductedAtSource').touched"
                        class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div
                        *ngIf="addSalaryForm.get('taxDeductedAtSource')?.errors?.['min'] && addSalaryForm.get('taxDeductedAtSource').touched || addSalaryForm.get('taxDeductedAtSource')?.errors?.['max'] && addSalaryForm.get('taxDeductedAtSource').touched"
                        class="login-danger Font_size">
                        Input must be between 1000 to 10,000,00.
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="houseRentAllowance">HRA (15%) </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">₹</span>
                        </div>
                        <input class="form-control" formControlName="houseRentAllowance" type="number" value="$600" />
                      </div>
                      <div
                        *ngIf="addSalaryForm.get('houseRentAllowance')?.errors?.['required'] && addSalaryForm.get('houseRentAllowance').touched"
                        class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div
                        *ngIf="addSalaryForm.get('houseRentAllowance')?.errors?.['min'] && addSalaryForm.get('houseRentAllowance').touched || addSalaryForm.get('houseRentAllowance')?.errors?.['max'] && addSalaryForm.get('houseRentAllowance').touched"
                        class="login-danger Font_size">
                        Input must be between 1000 to 10,000,00.
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="employeeStateInsurance">ESI </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">₹</span>
                        </div>
                        <input class="form-control" formControlName="employeeStateInsurance" type="number"
                          value="$500" />
                      </div>
                      <div
                        *ngIf="addSalaryForm.get('employeeStateInsurance')?.errors?.['required'] && addSalaryForm.get('employeeStateInsurance').touched"
                        class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div
                        *ngIf="addSalaryForm.get('employeeStateInsurance')?.errors?.['min'] && addSalaryForm.get('employeeStateInsurance').touched || addSalaryForm.get('employeeStateInsurance')?.errors?.['max'] && addSalaryForm.get('employeeStateInsurance').touched"
                        class="login-danger Font_size">
                        Input must be between 1000 to 10,000,00.
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="providentFund">PF </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">₹</span>
                        </div>
                        <input class="form-control" formControlName="providentFund" type="number" value="$60" />
                      </div>
                      <div
                        *ngIf="addSalaryForm.get('providentFund')?.errors?.['required'] && addSalaryForm.get('providentFund').touched"
                        class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div
                        *ngIf="addSalaryForm.get('providentFund')?.errors?.['min'] && addSalaryForm.get('providentFund').touched || addSalaryForm.get('providentFund')?.errors?.['max'] && addSalaryForm.get('providentFund').touched"
                        class="login-danger Font_size">
                        Input must be between 1000 to 10,000,00.
                      </div>
                    </div>
                  </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>