<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Sales List</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <!-- 
    <div class="card report-card">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group local-forms">
              <label for="">Customer</label>
              <p-dropdown [style]="{'width':'100%'}" placeholder="--Select Customer--" [options]="customerList"
                optionLabel="name" optionValue="name" display="chip" [showClear]="true">
              </p-dropdown>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group local-forms">
              <label for="">Invoice Number</label>
              <input type="text" [(ngModel)]="searchDataValue"
              (ngModelChange)="searchData(searchDataValue)" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group local-forms">
              <label for="">Start Date</label>
              <p-calendar dataType="string" appendTo="body" dateFormat="mm/dd/yy" formControlName="StartDate"
                placeholder="mm/dd/yyyy" [styleClass]="'col-12'"></p-calendar>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group local-forms">
              <div class="report-btn">
                <a href="" class="btn">
                  <img src="assets/img/invoices-icon5.png" alt="" class="me-2" />
                  Generate report
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="card invoices-tabs-card">
      <div class="card-body card-body pt-0 pb-0">
        <div class="invoices-main-tabs">
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-8">
              <div class="invoices-tabs">
                <ul>
                  <li>
                    <a [routerLink]="routes.Sales" class="active">All Sales</a>
                  </li>
                  <!-- <li><a [routerLink]="routes.paidSales">Paid</a></li>
                  <li><a [routerLink]="routes.unpaidSales">Unpaid</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="invoices-settings-btn">
                <a [routerLink]="routes.addSales" class="btn">
                  <i class="feather icon-plus-circle feather-circle me-2"></i>
                  New Sales
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card inovices-card">
          <div class="card-body">
            <div class="inovices-widget-header">
              <span class="inovices-widget-icon">
                <img src="assets/img/invoices-icon1.svg" alt="" />
              </span>
              <div class="inovices-dash-count">
                <div class="inovices-amount">$8,78,797</div>
              </div>
            </div>
            <p class="inovices-all">All Sales <span>{{salesListData.length}}</span></p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card inovices-card">
          <div class="card-body">
            <div class="inovices-widget-header">
              <span class="inovices-widget-icon">
                <img src="assets/img/invoices-icon2.svg" alt="" />
              </span>
              <div class="inovices-dash-count">
                <div class="inovices-amount">$4,5884</div>
              </div>
            </div>
            <p class="inovices-all">Paid Sales <span>60</span></p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card inovices-card">
          <div class="card-body">
            <div class="inovices-widget-header">
              <span class="inovices-widget-icon">
                <img src="assets/img/invoices-icon3.svg" alt="" />
              </span>
              <div class="inovices-dash-count">
                <div class="inovices-amount">$2,05,545</div>
              </div>
            </div>
            <p class="inovices-all">Unpaid Sales <span>70</span></p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body p-4">
            <p-table [value]="salesListData" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5"
              [rowsPerPageOptions]="[5, 10, 20]" [(selection)]="selectedSales">
              <ng-template pTemplate="header">
                <tr>
                  <th appShowHide [roles]="['admin', 'super-admin']">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th pSortableColumn="salesInvoiceNumber">Invoice Number <p-sortIcon
                      field="salesInvoiceNumber"></p-sortIcon>
                    <p-columnFilter type="text" field="salesInvoiceNumber" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="salesDate">Sales Date <p-sortIcon field="salesDate"></p-sortIcon>
                    <p-columnFilter type="text" field="salesDate" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="customer.name">Customer <p-sortIcon field="customer"></p-sortIcon>
                    <p-columnFilter type="text" field="customer" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="salesOrderStatus">Sales Status <p-sortIcon field="salesOrderStatus"></p-sortIcon>
                  </th>
                  <th pSortableColumn="paidAmount">Paid Amount <p-sortIcon field="paidAmount"></p-sortIcon>
                    <p-columnFilter type="text" field="paidAmount" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="salesTotalAmount">Total Amount <p-sortIcon field="salesTotalAmount"></p-sortIcon>
                    <p-columnFilter type="text" field="salesTotalAmount" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="paymentStatus">Payment Status <p-sortIcon field="paymentStatus"></p-sortIcon>
                  </th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-sales>
                <tr>
                  <td appShowHide [roles]="['admin', 'super-admin']">
                    <p-tableCheckbox [value]="sales"></p-tableCheckbox>
                  </td>
                  <td>{{sales.salesInvoiceNumber}}</td>
                  <td>{{sales.salesDate}}</td>
                  <td>{{sales.customer.name}}</td>
                  <td>{{sales.salesOrderStatus}}</td>
                  <td>{{sales.paidAmount}}</td>
                  <td>{{sales.salesTotalAmount}}</td>
                  <td>{{sales.paymentStatus}}</td>
                  <td style="display: flex; gap: 5px;" appShowHide [roles]="['admin', 'super-admin']">
                    <p-button [text]="true" icon="fa-solid fa-eye" (click)="showDialog(sales._id)"></p-button>
                    <p-button [text]="true" icon="fa-solid fa-trash" (click)="deleteSales(sales._id)"></p-button>
                    <p-button [text]="true" icon="fa-solid fa-edit" (click)="editSalesRout(sales._id)"
                      *ngIf="sales.paymentStatus == 'Unpaid'"></p-button>

                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>


<app-confirm-dialog [showDialog]="showDialoge" (callbackModal)="callBackModal()" (close)="close()"
  [data]="modalData"></app-confirm-dialog>

<p-dialog header="Sales Details" [(visible)]="visible" *ngFor="let sales of salesDataById" [modal]="true"
  [style]="{width: '80vw'}">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="card invoice-info-card">
            <div class="card-body pb-0">
              <div class="invoice-item invoice-item-one">
                <div class="row">
                  <div class="col-md-6">
                    <div class="invoice-logo d-flex justify-content-start">
                      <img src="assets/img/logo-dark.png" alt="logo">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="invoice-info">
                      <div class="invoice-head">
                        <h2 class="text-primary">Sales</h2>
                        <p>Invoice Number : {{sales.salesInvoiceNumber}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="card card-table show-entire">
                    <div class="page-table-header mb-2 m-3">
                      <div class="row practice-card">
                        <div class="col-xl-6 col-lg-6 col-sm-12">

                          <div class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Customer:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">{{sales.customer.name}}</p>
                            </div>
                          </div>
                          <div class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Sales Date:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">{{sales.salesDate}}</p>
                            </div>
                          </div>

                          <div class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Paid Amount:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">{{sales.paidAmount}}</p>
                            </div>
                          </div>
                          <div class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Due Amount:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">{{sales.dueAmount}}</p>
                            </div>
                          </div>


                        </div>
                        <div class="col-xl-6 col-lg-6 col-sm-12">

                          <div class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Order Taken By:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-form-label">{{sales.createdByName}}</p>
                            </div>
                          </div>
                          <div class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Order Status:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-form-label">{{sales.salesOrderStatus}}</p>
                            </div>
                          </div>

                          <div class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Payment Status:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-form-label">{{sales.paymentStatus}}</p>
                            </div>
                          </div>


                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>


              <div class="card">
                <p-tabView>
                  <p-tabPanel header="Payments">
                    <p-tabPanel header="Items">
                      <p-table [value]="salesDataById" [tableStyle]="{'min-width': '60rem'}">
                        <ng-template pTemplate="header">
                          <tr>
                            <th pSortableColumn="salesItemCategory">Category
                            </th>
                            <th pSortableColumn="salesItemSubCategory">Sub Category
                            </th>
                            <th pSortableColumn="unit">Unit
                            </th>
                            <th pSortableColumn="salesItemName">Name
                            </th>

                            <th pSortableColumn="salesItemQuantity">Quantity
                            </th>
                            <th pSortableColumn="salesItemUnitPrice">Unit Price
                            </th>
                            <th pSortableColumn="salesItemSubTotal">Sub Total
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                          <tr *ngFor="let sales of data.salesItemDetails">
                            <td>{{sales.salesItemCategory}}</td>
                            <td>{{sales.salesItemSubCategory}}</td>
                            <td>{{sales.unit}}</td>
                            <td>{{sales.salesItemName}}</td>
                            <td>{{sales.salesItemQuantity}}</td>
                            <td>{{sales.salesItemUnitPrice}}</td>
                            <td>{{sales.salesItemSubTotal}}</td>
                          </tr>
                        </ng-template>
                      </p-table>

                    </p-tabPanel>
                    <p-table [value]="paymentListData" *ngIf="paymentListData?.length > 0"
                      [tableStyle]="{'min-width': '60rem'}">
                      <ng-template pTemplate="header">
                        <tr>
                          <th pSortableColumn="transactionNo">Trnx No.
                          </th>
                          <th pSortableColumn="paymentDate">Payment Date
                          </th>
                          <th pSortableColumn="amount">Amount
                          </th>
                          <th pSortableColumn="paymentMode">Payment Mode
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-payment>
                        <tr>
                          <td class="bold">{{payment.transactionNo}}</td>
                          <td class="bold">{{payment.paymentDate | date: 'dd-MM-yyyy'}}</td>
                          <td>{{payment.amount}}</td>
                          <td>{{payment.paymentMode}}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </p-tabPanel>
                </p-tabView>
              </div>


              <div class="row align-items-center justify-content-center invoice-sign-box">
                <div class="col-lg-6 col-md-6">
                  <div class="col-lg-8 col-md-8">
                    <div class="invoice-terms">
                      <h6>Notes:</h6>
                      <p class="mb-0">{{sales.salesNotes}}</p>
                    </div>
                    <div class="invoice-terms mb-0">
                      <h6>Terms and Conditions:</h6>
                      <p class="mb-0">{{sales.salesTermsAndCondition}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="invoice-total-card">
                    <div class="invoice-total-box">
                      <div class="invoice-total-inner">
                        <p>Gross Total <span>₹ {{sales.salesGrossTotal}}</span></p>
                        <p>Applied Tax Amount <span>₹ {{addTaxTotal}} </span></p>
                        <p>Shipping Charges <span>₹ {{sales.salesShipping}}</span></p>
                        <p>Discount <span>₹ {{sales.salesDiscount}}</span></p>
                        <p>OtherCharges <span>₹ {{sales.otherCharges}}</span></p>
                      </div>
                      <div class="invoice-total-footer">
                        <h4>Total Amount <span>₹ {{sales.salesTotalAmount}}</span></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>