<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Sales List</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="card invoices-tabs-card">
      <div class="card-body card-body pt-0 pb-0">
        <div class="invoices-main-tabs">
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-8">
              <div class="invoices-tabs">
                <ul>
                  <li>
                    <a [routerLink]="routes.Sales" class="active">All Sales</a>
                  </li>
                  <!-- <li><a [routerLink]="routes.paidSales">Paid</a></li>
                  <li><a [routerLink]="routes.unpaidSales">Unpaid</a></li> -->
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="invoices-settings-btn">
                <button (click)="navigateToCreateSale()" class="btn">
                  <i class="feather icon-plus-circle feather-circle me-2"></i>
                  New Sale
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card inovices-card">
          <div class="card-body">
            <div class="inovices-widget-header">
              <span class="inovices-widget-icon">
                <img src="assets/img/invoices-icon1.svg" alt="" />
              </span>
              <div class="inovices-dash-count">
                <div class="inovices-amount">$8,78,797</div>
              </div>
            </div>
            <p class="inovices-all">All Sales <span>{{salesListData.length}}</span></p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card inovices-card">
          <div class="card-body">
            <div class="inovices-widget-header">
              <span class="inovices-widget-icon">
                <img src="assets/img/invoices-icon2.svg" alt="" />
              </span>
              <div class="inovices-dash-count">
                <div class="inovices-amount">$4,5884</div>
              </div>
            </div>
            <p class="inovices-all">Paid Sales <span>60</span></p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card inovices-card">
          <div class="card-body">
            <div class="inovices-widget-header">
              <span class="inovices-widget-icon">
                <img src="assets/img/invoices-icon3.svg" alt="" />
              </span>
              <div class="inovices-dash-count">
                <div class="inovices-amount">$2,05,545</div>
              </div>
            </div>
            <p class="inovices-all">Unpaid Sales <span>70</span></p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body p-2">
            <p-table [value]="salesListData" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '60rem'}"
              [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [(selection)]="selectedSales">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="salesInvoiceNumber">Invoice Number <p-sortIcon
                      field="salesInvoiceNumber"></p-sortIcon>
                    <p-columnFilter type="text" field="salesInvoiceNumber" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="salesDate">Sales Date <p-sortIcon field="salesDate"></p-sortIcon>
                    <p-columnFilter type="text" field="salesDate" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="customer.name">Customer <p-sortIcon field="customer"></p-sortIcon>
                    <p-columnFilter type="text" field="customer" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="salesOrderStatus">Sales Status <p-sortIcon field="salesOrderStatus"></p-sortIcon>
                  </th>
                  <th pSortableColumn="paymentStatus">Payment Status <p-sortIcon field="paymentStatus"></p-sortIcon>
                  </th>
                  <th pSortableColumn="paidAmount">Paid Amount <p-sortIcon field="paidAmount"></p-sortIcon>
                    <p-columnFilter type="text" field="paidAmount" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="dueAmount">Due Amount <p-sortIcon field="dueAmount"></p-sortIcon>
                    <p-columnFilter type="text" field="dueAmount" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="salesTotalAmount">Total Amount <p-sortIcon field="salesTotalAmount"></p-sortIcon>
                    <p-columnFilter type="text" field="salesTotalAmount" display="menu"></p-columnFilter>
                  </th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-sales>
                <tr>
                  <td>{{sales.salesInvoiceNumber}}</td>
                  <td>{{sales.salesDate | date: 'dd-MMM-yyyy'}}</td>
                  <td>{{sales.customer.name}}</td>
                  <td>{{sales.salesOrderStatus}}</td>
                  <td *ngIf="sales.paymentStatus == 'Partial Paid'"><p-tag severity="warning"
                      value="Partial Paid"></p-tag></td>
                  <td *ngIf="sales.paymentStatus == 'Paid' "><p-tag severity="success" value="Paid"></p-tag></td>
                  <td *ngIf="sales.paymentStatus == 'Unpaid' "><p-tag severity="danger" value="Unpaid"></p-tag></td>
                  <td>₹ {{sales.paidAmount}}</td>
                  <td>₹ {{sales.dueAmount}}</td>
                  <td>₹ {{sales.salesTotalAmount}}</td>
                  <td appShowHide [roles]="['admin', 'super-admin']" class="action-buttons">
                    <p-button [text]="true" icon="fa-solid fa-eye" (click)="showInvoiceDialoge(sales._id)"></p-button>
                    <!-- <p-button [text]="true" icon="fa-solid fa-edit" (click)="editSalesRout(sales._id)"
                      *ngIf="sales.paymentStatus === 'Unpaid' || sales.paymentStatus === 'Partial Paid'"></p-button>
                    <div *ngIf="sales.paymentStatus != 'Unpaid' && sales.paymentStatus != 'Partial Paid'"
                      class="placeholder"></div> -->
                    <p-button [text]="true" icon="fa-solid fa-trash" (click)="deleteSales(sales._id)"></p-button>

                  </td>
                </tr>
              </ng-template>

              <ng-template pTemplate="footer">
                <tr *ngIf="totalPaidAmount > 0 || totalDueAmount > 0 || totalAmount >0 ">
                  <td colspan="4"></td>
                  <td>Total </td>
                  <td>₹ {{ totalPaidAmount }}</td>
                  <td>₹ {{ totalDueAmount }}</td>
                  <td>₹ {{ totalAmount }}</td>
                  <td></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>


<app-confirm-dialog [showDialog]="showDialoge" (callbackModal)="callBackModal()" (close)="close()"
  [data]="modalData"></app-confirm-dialog>

<app-invoice-dialog [showInvoiceDialog]="showInvoiceDialog" [salesDataById]="salesDataById"
  [paymentDataListById]="paymentListData" (callbackModal)="callBackModal()" (close)="close()"></app-invoice-dialog>

