.doctor-list-blk {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0px 25px 50px rgba(46, 55, 164, 0.07);
  border: 1px solid rgba(46, 55, 164, 0.2);





}

// .doctor-table-blk {
//   background: #ffffff;
//   border-radius: 16px;
//   padding: 20px;
//   margin-bottom: 25px;
//   box-shadow: 0px 25px 50px rgba(46, 55, 164, 0.07);
//   border: 1px solid rgba(46, 55, 164, 0.2);

//   .form-group {
//     margin-bottom: 0;
//   }

//   .local-forms {
//     label {
//       font-size: 14px;
//       font-weight: 500;
//       color: #333;
//       margin-bottom: 8px;
//     }
//   }

//   // .top-nav-search {
//   //   position: relative;
//   //   width: 100%;

//   //   .form-control {
//   //     height: 38px;
//   //     padding-right: 40px;
//   //     border-radius: 4px;
//   //     border: 1px solid #e9ecef;
//   //     font-size: 14px;

//   //     &:focus {
//   //       border-color: #2e37a4;
//   //       box-shadow: none;
//   //     }
//   //   }

  
//   // }
// }

.text-success {
  color: #28a745 !important;
}

.text-danger {
  color: #dc3545 !important;
}

// .badge {
//   padding: 6px 12px;
//   font-weight: 500;
//   border-radius: 4px;

//   &.bg-success {
//     background-color: #28a745 !important;
//   }

//   &.bg-danger {
//     background-color: #dc3545 !important;
//   }

//   &.bg-warning {
//     background-color: #ffc107 !important;
//     color: #212529;
//   }
// }

