<div class="page-wrapper">
  <div class="content">
  
      <!-- Page Header -->
      <div class="page-header">
          <div class="row">
              <div class="col-sm-12">
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a [routerLink]="routes.staffLeave">Staff </a></li>
                      <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                      <li class="breadcrumb-item active">Leave Request</li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- /Page Header -->
    </div><div class="row">
      <div class="col-sm-12 pe-4 ps-4">
        <div class="card card-table">
          <div class="card-body p-4">
            <div class="col">
              <div class="doctor-table-blk mb-3">
                <h3>Leave Request</h3>
                <div class="doctor-search-blk">
                  <div class="top-nav-search table-search-blk">
                    <input type="text" class="form-control" placeholder="Search here" [(ngModel)]="searchDataValue"
                      >
                    <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                  </div>
                  <div class="add-group textbtn">
                    <a appShowHide [roles]="['admin', 'super-admin']" [routerLink]="routes.addLeave"
                      class="btn btn-primary add-pluss ms-2"><img src="assets/img/icons/plus.svg" alt="">Add New</a>
                    
                  </div>
                </div>
                <div class="col-auto text-end float-end ms-auto download-grp" appShowHide [roles]="['admin', 'super-admin']">
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg" alt=""></a>
                  <!-- <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg" alt=""></a> -->
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg" alt=""></a>
                  <!-- <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a> -->

                </div>
              </div>
            </div>
          <p-table  [value]="HolidayData" [tableStyle]="{'min-width': '60rem'}" [paginator]="true"
                          [rows]="5">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th appShowHide [roles]="['admin', 'super-admin']">
                                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                  </th>
                                  <th pSortableColumn="EmployeeName">Employee Name <p-sortIcon field="Name"></p-sortIcon>
                                      <p-columnFilter type="text" field="Name" display="menu"></p-columnFilter>
                                  </th>
                                  <th pSortableColumn="LeaveType">Leave Type <p-sortIcon field="LeaveType"></p-sortIcon>
                                      <p-columnFilter type="text" field="LeaveType" display="menu"></p-columnFilter>
                                  </th>
                                  <th pSortableColumn="Form">Form <p-sortIcon field="Form"></p-sortIcon>
                                      <p-columnFilter type="text" field="Form" display="menu"></p-columnFilter>
                                  </th>
                                  <th pSortableColumn="To">To <p-sortIcon field="To"></p-sortIcon>
                                    <p-columnFilter type="text" field="To" display="menu"></p-columnFilter>
                                  </th>
                                  <th pSortableColumn="NoOfDays">No Of Days <p-sortIcon field="Mobile"></p-sortIcon>
                                      <p-columnFilter type="text" field="Mobile" display="menu"></p-columnFilter>
                                  </th>
                                  <th pSortableColumn="Reason">Reason <p-sortIcon field="Reason"></p-sortIcon>
                                    <p-columnFilter type="text" field="Reason" display="menu"></p-columnFilter>
                                  </th>
                                  <th pSortableColumn="Status"> Status<p-sortIcon field="Status"></p-sortIcon>
                                    <p-columnFilter type="text" field="Status" display="menu"></p-columnFilter>
                                  
                                  </th>

                                  <th>Action</th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-HolidayData>
                              <tr>
                                  <td appShowHide [roles]="['admin', 'super-admin']">
                                      <p-tableCheckbox ></p-tableCheckbox>
                                  </td>
                                  <!-- <td>{{HolidayData.EmployeeName}}</td>
                                  <td>{{HolidayData.LeaveType}}</td>
                                  <td>{{HolidayData.From}}</td>
                                  <td>{{HolidayData.To}}</td>
                                  <td>{{HolidayData.NoOfDays}}</td>
                                  <td>{{HolidayData.Reason}}</td>
                                  <td>{{HolidayData.Status}}</td> -->
                                  <td style="display: flex; gap: 5px;" appShowHide [roles]="['admin', 'super-admin']">
                                              <p-button [text]="true" data-bs-toggle="modal"
                                               icon="fa-solid fa-eye" [routerLink]="routes.salaryView"  ></p-button>
                                              <p-button [text]="true" icon="fa-solid fa-trash" ></p-button>
                                              <p-button [text]="true" icon="fa-solid fa-edit"  [routerLink]="routes.editLeave" ></p-button>
                                  </td>
                              </tr>
                          </ng-template>
                      </p-table>

          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
