<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="routes.allInvoice">Dashboard </a>
                        </li>
                        <li class="breadcrumb-item">
                            <i class="feather icon-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item active">Purchase return</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <!-- Report Filter -->
        <div class="card invoices-tabs-card">
            <div class="card-body card-body pt-0 pb-0">
                <div class="invoices-main-tabs">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-8">
                            <div class="invoices-tabs">
                                <ul>
                                    <li>
                                        <a (click)="navigateToCreatePurchaseReturn()"class="active">All Purchase Return</a>
                                    </li>
                                    <!-- <li><a [routerLink]="routes.paidPurchaseReturn">Paid</a></li>
                    <li><a [routerLink]="routes.unpaidPurchaseReturn">Unpaid</a></li> -->
                                </ul>
                         </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="invoices-settings-btn">
                                <button (click)="navigateToCreatePurchaseReturn()" class="btn">
                                  <i class="feather icon-plus-circle feather-circle me-2"></i>
                                  Add New
                                </button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body p-2">
                            <p-table [value]="purchaseReturnData" styleClass="p-datatable-striped"
                                [tableStyle]="{ 'min-width': '60rem' }" [paginator]="true" [rows]="10"
                                [rowsPerPageOptions]="[5, 10, 20]" [(selection)]="selectedPurchaseReturn">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="purchaseInvoiceNumber
                                        .purchaseInvoiceNumber">
                                            Invoice Number
                                            <p-sortIcon field="purchaseInvoiceNumber
                                            .purchaseInvoiceNumber"></p-sortIcon>
                                            <p-columnFilter type="text" field="purchaseInvoiceNumber
                                            .purchaseInvoiceNumber" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="returnDate">
                                             Return Date
                                            <p-sortIcon field="returnDate"></p-sortIcon>
                                            <p-columnFilter type="text" field="returnDate"
                                                display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="supplier.name">
                                            Supplier <p-sortIcon field="supplier.name"></p-sortIcon>
                                            <p-columnFilter type="text" field="supplier.name"
                                                display="menu"></p-columnFilter>
                                        </th>
                                        <!-- <th pSortableColumn="purchaseReturnOrderStatus">
                                            Status
                                            <p-sortIcon field="purchaseReturnOrderStatus"></p-sortIcon>
                                        </th> -->
                                        <th pSortableColumn="paymentStatus">
                                            Payment Status
                                            <p-sortIcon field="paymentStatus"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="paidAmount">
                                            Paid Amount
                                            <p-sortIcon field="paidAmount"></p-sortIcon>
                                            <p-columnFilter type="text" field="paidAmount"
                                            display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="salesTotalAmount">
                                            Due Amount
                                            <p-sortIcon field="salesTotalAmount"></p-sortIcon>
                                            <p-columnFilter type="text" field="salesTotalAmount"
                                            display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="purchaseReturnTotalAmount">
                                            Total Amount
                                            <p-sortIcon field="purchaseReturnTotalAmount"></p-sortIcon>
                                            <p-columnFilter type="text" field="purchaseReturnTotalAmount"
                                                display="menu"></p-columnFilter>
                                        </th>

                                        <th width="10%">Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-purchaseReturn>
                                    <tr>
                                        <td>{{purchaseReturn.purchaseInvoiceNumber.purchaseInvoiceNumber}}</td>
                                        <td>{{ purchaseReturn.returnDate | date: 'dd-MMM-yyyy'}}</td>
                                        <td>{{ purchaseReturn.supplier.name }}</td>
                                        <!-- <td>{{ purchaseReturn.paymentStatus }}</td> -->
                  <td *ngIf="purchaseReturn.paymentStatus == 'Partial Paid'"><p-tag severity="warning" value="Partial Paid"></p-tag></td>
                  <td *ngIf="purchaseReturn.paymentStatus == 'Paid' " ><p-tag severity="success" value="Paid"></p-tag></td>
                  <td *ngIf="purchaseReturn.paymentStatus == 'Unpaid' "><p-tag severity="danger" value="Unpaid"></p-tag></td>
                                        <td>₹ {{ purchaseReturn.paidAmount | indianCurrency }}</td>
                                        <td>₹ {{ purchaseReturn.dueAmount | indianCurrency }}</td>
                                        <td>₹ {{ purchaseReturn.purchaseReturnTotalAmount | indianCurrency }}</td>

                                        <td class="action-buttons">
                                            <p-button [text]="true" icon="fa-solid fa-eye"
                                                (click)="showInvoiceDialoge(purchaseReturn._id)"></p-button>
                                                <p-button *ngIf="purchaseReturn.paymentStatus == 'Partial Paid' || purchaseReturn.paymentStatus == 'Unpaid' "
                                                 [text]="true" icon="fa-solid fa-edit"
                                                    (click)="purchaseReturnUpdate(purchaseReturn._id)"></p-button>
                                                    <div *ngIf="purchaseReturn.paymentStatus == 'Paid'" class="placeholder"></div>
                                                <p-button [text]="true" icon="fa-solid fa-trash"
                                                (click)="purchaseReturnDelete(purchaseReturn._id)"></p-button>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="8" class="text-center">No purchase return records found. Please create a purchase return to see it listed here.</td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="footer">
                                    <tr *ngIf=" purchaseTotalValues.totalPaidAmount || purchaseTotalValues.totalDueAmount || purchaseTotalValues.totalAmount">
                                      <td colspan="3"></td>
                                      <td>Total </td>
                                      <td>₹ {{ purchaseTotalValues.totalPaidAmount | indianCurrency }}</td>
                                      <td style="color: red;">₹ {{ purchaseTotalValues.totalDueAmount | indianCurrency }}</td>
                                      <td>₹ {{ purchaseTotalValues.totalAmount | indianCurrency }}</td>
                                      <td></td>
                                    </tr>
                                  </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-confirm-dialog [showDialog]="showDialoge" (callbackModal)="callBackModal()" (close)="close()"
        [data]="modalData"></app-confirm-dialog>
    <p-toast></p-toast>
    <!-- -- Preview model -- -->
    <app-invoice-dialog [showInvoiceDialog]="showInvoiceDialog" [salesDataById]="PurchaseReturnListData" [paymentDataListById]="paymentDataListById" 
        (callbackModal)="callBackModal()" (close)="close()" [header]="header"></app-invoice-dialog>

    <!-- -- end preview model --  -->
</div>