<div class="page-wrapper">
    <div class="content ">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="routes.adminDashboard">Dashboard </a>
                        </li>
                        <li class="breadcrumb-item">
                            <i class="feather icon-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item active">Sales List</li>
                        <li class="breadcrumb-item">
                            <i class="feather icon-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item active">Sales Add</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-header invoices-page-header">
            <div class="row align-items-center">
                <div class="col">
                    <ul class="breadcrumb invoices-breadcrumb">
                        <li class="breadcrumb-item invoices-breadcrumb-item">
                            <a [routerLink]="routes.Sales">
                                <i class="fa fa-chevron-left"></i> Back to Sales List
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">
                <div class="card invoices-add-card">
                    <div class="card-body">
                        <form [formGroup]="addSalesForm" (ngSubmit)="addSalesFormSubmit()">
                            <div class="invoices-main-form">
                                <div class="row">
                                    <div class="col-xl-4 col-md-6 col-sm-12 col-12">
                                        <div class="form-group local-forms">
                                            <label for="salesInvoiceNumber">Invoice Number <span
                                                    class="login-danger"></span></label>
                                            <input type="text" class="form-control"
                                                formControlName="salesInvoiceNumber">
                                            <!-- <div
                                                *ngIf="addSalesForm.get('salesInvoiceNumber')?.hasError('required')  && addSalesForm.get('salesInvoiceNumber')?.touched">
                                                <span class="login-danger">Field is required. </span>
                                            </div> -->
                                            <!-- <div
                                                *ngIf="addSalesForm.get('salesInvoiceNumber')?.hasError('pattern')  && addSalesForm.get('salesInvoiceNumber')?.touched">
                                                <span class="login-danger">Input must be between 3 to 50
                                                    character.</span>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 col-sm-12 col-12">
                                        <div class="form-group local-forms">
                                            <label for="customer">Customer Name <span
                                                    class="login-danger">*</span></label>
                                            <p-dropdown [style]="{'width':'100%'}" placeholder="--Select Customer--"
                                                [options]="customerList" formControlName="customer" optionLabel="name"
                                                optionValue="_id" display="chip" [filter]="true" filterBy="name">
                                            </p-dropdown>
                                            <div
                                                *ngIf="addSalesForm.get('customer')?.hasError('required')  && addSalesForm.get('customer')?.touched">
                                                <span class="login-danger">Field is required. </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-6 col-sm-12 col-12">
                                        <div class="form-group local-forms">
                                            <label for="salesDate">Sales Date <span
                                                    class="login-danger">*</span></label>
                                            <p-calendar dataType="string" appendTo="body" dateFormat="mm/dd/yy"
                                                formControlName="salesDate" placeholder="mm/dd/yyyy"
                                                [styleClass]="'col-12'"></p-calendar>
                                            <div
                                                *ngIf="addSalesForm.get('salesDate')?.hasError('required')  && addSalesForm.get('salesDate')?.touched">
                                                <span class="login-danger">Field is required. </span>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <!-- --------------#######------- -->

                            <div class="invoice-add-table">
                                <h4 class="d-flex align-items-center">Item Details<p-button [text]=" true"
                                        icon="fa fa-plus" (click)="addsalesItemDetailsItem()"></p-button></h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-nowrap  mb-0 no-footer add-table-items">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Quantity (Sq. Feet)</th>
                                                <th>Price / Sq. Feet</th>
                                                <th>Tax</th>
                                                <th>Sub Total</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="salesItemDetails">
                                            <tr class="add-row"
                                                *ngFor="let salesItemDetailsForm of salesItemDetails.controls; let i = index"
                                                [formGroupName]="i">

                                                <td class="col-md-3">
                                                    <p-dropdown [options]="slabList" appendTo="body"
                                                        [style]="{'width':'100%'}" optionLabel="slabName"
                                                        placeholder="Slab" [filter]="true" filterBy="name"
                                                        formControlName="salesItemProduct"
                                                        (onChange)="onSlabSelect($event.value,i)">
                                                    </p-dropdown>
                                                    <div
                                                        *ngIf="addSalesForm.get('salesItemDetails').get(i + '.salesItemProduct').hasError('required') && addSalesForm.get('salesItemDetails').get(i + '.salesItemProduct').touched">
                                                        <span class="login-danger">Field is required.</span>
                                                    </div>
                                                </td>

                                                <td class="col-md-2">
                                                    <input type="number" formControlName="salesItemQuantity"
                                                        (change)="calculateTotalAmount()" class="form-control">
                                                    <div
                                                        *ngIf="addSalesForm.get('salesItemDetails').get(i + '.salesItemQuantity').hasError('required') && addSalesForm.get('salesItemDetails').get(i + '.salesItemQuantity').touched">
                                                        <span class="login-danger">Field is required.</span>
                                                    </div>
                                                    <div
                                                        *ngIf="addSalesForm.get('salesItemDetails').get(i + '.salesItemQuantity').hasError('min') && addSalesForm.get('salesItemDetails').get(i + '.salesItemQuantity').touched">
                                                        <span class="login-danger">Input must be at least 0.</span>
                                                    </div>
                                                </td>

                                                <td class="col-md-2">
                                                    <span class="form-control">{{
                                                        addSalesForm.get('salesItemDetails').get(i +
                                                        '.salesItemUnitPrice').value }}</span>
                                                    <!-- <input type="number" formControlName="salesItemUnitPrice" 
                                                        (change)="calculateTotalAmount()" class="form-control"> 
                                                     <div
                                                        *ngIf="addSalesForm.get('salesItemDetails').get(i + '.salesItemUnitPrice').hasError('required') && addSalesForm.get('salesItemDetails').get(i + '.salesItemUnitPrice').touched">
                                                        <span class="login-danger">Field is required.</span>
                                                    </div>
                                                    <div
                                                        *ngIf="addSalesForm.get('salesItemDetails').get(i + '.salesItemUnitPrice').hasError('min') && addSalesForm.get('salesItemDetails').get(i + '.salesItemUnitPrice').touched">
                                                        <span class="login-danger">Input must be at least 0.</span>
                                                    </div> -->
                                                </td>

                                                <td class="col-md-2">
                                                    <p-multiSelect [style]="{'width':'100%'}" placeholder="Select Tax"
                                                        [options]="orderTaxList" appendTo="body"
                                                        formControlName="salesItemTax" optionLabel="orderTaxName"
                                                        optionValue="orderNamevalue" display="chip"
                                                        (onChange)="calculateTotalAmount()" [maxSelectedLabels]="1">
                                                    </p-multiSelect>
                                                </td>

                                                <td class="col-md-2">
                                                    <span class="form-control">{{ addSalesForm.get('salesItemDetails').get(i + '.salesItemSubTotal').value }}</span>
                                                    <!-- <input type="number" formControlName="salesItemSubTotal"
                                                        (change)="calculateTotalAmount()" class="form-control">

                                                    <div
                                                        *ngIf="addSalesForm.get('salesItemDetails').get(i + '.salesItemSubTotal').hasError('required') && addSalesForm.get('salesItemDetails').get(i + '.salesItemSubTotal').touched">
                                                        <span class="login-danger">Field is required.</span>
                                                    </div>
                                                    <div
                                                        *ngIf="addSalesForm.get('salesItemDetails').get(i + '.salesItemSubTotal').hasError('min') && addSalesForm.get('salesItemDetails').get(i + '.salesItemSubTotal').touched">
                                                        <span class="login-danger">Input must be at least 0.</span>
                                                    </div> -->
                                                </td>

                                                <td class="add-remove text-end">
                                                    <p-button [text]=" true" icon="fa fa-plus"
                                                        (click)="addsalesItemDetailsItem()"></p-button>
                                                    <p-button [text]=" true" icon="fa fa-trash"
                                                        (click)="deletesalesItemDetails(i)"
                                                        (keyup.enter)="deletesalesItemDetails(i)"></p-button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- --------------#######------- -->
                            <div class="row">
                                <div class="col-lg-7 col-md-6">
                                    <div class="invoice-fields">
                                        <h4 class="field-title">More Fields</h4>

                                    </div>
                                    <div class="invoice-faq">
                                        <div class="panel-group" id="accordion" role="tablist"
                                            aria-multiselectable="true">
                                            <div class="faq-tab">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingTwo">
                                                        <p class="panel-title">
                                                            <a class="collapsed" data-bs-toggle="collapse"
                                                                data-bs-parent="#accordion" href="#collapseTwo"
                                                                aria-expanded="false" aria-controls="collapseTwo">
                                                                <i class="fas fa-plus-circle me-1"></i> Add Terms &
                                                                Conditions
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div id="collapseTwo" class="panel-collapse collapse"
                                                        role="tabpanel" aria-labelledby="headingTwo"
                                                        data-bs-parent="#accordion">
                                                        <div class="panel-body">
                                                            <textarea class="form-control"
                                                                formControlName="salesTermsAndCondition"></textarea>
                                                            <div
                                                                *ngIf="addSalesForm.get('salesTermsAndCondition')?.hasError('pattern')  && addSalesForm.get('salesTermsAndCondition')?.touched">
                                                                <span class="login-danger">Input must be between 2 to
                                                                    200 characters.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="faq-tab">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingThree">
                                                        <p class="panel-title">
                                                            <a class="collapsed" data-bs-toggle="collapse"
                                                                data-bs-parent="#accordion" href="#collapseThree"
                                                                aria-expanded="false" aria-controls="collapseThree">
                                                                <i class="fas fa-plus-circle me-1"></i> Add Notes
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div id="collapseThree" class="panel-collapse collapse"
                                                        role="tabpanel" aria-labelledby="headingThree"
                                                        data-bs-parent="#accordion">
                                                        <div class="panel-body">
                                                            <textarea class="form-control"
                                                                formControlName="salesNotes"></textarea>
                                                            <div
                                                                *ngIf="addSalesForm.get('salesNotes')?.hasError('pattern')  && addSalesForm.get('salesNotes')?.touched">
                                                                <span class="login-danger">Input must be between 2 to
                                                                    100 characters.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-6">
                                    <div class="invoice-total-card">
                                        <h4 class="invoice-total-title">Summary</h4>
                                        <div class="invoice-total-box">
                                            <div class="row p-3">
                                                <div class="col-12 mt-3">
                                                    <div class="form-group local-forms">
                                                        <label for="salesOrderStatus">Order Status <span
                                                                class="login-danger">*</span></label>
                                                        <p-dropdown [options]="orderStatusList" styleClass=""
                                                            appendTo="body" optionLabel="orderStatus"
                                                            optionValue="orderStatus" placeholder="Select  Status"
                                                            [style]="{'width':'100%'}"
                                                            formControlName="salesOrderStatus" [filter]="true"
                                                            filterBy="orderStatus" [showClear]="true">
                                                        </p-dropdown>
                                                        <div
                                                            *ngIf="addSalesForm.get('salesOrderStatus')?.hasError('required')  && addSalesForm.get('salesOrderStatus')?.touched">
                                                            <span class="login-danger">Field is required.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-12 mt-3">
                                                    <div class="form-group local-forms">
                                                        <label for="salesOrderTax">Order Tax</label>
                                                        <p-multiSelect [style]="{'width':'100%'}"
                                                            placeholder="Select Tax" [options]="orderTaxList"
                                                            formControlName="salesOrderTax" optionLabel="orderTaxName"
                                                            optionValue="orderNamevalue" display="chip" (onChange)="calculateTotalAmount()">
                                                        </p-multiSelect>
                                                    </div>
                                                </div> -->
                                                <div class="col-12 ml-3">
                                                    <div class="form-group local-forms">
                                                        <label for="salesDiscount">Discount </label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">₹</span>
                                                            </div>
                                                            <input class="form-control"
                                                                (change)="calculateTotalAmount()"
                                                                formControlName="salesDiscount" type="number"
                                                                placeholder="">
                                                        </div>
                                                        <div
                                                            *ngIf="addSalesForm.get('salesDiscount')?.hasError('min')  && addSalesForm.get('salesDiscount')?.touched">
                                                            <span class="login-danger">Input must be at least 0.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ml-3">
                                                    <div class="form-group local-forms">
                                                        <label for="salesShipping">Shipping</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">₹</span>
                                                            </div>
                                                            <input class="form-control"
                                                                (change)="calculateTotalAmount()"
                                                                formControlName="salesShipping" type="number"
                                                                placeholder="">
                                                        </div>
                                                        <div
                                                            *ngIf="addSalesForm.get('salesShipping')?.hasError('min') && addSalesForm.get('salesShipping')?.touched">
                                                            <span class="login-danger">Input must be more than
                                                                0.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ml-3">
                                                    <div class="form-group local-forms">
                                                        <label for="otherCharges">Other Charges</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">₹</span>
                                                            </div>
                                                            <input class="form-control"
                                                                (change)="calculateTotalAmount()"
                                                                formControlName="otherCharges" type="number"
                                                                placeholder="">
                                                        </div>
                                                        <div
                                                            *ngIf="addSalesForm.get('otherCharges')?.hasError('min') && addSalesForm.get('otherCharges')?.touched">
                                                            <span class="login-danger">Input must be more than
                                                                0.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="invoice-total-inner">
                                                <p>Gross Total<span>₹ {{ addSalesForm.get('salesGrossTotal').value |
                                                        number:
                                                        '1.2-2' }}</span></p>
                                                <p>Discount<span>₹ {{ addSalesForm.get('salesDiscount').value }}</span>
                                                </p>
                                                <p>Shipping<span>₹ {{ addSalesForm.get('salesShipping').value }}</span>
                                                </p>
                                                <p>Other Charges<span>₹ {{ addSalesForm.get('otherCharges').value
                                                        }}</span></p>
                                            </div>

                                            <div class="invoice-total-footer">
                                                <h4>Total Amount <span>₹ {{ addSalesForm.get('salesTotalAmount').value
                                                        }}</span></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="upload-sign">
                                        <div class="form-group float-end mb-0">
                                            <button class="btn btn-primary" type="submit"
                                                [disabled]="!addSalesForm.valid">Save Sales</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast></p-toast>