.p-button {
  padding: 0.1rem 1.25rem !important;
}

.p-button.p-button-icon-only {
  padding: 0px;
  padding-bottom: 0.75rem !important;
}

.p-button.p-button-text.p-button-icon-only {
  padding-top: 0;
  color: #97704f !important;
}
