<div class="">
    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Settings</li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Practice Information</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-table ">
                    <div class="card-body">
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>User Profile</h3>
                                        <div class="doctor-search-blk">
                                            <div class="add-group textbtn">
                                                <!-- <a [routerLink]="['/settings/practice-information/add-practice']"
                                                    class="btn btn-primary add-pluss ms-2"
                                                    *ngIf="data?.length == 0"><img src="assets/img/icons/plus.svg"
                                                        alt=""> Add New</a> -->
                                                <!-- <a appShowHide [roles]="['admin', 'super-admin']"
                                                    [routerLink]="['/settings/practice-information/edit-practice', userData_id]"
                                                    class="btn btn-primary add-pluss ms-2" *ngIf="data?.length > 0"><img
                                                        src="assets/icons/fontawesome/svgs/solid/pencil.svg"
                                                        class="editico" alt="" />Edit</a> -->
                                                <!-- <a appShowHide [roles]="['admin', 'super-admin']" href="javascript:;" (click)="getPracticeListData()"
                                                    class="btn btn-primary doctor-refresh ms-2"><img
                                                        src="assets/img/icons/re-fresh.svg" alt=""></a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-auto text-end float-end ms-auto download-grp" appShowHide [roles]="['admin', 'super-admin']">
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg"
                                            alt=""></a>
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg"
                                            alt=""></a>
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg"
                                            alt=""></a>
                                    <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a>

                                </div> -->
                            </div>
                        </div>
                        <!-- <div class="table-responsive px-3" *ngIf="data?.length > 0">
                        <table class="table">                            
                            <thead>
                              <tr>
                                <th class="bg-primary-light" scope="col">Name</th>
                                <th class="bg-primary-light" scope="col">Address</th>
                                <th class="bg-primary-light" scope="col">Phone No.</th>
                                <th class="bg-primary-light" scope="col">Fax No.</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th >{{userDataname}}</th>
                                <td>{{userDataaddress}} </td>
                                <td>{{userDataphone}}</td>
                                <td>{{userDatafax}}</td>
                              </tr>                             
                            </tbody>
                          </table>
                        </div> -->
                        <div class="page-table-header mb-2 m-3" >
                            <div class="row practice-card">
                                <div class="col-xl-6 col-lg-6 col-sm-12">
                                    <div class="form-group row mb-2">
                                        <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Name</h5>
                                        <div class="col-lg-9 col-md-9 col-xl-9">
                                            <p class="col-lg-9 col-form-label">{{userData.name}}</p>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group row mb-2">
                                        <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Address</h5>
                                        <div class="col-lg-9 col-md-9 col-xl-9">
                                            <p class="col-lg-9 col-form-label">{{userData.address}}
                                            </p>
                                        </div>
                                    </div> -->
                                    <div class="form-group row mb-2">
                                        <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Phone No.</h5>
                                        <div class="col-lg-9 col-md-9 col-xl-9">
                                            <p class="col-form-label">{{userData.phoneNumber}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-2">
                                        <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Role</h5>
                                        <div class="col-lg-9 col-md-9 col-xl-9">
                                            <p class="col-form-label">{{userData.role.join(', ')}}</p>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group row mb-2">
                                        <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Phone No.</h5>
                                        <div class="col-lg-9 col-md-9 col-xl-9">
                                            <p class="col-form-label">{{userDataphone}}</p>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="col-xl-6 col-lg-6 col-sm-12">
                                    <div class="form-group row mb-2">
                                        <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Address</h5>
                                        <div class="col-lg-9 col-md-9 col-xl-9">
                                            <p class="col-lg-9 col-form-label">{{userData.address}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-2">
                                        <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Email</h5>
                                        <div class="col-lg-9 col-md-9 col-xl-9">
                                            <p class="col-form-label">{{userData.email}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-2">
                                        <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Warehouse</h5>
                                        <div class="col-lg-9 col-md-9 col-xl-9 d-flex gap-2" style="flex-wrap: wrap;">
                                            <p class="col-form-label" *ngFor="let data of userData.warehouse">
                                                <span>{{ data.name }}, </span>
                                              </p>
                                                                                          
                                        </div>
                                    </div>
                                    <!-- <div class="form-group row mb-2">
                                        <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">EIN</h5>
                                        <div class="col-lg-9 col-md-9 col-xl-9">
                                            <p class="col-form-label">{{userDataein}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-2">
                                        <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Group NPI</h5>
                                        <div class="col-lg-9 col-md-9 col-xl-9">
                                            <p class="col-form-label">{{userDatagroupNpi}}</p>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
</div>