.donut-chart-custom {
    display: flex;
    justify-content: center;
}
.chart-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 375px; /* Set the desired height */
}
.patient-structure h3 {
    font-size: 25px;
    display: block;
}
.dash-content h2 {
    margin-bottom: 0px;
}
.breadcrumb{
    font-size: 14px;
    color: #97704f;
    cursor: pointer;
}
.breadcrumb:hover{
    color: black;
    transition: 0.90s;
}