.donut-chart-custom {
    display: flex;
    justify-content: center;
}
.chart-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 375px; /* Set the desired height */
}
.patient-structure h3 {
    font-size: 25px;
    display: block;
}
.dash-content h2 {
    margin-bottom: 0px;
}
.breadcrumb{
    font-size: 14px;
    color: #97704f;
    cursor: pointer;
}
.breadcrumb:hover{
    color: black;
    transition: 0.90s;
}
.hoverClass:hover{
    overflow: hidden;
    color: #97704f;
    transition: 0.74s;
}
::ng-deep .p-table .p-datatable .p-datatable-tbody td:nth-child(4),
::ng-deep .p-table .p-datatable .p-datatable-tbody td:nth-child(3) {
  font-size: 2.0rem; /* Adjust the font size as needed */
}
.p-tag-value{
    width: 50px;
}
// card font size
@media (max-width: 1416px) and (min-width: 1200px) {
    .dash-count h4 {
        font-size: 13px;
        // text-overflow: ellipsis;
        white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }
    .font_size {
        font-size: 19px;
    }
}