<p-toast></p-toast>
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/lot']">
                                Lot
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <i class="feather icon-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item active">Add New Lot</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="page-table-header mb-2">
                            <form [formGroup]="lotAddForm" (ngSubmit)="LotAddFormSubmit()">
                                <div class="row">
                                    <div class="d-flex m-b-10" style="justify-content: space-between">
                                        <h3>Add New Lot</h3>
                                        <div class="settings-btns text-end m-b-10">
                                            <button type="submit"
                                                class="border-0 btn btn-primary btn-gradient-primary m-r-10"
                                                [disabled]="!lotAddForm.valid">
                                                Submit
                                            </button>
                                            <button class="btn btn-secondary" [routerLink]="['/lot/']">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group local-forms">
                                            <label for="lotNo">Lot No.
                                                <span class="login-danger">*</span></label>
                                                <input class="form-control" type="text" placeholder="Enter Lot No."
                                                formControlName="lotNo" />
                                            <div *ngIf="
                                            lotAddForm.get('lotNo')?.hasError(
                                              'required'
                                            ) && lotAddForm.get('lotNo')?.touched
                                          ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                            <div *ngIf="
                                            lotAddForm.get('lotNo')?.hasError(
                                              'pattern'
                                            ) && lotAddForm.get('lotNo')?.touched
                                          ">
                                                <span class="login-danger">Input Must be between 3 to 15 characters.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group local-forms">
                                            <label for="vehicleNo">Vehicle No.
                                                <span class="login-danger">*</span></label>
                                                <input class="form-control" type="text" placeholder="Enter Vehicle No."
                                                formControlName="vehicleNo" />
                                            <div *ngIf="
                                            lotAddForm.get('vehicleNo')?.hasError(
                                              'required'
                                            ) && lotAddForm.get('vehicleNo')?.touched
                                          ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                            <div *ngIf="
                                            lotAddForm.get('vehicleNo')?.hasError(
                                              'pattern'
                                            ) && lotAddForm.get('vehicleNo')?.touched
                                          ">
                                                <span class="login-danger">Input Must be between 3 to 15 characters.</span>
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <div class="col-12 col-md-6">
                                        <div class="form-group local-forms">
                                            <label for="invoiceNo">Invoice No.<span class="login-danger">*</span></label>
                                            <input class="form-control" type="text" placeholder="Enter Invoice No."
                                                formControlName="invoiceNo" />
                                            <div *ngIf="
                                            lotAddForm.get('invoiceNo')?.hasError(
                                              'required'
                                            ) && lotAddForm.get('invoiceNo')?.touched
                                          ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                            <div *ngIf="
                                            lotAddForm.get('invoiceNo')?.hasError(
                                              'pattern'
                                            ) && lotAddForm.get('invoiceNo')?.touched
                                          ">
                                                <span class="login-danger">Input Must be between 3 to 15 characters.</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group local-forms">
                                            <label for="totalSlots">Total Slots<span class="login-danger">*</span></label>
                                            <input class="form-control" type="number" placeholder="Enter Total Slots"
                                                formControlName="totalSlots" />
                                            <div *ngIf="
                                                    lotAddForm.get('totalSlots')?.hasError(
                                                      'required'
                                                    ) && lotAddForm.get('totalSlots')?.touched
                                                  ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                            <div *ngIf="
                                                    lotAddForm.get('totalSlots')?.hasError(
                                                      'min'
                                                    ) && lotAddForm.get('totalSlots')?.touched
                                                  ">
                                                <span class="login-danger">Input must be at least 0. </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group local-forms">
                                            <label for="totalWeightInTon">Total Weight In Ton<span class="login-danger">*</span></label>
                                            <input class="form-control" type="number" placeholder="Enter Total Weight In Ton"
                                                formControlName="totalWeightInTon" />
                                            <div *ngIf="
                                                    lotAddForm.get('totalWeightInTon')?.hasError(
                                                      'required'
                                                    ) && lotAddForm.get('totalWeightInTon')?.touched
                                                  ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                            <div *ngIf="
                                                    lotAddForm.get('totalWeightInTon')?.hasError(
                                                      'min'
                                                    ) && lotAddForm.get('totalWeightInTon')?.touched
                                                  ">
                                                <span class="login-danger">Input must be at least 0. </span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12 col-md-6">
                                        <div class="form-group local-forms">
                                            <label for="totalPricing">Total Pricing <span class="login-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">₹</span>
                                                </div>
                                                <input class="form-control" type="number" placeholder="0"
                                                    formControlName="totalPricing" />
                                            </div>
                                            <div *ngIf="
                                            lotAddForm.get('totalPricing')?.hasError(
                                              'required'
                                            ) && lotAddForm.get('totalPricing')?.touched
                                          ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                            <div *ngIf="
                                            lotAddForm.get('totalPricing')?.hasError(
                                              'min'
                                            ) && lotAddForm.get('totalPricing')?.touched
                                          ">
                                                <span class="login-danger">Input must be at least 0.</span>
                                            </div>


                                        </div>
                                    </div>


                                    <div class="col-12 col-md-6">
                                        <div class="form-group local-forms">
                                            <label for="totalTransportation">Total Transportation<span class="login-danger">*</span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">₹</span>
                                                </div>
                                                <input class="form-control" type="number" placeholder="0"
                                                    formControlName="totalTransportation" />
                                            </div>
                                            <div *ngIf="
                                            lotAddForm.get('totalTransportation')?.hasError(
                                              'required'
                                            ) && lotAddForm.get('totalTransportation')?.touched
                                          ">
                                                <span class="login-danger">Field is required.</span>
                                            </div>
                                            <div *ngIf="
                                            lotAddForm.get('totalTransportation')?.hasError(
                                              'min'
                                            ) && lotAddForm.get('totalTransportation')?.touched
                                          ">
                                                <span class="login-danger">Input must be at least 0.</span>
                                            </div>
                                        </div>
                                    </div>
                                   

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>