.col3 {
        //  float: left;
        // width: 150%;
         font-size: 14px;
        //  display: flex;
     }
#tdSet{
    display: flex;
   max-width: 27rem;
    overflow-x: scroll;
}
#tdSet::-webkit-scrollbar {
    height: 0px;
    // width: 2px;
    background-color: gray;
  }
//   #tdSet::-webkit-scrollbar-thumb {
//     background: red; 
//     border-radius: 10px;
//   }
// @media only screen and (max-width: 1535px) {
//     .col3 {
//         float: left;
//         width: 50%; 
//         font-size: 14px;
//     }
// }
// @media only screen and (min-width: 881px) and (max-width: 1535px) {
//     .col3 {
//         float: left;
//         width: 50%; 
//         font-size: 14px;
//     }
// }
// @media only screen and (max-width: 880px) {
//     .col3 {
//         float: left;
//         width: 100%; 
//         font-size: 14px;
//     }
// }