<p-toast></p-toast>
<div class="">
    <!-- Page Content -->
    <div class=" container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Settings</li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Products</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table show-entire">
                    <div class="card-body">
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Product List</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">
                                                <input type="text" class="form-control" placeholder="Search here"
                                                    [(ngModel)]="searchDataValue"
                                                    (ngModelChange)="searchData(searchDataValue)">
                                                <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                            </div>
                                            <div class="add-group textbtn">
                                                <a appShowHide [roles]="['admin', 'super-admin']"
                                                    [routerLink]="['/settings/product/add']"
                                                    class="btn btn-primary add-pluss ms-2"><img
                                                        src="assets/img/icons/plus.svg" alt=""> Add New</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp" appShowHide
                                    [roles]="['admin', 'super-admin']">
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg"
                                            alt=""></a>
                                    <!-- <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg"
                                            alt=""></a> -->
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg"
                                            alt=""></a>
                                    <!-- <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a> -->

                                </div>
                            </div>
                        </div>
                        <div class="card-body p-2">
                        <p-table [value]="originalData" [tableStyle]="{'min-width': '60rem'}" [paginator]="originalData?.length >= 5"
                            [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" (onPage)="onPageChange($event)" [(selection)]="selectedProducts">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th appShowHide [roles]="['admin', 'super-admin']">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th pSortableColumn="product">Product <p-sortIcon field="product"></p-sortIcon>
                                        <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="product" display="menu"></p-columnFilter>

                                    </th>
                                    <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
                                        <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="category" field="category" display="menu"></p-columnFilter>

                                    </th>
                                    <th pSortableColumn="brand">Sub Category <p-sortIcon field="subCatergory"></p-sortIcon>
                                        <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="subCatergory" display="menu"></p-columnFilter>

                                    </th>
                                    <th pSortableColumn="warehouse">Warehouse<p-sortIcon
                                            field="warehouse"></p-sortIcon>
                                        <p-columnFilter  matchMode="contains"  
hideOnClear="true"  field="warehouse" display="menu"></p-columnFilter>

                                    </th>
                                    <th pSortableColumn="purchasePrice">Purchase Price <p-sortIcon field="purchasePrice"></p-sortIcon>
                                        <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="purchasePrice" display="menu"></p-columnFilter>
                                        
                                    </th>
                                    <th pSortableColumn="salesPrice">Sales Price <p-sortIcon field="salesPrice"></p-sortIcon>
                                        <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="salesPrice" display="menu"></p-columnFilter>

                                    </th>
                                    <th appShowHide [roles]="['admin', 'super-admin']" >Action
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product>

                                <tr>
                                    <td appShowHide [roles]="['admin', 'super-admin']">
                                        <p-tableCheckbox [value]="product"></p-tableCheckbox>
                                    </td>
                                    <td>
                                        {{product.name}}
                                    </td>
                                    <td>
                                        {{product.category}}
                                    </td>
                                    <td>
                                        {{product.subCatergory}}
                                    </td>
                                    <td>
                                        {{product.warehouse}}
                                    </td>
                                    <td>
                                        {{product.purchasePrice}}
                                    </td>
                                    <td>
                                        {{product.salesPrice}}
                                    </td>
                                    <td appShowHide [roles]="['admin', 'super-admin']" >
                  <div class="action-buttons">

                                        <p-button [text]="true" icon="fa fa-edit"
                                            [routerLink]="['/settings/product/edit', product._id]"></p-button>
                                        <p-button [text]=" true" icon="fa fa-trash"
                                            (click)="deleteProduct(product._id)"></p-button>
                  </div>
                                    </td>

                                </tr>
                            </ng-template>
                        </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-confirm-dialog [showDialog]="showDialog" (callbackModal)="callBackModal()" (close)="close()"
    [data]="modalData"></app-confirm-dialog>