<router-outlet></router-outlet>
<p-toast></p-toast>
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Expenses Categories</li>
                        <li class="breadcrumb-item">
                            <!-- <i class="feather icon-chevron-right"></i> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <div class="card card-table show-entire">
                    <div class="page-table-header mb-2">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="doctor-table-blk">
                                    <h3>Expenses Categories List</h3>
                                    <div class="doctor-search-blk col-md-6">
                                        <div class="top-nav-search table-search-blk me-3">
                                            <input type="text" class="form-control" placeholder="Search here"
                                                [(ngModel)]="searchDataValue"
                                                (ngModelChange)="searchData(searchDataValue)">
                                            <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                        </div>
                                        <div class="add-group textbtn gap-3">

                                            <a class="btn btn-primary" (click)="showDialog()"><img
                                                    src="assets/img/icons/plus.svg" alt="">Add New</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto text-end float-end ms-auto download-grp" appShowHide
                                [roles]="['admin', 'super-admin', 'help-desk']">
                                <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg"
                                        alt=""></a>
                                <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg"
                                        alt=""></a>

                            </div>
                        </div>
                    </div>

                    <div class="card-body p-2">
                        <p-table [value]="dataSource" styleClass="p-datatable-striped"
                            [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="10"
                            [rowsPerPageOptions]="[5, 10, 20]" (change)="onPageChange($event)"
                            [(selection)]="selectedCustomer">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="categoryName">Expense Category
                                        <p-sortIcon field="categoryName"></p-sortIcon>
                                        <p-columnFilter type="text" field="categoryName"
                                            display="menu"></p-columnFilter>
                                    </th>
                                    <th pSortableColumn="categoryDescription">Description<p-sortIcon
                                            field="categoryDescription"></p-sortIcon>
                                        <p-columnFilter type="text" field="categoryDescription"
                                            display="menu"></p-columnFilter>
                                    </th>
                                    <th width="13%">Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product>
                                <tr>
                                    <td class="bold">{{product.categoryName}}</td>
                                    <td class="bold">{{product.categoryDescription}}</td>
                                    <td appShowHide [roles]="['admin', 'super-admin']">
                  <div class="action-buttons">

                                        <p-button [text]="true" icon="fa fa-edit"
                                            (click)="showDialogEdit(product._id)"></p-button>
                                        <p-button [text]=" true" icon="fa fa-trash"
                                            (click)="deleteExpense(product._id)"></p-button>
                  </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-confirm-dialog [showDialog]="showDialoge" (callbackModal)="callBackModal()" (close)="close()"
    [data]="modalData"></app-confirm-dialog>

<p-dialog header="Add Expenses Categories" [(visible)]="visible" [modal]="true" [style]="{ width: '40%' }"
    [draggable]="false" [resizable]="false">
    <div class="modal-content">
        <div class="modal-body">
            <form [formGroup]="addExpensesCategoryForm" (ngSubmit)="addExpensesCategoryFormsubmit()">
                <div class="row mt-2">

                    <div class="col-12 col-md-12 col-xl-12">
                        <div class="form-group local-forms">
                            <label for="categoryName">Expense Category Name<span class="login-danger">*</span></label>
                            <input class="form-control" type="text" autofocus
                                placeholder="Please Enter Expense Category Name" formControlName="categoryName" />
                            <div *ngIf="
                  addExpensesCategoryForm
                    .get('categoryName')
                    ?.hasError('required') &&
                  addExpensesCategoryForm.get('categoryName')?.touched
                " class="login-danger Font_size">
                                Field is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-xl-12">
                        <div class="form-group local-forms">
                            <label for="Description">Description<span class="login-danger"></span></label>
                            <textarea class="form-control" type="text" placeholder="Please Enter Description"
                                formControlName="categoryDescription" rows="4"></textarea>

                        </div>
                    </div>



                    <div class=" col-12">

                        <div class=" settings-btns text-end m-b-10">
                            <button type="submit" [disabled]="!addExpensesCategoryForm.valid"
                                class="border-0 btn btn-primary btn-gradient-primary m-r-10">Submit</button>
                            <button class="btn btn-secondary" (click)="addCloseDialog()">Cancel</button>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </div>
</p-dialog>

<p-dialog header="Edit Expenses Categories" [(visible)]="visible1" [modal]="true" [style]="{ width: '50%' }"
    [draggable]="false" [resizable]="false">

    <div class="modal-content">
        <div class="modal-body">
            <form [formGroup]="editExpensesCategory" (ngSubmit)="editExpensesCategoryForm()">
                <div class="row mt-2">
                    <div class="col-12 col-md-12 col-xl-12">
                        <div class="form-group local-forms">
                            <label for="categoryName">Expense Category Name<span class="login-danger">*</span></label>
                            <input class="form-control" type="text" autofocus
                                placeholder="Please Enter Expense Category Name" formControlName="categoryName" />
                            <div *ngIf="
              addExpensesCategoryForm
                .get('categoryName')
                ?.hasError('required') &&
              addExpensesCategoryForm.get('categoryName')?.touched
            " class="login-danger Font_size">
                                Field is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-xl-12">
                        <div class="form-group local-forms">
                            <label for="Description">Description<span class="login-danger"></span></label>
                            <textarea class="form-control" type="text" placeholder="Please Enter Description"
                                formControlName="categoryDescription" rows="4"></textarea>

                        </div>
                    </div>
                    <div class=" col-12">

                        <div class=" settings-btns text-end m-b-10">
                            <button type="submit" [disabled]="!editExpensesCategory.valid"
                                class="border-0 btn btn-primary btn-gradient-primary m-r-10">Submit</button>
                            <button type="button" class="btn btn-secondary" (click)="closeDialogEdit()">Cancel</button>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </div>
</p-dialog>
