<p-toast></p-toast>
<div class="page-wrapper">
    <div class="content">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Payments In List</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table show-entire">
                    <div class="card-body">

                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">

                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Payments In List</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">
                                                <input type="text" class="form-control" placeholder="Search here"
                                                    [(ngModel)]="searchDataValue"
                                                    (ngModelChange)="searchData(searchDataValue)">
                                                <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                            </div>
                                            <div class="add-group textbtn">
                                                <a appShowHide [roles]="['admin', 'super-admin', 'help-desk']"
                                                    class="btn btn-primary add-pluss ms-2"
                                                    [routerLink]="routes.addPaymentIn">
                                                    <img src="assets/img/icons/plus.svg" alt="">Add New</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp" appShowHide
                                    [roles]="['admin', 'super-admin', 'help-desk']">
                                    <!-- <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg"
                                            alt="" pTooltip="Download data in PDF file" tooltipPosition="left"
                                        tooltipStyleClass="tooltip"></a> -->
                                    <!-- <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg" alt=""></a> -->
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg"
                                            alt="" pTooltip="Download data in CSV file " tooltipPosition="left"
                                            tooltipStyleClass="tooltip" (click)="dt.exportCSV()"></a>
                                    <!-- <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a> -->
                                </div>

                            </div>
                        </div>

                        <div class="card-body p-2">
                            <!-- <p-table
                                [value]="paymentListData | filter:searchDataValue:['paymentDate','salesInvoice','transactionNo' ,'customer.name','paymentMode','amount']"
                                styleClass="p-datatable-striped" [tableStyle]="{'min-width': '60rem'}"
                                [paginator]="paymentListData?.length >= 5" [rows]="10"
                                [rowsPerPageOptions]="[5, 10, 20]" [(selection)]="selectedCategory"
                                selectionMode="multiple" #dt [columns]="cols" [exportHeader]="'customExportHeader'"
                                    exportFilename="Payment In">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="salesInvoice">Invoice Number <p-sortIcon
                                                field="salesInvoice"></p-sortIcon>
                                            <p-columnFilter matchMode="contains" hideOnClear="true" type="text"
                                                field="salesInvoice" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="transactionNo">Transaction Number <p-sortIcon
                                                field="transactionNo"></p-sortIcon>
                                            <p-columnFilter matchMode="contains" hideOnClear="true" type="text"
                                                field="transactionNo" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="paymentDate">Payment Date <p-sortIcon
                                                field="paymentDate"></p-sortIcon>
                                            <p-columnFilter matchMode="contains" hideOnClear="true" type="text"
                                                field="paymentDate" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="customer.name">Customer <p-sortIcon
                                                field="customer.name"></p-sortIcon>
                                            <p-columnFilter matchMode="contains" hideOnClear="true" type="text"
                                                field="customer.name" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="paymentMode">Payment Mode <p-sortIcon
                                                field="paymentMode"></p-sortIcon>
                                            <p-columnFilter matchMode="contains" hideOnClear="true" type="text"
                                                field="paymentMode" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="amount">Amount <p-sortIcon field="amount"></p-sortIcon>
                                            <p-columnFilter matchMode="contains" hideOnClear="true" type="text"
                                                field="amount" display="menu"></p-columnFilter>
                                        </th>
                                        <th width="10%">Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-payment>
                                    <tr>
                                        <td class="bold">{{payment?.salesInvoice }}</td>
                                        <td class="bold">{{payment?.transactionNo }}</td>
                                        <td class="bold">{{payment?.paymentDate | date: 'dd-MMM-yyyy'}}</td>
                                        <td class="bold">{{payment?.customer.name}}</td>
                                        <td>{{payment?.paymentMode}}</td>
                                        <td>₹ {{payment?.amount |indianCurrency}}</td>
                                        <td class="action-buttons">
                                            <p-button [text]=" true" icon="fa fa-trash" pTooltip="Delete"
                                                (click)="deletePayment(payment._id)" tooltipPosition="bottom"
                                                tooltipStyleClass="tooltip"></p-button>

                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="7" class="text-center">No payment records found.</td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="footer">
                                    <tr *ngIf="totalAmount > 0 ">
                                        <td colspan="4"></td>
                                        <td>Total </td>
                                        <td>₹ {{ totalAmount }}</td>
                                        <td></td>
                                    </tr>
                                </ng-template>
                            </p-table> -->
                            <p-table
                                [value]="paymentListData | filter:searchDataValue:['paymentDate','salesInvoice','transactionNo' ,'customer.name','paymentMode','amount']"
                                styleClass="p-datatable-striped" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }"
                                [paginator]="paymentListData?.length >= 5" [rows]="10"
                                [rowsPerPageOptions]="[5, 10, 20]" #dt selectionMode="multiple"
                                [exportHeader]="'customExportHeader'"
                                exportFilename="Payment In" [columns]="cols">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 5rem"></th>
                                        <th pSortableColumn="salesInvoiceNumber">
                                            Invoice Number
                                            <p-sortIcon field="salesInvoiceNumber"></p-sortIcon>
                                            <p-columnFilter type="text" field="salesInvoiceNumber" hideOnClear="true"
                                                matchMode="contains" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="transactionNo">
                                            Transaction Number <p-sortIcon field="transactionNo"></p-sortIcon>
                                            <p-columnFilter type="text" field="transactionNo" hideOnClear="true"
                                                matchMode="contains" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="paymentDate">
                                            Payment Date<p-sortIcon field="paymentDate"></p-sortIcon>
                                            <p-columnFilter type="text" field="paymentDate" hideOnClear="true"
                                                matchMode="contains" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="paymentMode">
                                            Payment Mode<p-sortIcon field="paymentMode"></p-sortIcon>
                                            <p-columnFilter type="text" field="paymentMode" hideOnClear="true"
                                            matchMode="contains" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="customer.name">Customer <p-sortIcon
                                                field="customer.name"></p-sortIcon>
                                            <p-columnFilter matchMode="contains" hideOnClear="true" type="text"
                                                field="customer.name" display="menu"></p-columnFilter>
                                        </th>

                                        <th pSortableColumn="amount">
                                            Amount <p-sortIcon field="amount"></p-sortIcon>
                                            <p-columnFilter type="text" field="amount" hideOnClear="true"
                                                matchMode="contains" display="menu"></p-columnFilter>
                                        </th>
                                        <th width="10%">Action</th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-product>
                                    <tr>
                                        <td>
                                            <p-button type="button" pRipple (onClick)="toggleRow(product)" [text]="true"
                                                [rounded]="true" [plain]="true" [icon]="
                                        product.expanded
                                          ? 'fa-solid fa-chevron-down'
                                          : 'fa-solid fa-angle-right'
                                      " />
                                        </td>
                                        <td>
                                            {{ product.salesInvoice }}

                                        </td>
                                        <td>{{ product.transactionNo }}</td>
                                        <td>{{ product.paymentDate | date: "dd-MMM-yyyy" }}</td>
                                        <td>{{ product.paymentMode }}</td>
                                        <td>{{ product.customer.name }}</td>
                                        <td>₹ {{ product.amount | indianCurrency }}</td>
                                        <td class="action-buttons">

                                            <p-button [text]=" true" icon="fa fa-trash" pTooltip="Delete"
                                                (click)="deletePayment(product._id)" tooltipPosition="bottom"
                                                tooltipStyleClass="tooltip"></p-button>

                                        </td>
                                    </tr>
                                    <tr *ngIf="product.expanded">
                                        <td colspan="8">
                                            <div class="p-3">
                                                <p-table [value]="product.paymentDetails">
                                                    <ng-template pTemplate="header">
                                    <tr>
                                        <th width="16.5%" pSortableColumn="amountType">
                                            Amount Type
                                            <p-sortIcon field="amountType" />
                                            <p-columnFilter type="text" field="amountType" hideOnClear="true"
                                                matchMode="contains" display="menu"></p-columnFilter>
                                        </th>

                                        <th width="16.5%" pSortableColumn="paymentMode">
                                            Payment Mode
                                            <p-sortIcon field="paymentMode" />
                                            <p-columnFilter type="text" field="paymentMode" hideOnClear="true"
                                                matchMode="contains" display="menu"></p-columnFilter>
                                        </th>

                                        <th width="16.5%" pSortableColumn="amount">
                                            Amount
                                            <p-sortIcon field="amount" />
                                            <p-columnFilter type="text" field="amount" hideOnClear="true"
                                                matchMode="contains" display="menu"></p-columnFilter>
                                        </th>
                                        <!-- <th width="16.5%" pSortableColumn="salesItemSubTotal">
                                      Sub Total
                                      <p-sortIcon field="salesItemSubTotal" />
                                      <p-columnFilter type="text" field="salesItemSubTotal" hideOnClear="true" matchMode="contains"
                                        display="menu"></p-columnFilter>
                                    </th>
                                    <th width="16.5%" pSortableColumn="salesItemTaxAmount">
                                      Taxable Amount
                                      <p-sortIcon field="salesItemTaxAmount" />
                                      <p-columnFilter type="text" field="salesItemTaxAmount" hideOnClear="true" matchMode="contains"
                                        display="menu"></p-columnFilter>
                                    </th>
                                    <th width="16.5%">Tax Rate</th> -->
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-alert>
                                    <tr>
                                        <td>{{ alert.amountType }}</td>
                                        <td>

                                            {{ alert.paymentMode || 'N/A' }}
                                        </td>
                                        <td>
                                            ₹ {{ alert.amount }}
                                        </td>
                                        <!-- <td>
                                      ₹ {{ alert.salesItemSubTotal | indianCurrency }}
                                    </td>
                                    <td>
                                      ₹
                                      {{ alert.salesItemTaxAmount | indianCurrency }}
                                    </td>
                                    <td class="" id="tdSet">
                                      <div class="col3 me-2" *ngFor="let tax of alert.salesItemTax">
                                        {{ tax.name + ": " + tax.taxRate + "%," }}
                                      </div>
                                    </td> -->
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        </td>
                        </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="6" class="text-center">
                                    No Payment found.
                                </td>
                            </tr>
                        </ng-template>
                        <!-- <ng-template pTemplate="footer">
                            <tr>
                              <td colspan="4 "></td>
                              <td>Total Amount</td>
                              <td totalValueDirective [data]="salesTaxReportsData" [name]="salesTaxReports"></td>
                            </tr>
                          </ng-template> -->
                        </p-table>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
</div>

<app-confirm-dialog [showDialog]="showDialoge" (callbackModal)="callBackModal()" (close)="close()"
    [data]="modalData"></app-confirm-dialog>