<p-toast></p-toast>
<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="routes.customers">Customers List</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Edit Customer</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body p-3">
            <form [formGroup]="editCustomerGroup" (ngSubmit)="editCustomerForm()">
              <div class="row">
                <div class="row mt-2 mb-2">
                  <div class="col-md-6 col-sm-12"><h3>Edit Customer</h3></div>
                  <div class="col-md-6 col-sm-12 text-end mb-2"> 
                    <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
                    [disabled]="!editCustomerGroup.valid">
                    Submit
                  </button>
                  <button class="btn btn-secondary" [routerLink]="['/customers']">
                    <a class="text-white"></a>Cancel
                  </button>
                  </div>
                </div>

                <div class="row">

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="name">Name<span class="login-danger">*</span></label>
                      <input class="form-control" type="text" placeholder="Please Enter Name" formControlName="name" />
                      <div *ngIf="
                          editCustomerGroup.get('name')?.hasError('required') &&
                          editCustomerGroup.get('name')?.touched
                        " class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div *ngIf="
                          editCustomerGroup.get('name')?.hasError('pattern') &&
                          editCustomerGroup.get('name')?.touched
                        " class="login-danger Font_size">
                        Input Must be between 3 to 30 characters.
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="phoneNumber">Phone Number<span class="login-danger">*</span></label>
                      <input class="form-control" type="text" placeholder="Please Enter Phone Number"
                        formControlName="phoneNumber" />
                      <div *ngIf="
                          editCustomerGroup
                            .get('phoneNumber')
                            ?.hasError('required') &&
                          editCustomerGroup.get('phoneNumber')?.touched
                        " class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div *ngIf="
                          editCustomerGroup
                            .get('phoneNumber')
                            ?.hasError('pattern') &&
                          editCustomerGroup.get('phoneNumber')?.touched
                        " class="login-danger Font_size">
                        Please Enter 10-Digit number.
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="Email">Email</label>
                      <input class="form-control" type="email" placeholder="Please Enter Email"
                        formControlName="email" />
                      <div *ngIf="
                          editCustomerGroup.get('email')?.hasError('pattern') &&
                          editCustomerGroup.get('email')?.touched
                        " class="login-danger Font_size">
                        Please enter valid Email address.
                      </div>
                    </div>
                  </div>


                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="taxNumber">Tax Number<span class="login-danger"></span></label>
                      <input class="form-control" type="text" placeholder="Please Enter Tax Number"
                        formControlName="taxNumber" />
                      <div *ngIf="
                          editCustomerGroup
                            .get('taxNumber')
                            ?.hasError('pattern') &&
                          editCustomerGroup.get('taxNumber')?.touched
                        " class="login-danger Font_size">
                        Tax Number should be of 15 characters and alphanumeric
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="creditPeriod">Credit Period<span class="login-danger"></span></label>
                      <div class="input-group">
                        <input class="form-control" type="number" placeholder formControlName="creditPeriod" />
                        <div class="input-group-prepend">
                          <span class="input-group-text" style="font-size: 12px">Days</span>
                        </div>
                      </div>

                      <div *ngIf="
                          editCustomerGroup
                            .get('creditPeriod')
                            ?.hasError('min') &&
                          editCustomerGroup.get('creditPeriod')?.touched
                        " class="login-danger Font_size">
                        Credit Period cannot be less than 0 days.
                      </div>
                      <div *ngIf="
                          editCustomerGroup
                            .get('creditPeriod')
                            ?.hasError('max') &&
                          editCustomerGroup.get('creditPeriod')?.touched
                        " class="login-danger Font_size">
                        Credit Period Must not be more than 180 days.
                      </div>
                    </div>
                  </div> -->


                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="creditLimit">Credit Limit<span class="login-danger"></span></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">₹</span>
                        </div>
                        <input class="form-control" type="number" placeholder="0" formControlName="creditLimit" />
                      </div>
                      <div *ngIf="
                          editCustomerGroup
                            .get('creditLimit')
                            ?.hasError('min') &&
                          editCustomerGroup.get('creditLimit')?.touched
                        " class="login-danger Font_size">
                        Credit amount cannot be less than 0.
                      </div>
                      <div *ngIf="
                          editCustomerGroup
                            .get('creditLimit')
                            ?.hasError('max') &&
                          editCustomerGroup.get('creditLimit')?.touched
                        " class="login-danger Font_size">
                        Credit Period Must not be more than 7 digit number.
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="billingAddress">Billing Address</label>
                      <textarea class="form-control" type="text" placeholder="Please Enter Billing Address"
                        formControlName="billingAddress" rows="1"></textarea>

                      <div *ngIf="
                          editCustomerGroup
                            .get('billingAddress')
                            ?.hasError('pattern') &&
                          editCustomerGroup.get('billingAddress')?.touched
                        ">
                        <span class="login-danger">Billing Address Must be between 3 to 100 characters</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="shippingAddress">Shipping Address</label>
                      <textarea class="form-control" type="text" placeholder="Please Enter Shipping Address"
                        formControlName="shippingAddress" rows="1"></textarea>

                      <div *ngIf="
                          editCustomerGroup
                            .get('shippingAddress')
                            ?.hasError('pattern') &&
                          editCustomerGroup.get('shippingAddress')?.touched
                        ">
                        <span class="login-danger">Shipping Address Must be between 3 to 500 characters</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 d-flex col-xl-6">
                    <div class="form-group local-forms w-100">
                      <label for="openingBalance">Opening Balance</label>
                      <input 
                        class="form-control" 
                        type="number" 
                        placeholder="0" 
                        formControlName="openingBalance" 
                      />
                     
                    </div>
                   
                    <div class="form-group local-forms w-100">
                      <label for="balanceType">Balance Type</label>
                      <select class="form-control" id="balanceType"  formControlName="balanceType">
                        <option selected>Received</option>
                      </select>
                    </div>
                   
                  </div>
                  
                
                 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>