.container-box {
    background: #F8F5F2;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
}
 
.header-text {
    font-weight: bold;
    color: #8B5E34;
}
 
.sales-revenue {
    background: #8B5E34;
    color: white;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
}
 
.progress-bar {
    background-color: #8B5E34;
}
 
.view-more {
    padding: 5px 15px;
    color: #8B5E34;
    text-decoration: none;
}