<p-toast></p-toast>
<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Product</li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Slabs List</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table show-entire">
                    <div class="card-body">
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Slabs List</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">
                                                <input type="text" class="form-control" placeholder="Search here"
                                                    [(ngModel)]="searchDataValue"
                                                    (ngModelChange)="searchData(searchDataValue)">
                                                <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                            </div>
                                            <div class="add-group textbtn">
                                                <a appShowHide [roles]="['admin', 'super-admin']"
                                                    [routerLink]="['/slabs/slab-add']"
                                                    class="btn btn-primary add-pluss ms-2"><img
                                                        src="assets/img/icons/plus.svg" alt=""> Add New</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp" appShowHide
                                    [roles]="['admin', 'super-admin']">
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg"
                                            alt=""></a>
                                    <!-- <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg"
                                            alt=""></a> -->
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg"
                                            alt=""></a>
                                    <!-- <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a> -->

                                </div>
                            </div>
                        </div>

                        <div class="card-body p-2">
                            <p-table [value]="allSlabsDaTa" [tableStyle]="{'min-width': '60rem'}" [paginator]="true"
                                [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" styleClass="p-datatable-striped"
                                (onPage)="onPageChange($event)" [(selection)]="selectedSlabs">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="slabNo">Slab No<p-sortIcon field="slabNo"></p-sortIcon>
                                            <p-columnFilter type="text" field="slabNo" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="slabName">Slab Name<p-sortIcon
                                                field="slabName"></p-sortIcon>
                                            <p-columnFilter type="text" field="slabName"
                                                display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="size">Size<p-sortIcon field="size"></p-sortIcon>
                                            <p-columnFilter type="text" field="size" display="menu"></p-columnFilter>

                                        </th>
                                        <th pSortableColumn="categoryDetail.name">Category<p-sortIcon
                                                field="categoryDetail.name"></p-sortIcon>
                                            <p-columnFilter type="categoryDetail.name" field="categoryDetail.name"
                                                display="menu"></p-columnFilter>

                                        </th>
                                        <th pSortableColumn="subCategoryDetail.name">Sub Category<p-sortIcon
                                                field="subCategoryDetail.name"></p-sortIcon>
                                            <p-columnFilter type="text" field="subCategoryDetail.name"
                                                display="menu"></p-columnFilter>

                                        </th>
                                        <th pSortableColumn="totalSQFT">Total Square Feet<p-sortIcon
                                                field="totalSQFT"></p-sortIcon>
                                            <p-columnFilter type="text" field="totalSQFT"
                                                display="menu"></p-columnFilter>

                                        </th>
                                        <th pSortableColumn="totalCosting">Total Costing <p-sortIcon
                                                field="totalCosting"></p-sortIcon>
                                            <p-columnFilter type="text" field="totalCosting"
                                                display="menu"></p-columnFilter>

                                        </th>
                                        <th pSortableColumn="sellingPricePerSQFT">Selling Price<p-sortIcon
                                                field="sellingPricePerSQFT"></p-sortIcon>
                                            <p-columnFilter type="text" field="sellingPricePerSQFT"
                                                display="menu"></p-columnFilter>

                                        </th>
                                        <th pSortableColumn="warehouseDetails.name">Warehouse<p-sortIcon
                                                field="warehouseDetails.name"></p-sortIcon>
                                            <p-columnFilter type="text" field="warehouseDetails.name"
                                                display="menu"></p-columnFilter>
                                        </th>
                                        <th appShowHide [roles]="['admin', 'super-admin']">Action
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-slabs>

                                    <tr>
                                        <td>
                                            {{slabs.slabNo}}
                                        </td>
                                        <td>
                                            {{slabs.slabName}}
                                        </td>
                                        <td>
                                            {{slabs.slabSize}}
                                        </td>
                                        <td>
                                            {{slabs.categoryDetail.name}}
                                        </td>
                                        <td>
                                            {{slabs.subCategoryDetail.name}}
                                        </td>
                                        <td>
                                            {{slabs.totalSQFT}}
                                        </td>
                                        <td>
                                            {{slabs.totalCosting}}
                                        </td>
                                        <td>
                                            {{slabs.sellingPricePerSQFT}}
                                        </td>
                                        <td>
                                            {{slabs.warehouseDetails.name}}
                                        </td>
                                        <td appShowHide [roles]="['admin', 'super-admin']">
                                            <div class="action-buttons">

                                                <p-button *ngIf="slabs.isInUse === false" [text]="true" icon="fa fa-edit"
                                                    (click)="updateSlabs(slabs._id)"></p-button>
                                                <p-button *ngIf="slabs.isInUse === false" [text]=" true" icon="fa fa-trash"
                                                (click)="deleteSlabs(slabs._id)"></p-button>
                                            </div>
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-confirm-dialog [showDialog]="showDialog" (callbackModal)="callBackModal()" (close)="close()"
    [data]="modalData"></app-confirm-dialog>