<p-toast></p-toast>
<div class="">
  <div class="content">
    <!-- <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item">
              <a>Settings</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/settings/users']">Users</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Add User</li>
          </ul>
        </div>
      </div>
    </div> -->

    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body card-table">
            <div class="page-table-header mb-2">
              <form
                [formGroup]="addBillingAddress"
                (ngSubmit)="addBillingAddressFrom()"
              >
                <div class="row">
                  <div
                    class="d-flex m-b-10"
                    style="justify-content: space-between"
                  >
                    <h3>Add Billing Address</h3>
                    <div class="settings-btns text-end m-b-10">
                      <button
                        type="submit"
                        class="border-0 btn btn-primary btn-gradient-primary m-r-10"
                        [disabled]="!addBillingAddress.valid"
                      >
                        Submit
                      </button>
                      <button
                        class="btn btn-secondary"
                        [routerLink]="['/settings/billing-Address']"
                      >
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <!-- second row -->
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="companyName"
                        >Company Name <span class="login-danger">*</span></label
                      >
                      <input
                        class="form-control bor"
                        type="text"
                        formControlName="companyName"
                        placeholder
                      />
                      <div
                        *ngIf="
                          addBillingAddress
                            .get('companyName')
                            ?.hasError('required') &&
                          addBillingAddress.get('companyName')?.touched
                        "
                        class="login-danger Font_size"
                      >
                        Field is required.
                      </div>
                      <!-- <div
                        *ngIf="
                          addBillingAddress
                            .get('companyName')
                            ?.hasError('pattern') &&
                          addBillingAddress.get('companyName')?.touched
                        "
                        class="login-danger Font_size"
                      >
                        Input must be between 3 to 50 characters.
                      </div> -->
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="addressLine1"
                        >Address Line 1 <span class="login-danger">*</span
                      ></label>
                      <input
                        class="form-control"
                        type="addressLine1"
                        placeholder
                        formControlName="addressLine1"
                      />
                      <div
                        *ngIf="
                          addBillingAddress
                            .get('addressLine1')
                            ?.hasError('required') &&
                          addBillingAddress.get('addressLine1')?.touched
                        "
                        class="login-danger Font_size"
                      >
                        Field is required.
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="addressLine2"
                        >Address Line 2<span class="login-danger"></span
                      ></label>
                      <input
                        class="form-control"
                        type="addressLine2"
                        placeholder
                        formControlName="addressLine2"
                      />
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="country"
                        >Country<span class="login-danger">*</span></label
                      >
                      <p-dropdown
                        [options]="countriesList"
                        styleClass=""
                        appendTo="body"
                        optionLabel="name"
                        placeholder="Select Country"
                        formControlName="country"
                        [style]="{ width: '100%' }"
                        [filter]="true"
                        filterBy="name"
                        [showClear]="true"
                      >
                      </p-dropdown>
                      <div
                        *ngIf="
                          addBillingAddress
                            .get('country')
                            ?.hasError('required') &&
                          addBillingAddress.get('country')?.touched
                        "
                      >
                        <span class="login-danger">Field is required.</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="state"
                        >State<span class="login-danger">*</span></label
                      >
                      <input
                        class="form-control bor"
                        type="text"
                        formControlName="state"
                        placeholder
                      />
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="city"
                        >City <span class="login-danger">*</span></label
                      >
                      <input
                        class="form-control bor"
                        type="text"
                        formControlName="city"
                        placeholder
                      />
                      <div
                        *ngIf="
                          addBillingAddress.get('city')?.hasError('required') &&
                          addBillingAddress.get('city')?.touched
                        "
                        class="login-danger Font_size"
                      >
                        Field is required.
                      </div>
                      <!-- <div
                        *ngIf="
                          addBillingAddress.get('city')?.hasError('pattern') &&
                          addBillingAddress.get('city')?.touched
                        "
                        class="login-danger Font_size"
                      >
                        Input must be between 3 to 50 characters.
                      </div> -->
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="postalCode"
                        >Postal Code (ZIP)<span class="login-danger"
                          >*</span
                        ></label
                      >
                      <input
                        class="form-control bor"
                        type="text"
                        formControlName="postalCode"
                        placeholder
                      />
                      <div
                        *ngIf="
                          addBillingAddress
                            .get('postalCode')
                            ?.hasError('required') &&
                          addBillingAddress.get('postalCode')?.touched
                        "
                        class="login-danger Font_size"
                      >
                        Field is required.
                      </div>
                      <!-- <div
                        *ngIf="
                          addBillingAddress
                            .get('postalCode')
                            ?.hasError('pattern') &&
                          addBillingAddress.get('postalCode')?.touched
                        "
                        class="login-danger Font_size"
                      >
                        Input must be between 3 to 50 characters.
                      </div> -->
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="PhoneNumber"
                        >Phone Number <span class="login-danger">*</span></label
                      >
                      <input
                        class="form-control"
                        type="number"
                        formControlName="phoneNumber"
                        placeholder="xxx-xxx-xxxx"
                      />
                      <div
                        *ngIf="
                          addBillingAddress
                            .get('phoneNumber')
                            ?.hasError('required') &&
                          addBillingAddress.get('phoneNumber')?.touched
                        "
                        class="login-danger Font_size"
                      >
                        Field is required.
                      </div>
                      <!-- <div
                        class="login-danger Font_size"
                        *ngIf="
                          addBillingAddress
                            .get('phoneNumber')
                            ?.hasError('pattern') &&
                          addBillingAddress.get('phoneNumber')?.touched
                        "
                      >
                        Please Enter 10-Digit number.
                      </div> -->
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="email"
                        >Email <span class="login-danger"></span></label
                      >
                      <input
                        class="form-control"
                        formControlName="email"
                        type="text"
                        placeholder
                      />
                      <!-- <div
                        *ngIf="
                          addBillingAddress
                            .get('email')
                            ?.hasError('required') &&
                          addBillingAddress.get('email')?.touched
                        "
                        class="login-danger Font_size"
                      >
                        Field is required.
                      </div> -->
                      <!-- <div
                        *ngIf="
                          addBillingAddress.get('email')?.hasError('pattern') &&
                          addBillingAddress.get('email')?.touched
                        "
                        class="login-danger Font_size"
                      >
                        Contain Upto 8-16 chars, uppercase, lowercase, digit,
                        special char.
                      </div> -->
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="doctor-submit">
                      <div class="col-md-4 checkbox d-flex gap-2 w-100">
                        <p-checkbox
                          [binary]="true"
                          formControlName="setAsDefault"
                          class="m-r-10"
                          id="setAsDefault"
                        >
                        </p-checkbox>
                        <label for="setAsDefault">Set as Default</label>
                      </div>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
