<style>
    span {
        font-size: 13px;
    }
    .hov:hover{
        background: #b1b1b1b7;
    }
    .hov{
        transition: 0.6s;
        cursor: pointer;
    }
</style>
<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/patient/patients-list']">Patient List</a>
                        </li>
                        <li class="breadcrumb-item">
                            <i class="feather icon-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item active">History</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3" *ngFor="let data of history">
                <div class="card hov">
                    <div class="card-body" (click)="editButton(data.id)"
                        (keyup.space)="editButton(data.id)" tabindex="0">
                        <h4>{{ data.title }}</h4>
                        <span>{{ data.dis }}</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

        </div>