<mat-dialog-content class="mat-typography mat-lg" style="width: 100%;">

    <div class="m-b-20">
        <h3>Edit Sub Category</h3>
    </div>

    <div class="modal-body">
        <form [formGroup]="editSubCategoryForm" (ngSubmit)="editSubCategoryFormSubmit()">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group local-forms">
                        <label for="name">Name <span class="login-danger">*</span></label>
                        <input class="form-control" type="text" placeholder="" formControlName="name">

                        <div
                            *ngIf="editSubCategoryForm.get('name')?.hasError('required') && editSubCategoryForm.get('name')?.touched">
                            <span class="login-danger">Field is required.</span>
                        </div>
                        <div
                            *ngIf="editSubCategoryForm.get('name')?.hasError('pattern') && editSubCategoryForm.get('name')?.touched">
                            <span class="login-danger">Input must be between 3 to 50 characters.</span>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group local-forms">
                        <label for="name">Category <span class="login-danger">*</span></label>
                        <p-dropdown [options]="categoriesListData" styleClass="" appendTo="body" optionLabel="name"
                            optionValue="_id" placeholder="Select  Category" formControlName="categoryId"
                            [style]="{'width':'100%'}" [filter]="true" filterBy="name" [showClear]="true">
                        </p-dropdown>

                        <div
                            *ngIf="editSubCategoryForm.get('categoryId')?.hasError('required') && editSubCategoryForm.get('categoryId')?.touched">
                            <span class="login-danger">Field is required.</span>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group local-forms">
                        <label for="description">Description</label>
                        <textarea class="form-control" type="text" formControlName="description"
                            placeholder=""></textarea>
                        
                        <div
                            *ngIf="editSubCategoryForm.get('description')?.hasError('pattern') && editSubCategoryForm.get('description')?.touched">
                            <span class="login-danger">Input must be between 3 to 500 characters.</span>
                        </div>
                    </div>
                </div>

                <div class=" col-12">

                    <div class=" settings-btns text-end m-b-10">
                        <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
                            [disabled]="!editSubCategoryForm.valid">Submit</button>
                        <button class="btn btn-secondary" [mat-dialog-close]="true">Cancel</button>
                    </div>

                </div>

            </div>
        </form>
    </div>
</mat-dialog-content>