h3 {
   p {
    font-size: 16px;
    color: #97704f;
    text-align: initial;
   }
}
.slab-specification{
   font-family: poppins;
   font-size: 16px;
   color: #97704f;
   text-align: initial;
   margin-bottom: 25px;
}