<div class="page-wrapper">
  <div class="content">

    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/patient/patients-list']">Patient List</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Care CheckList</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body">
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Patient Care Checklist History</h3>
                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk">
                        <input type="text" class="form-control" placeholder="Search here" [(ngModel)]="searchDataValue"
                          (ngModelChange)="searchData(searchDataValue)">
                        <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                      </div>
                      <div class="add-group textbtn">
                        <a class="btn btn-primary add-pluss ms-2"><img src="assets/img/icons/plus.svg" alt=""> Add
                          New</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto text-end float-end ms-auto download-grp">
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg" alt=""></a>
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg" alt=""></a>
                </div>
              </div>
            </div>


            <div class="row">

              <div class="table-responsive">
                <p-table [value]="careCheckLists" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5"
                  [rowsPerPageOptions]="[5, 10, 20]" [(selection)]="selectedProducts">
                  <ng-template pTemplate="header">
                    <tr>
  
                      <th pSortableColumn="careCheckListMeasure" style="width: 60%;" >Measures<p-sortIcon field="careCheckListMeasure"></p-sortIcon>
                        <p-columnFilter type="text" field="careCheckListMeasure" display="menu"></p-columnFilter>
                      </th>
                      <th pSortableColumn="careCheckListLastUpdate" style="width: 15%;">Last Update<p-sortIcon field="careCheckListLastUpdate"></p-sortIcon>
                        <!-- <p-columnFilter type="text" field="careCheckListLastUpdate" display="menu"></p-columnFilter> -->
                      </th>
                      <th pSortableColumn="careCheckListStatus" style="width: 10%;">Status<p-sortIcon field="careCheckListStatus"></p-sortIcon>
                        <!-- <p-columnFilter type="text" field="careCheckListStatus" display="menu"></p-columnFilter> -->
                      </th>
                      <th pSortableColumn="careCheckListResult" style="width: 15%;">Result<p-sortIcon field="careCheckListResult"></p-sortIcon>
                        <!-- <p-columnFilter type="text" field="careCheckListResult" display="menu"></p-columnFilter> -->
                      </th>
                      <!-- <th appShowHide [roles]="['admin', 'super-admin']">Action</th> -->
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-data>
                    <tr>
                      <td  class="text-start">{{data.careCheckListMeasure}}</td>
                      <td>{{data.careCheckListLastUpdate}}</td>
                      <td>{{data.careCheckListStatus}}</td>
                      <td>{{data.careCheckListResult}}</td>
  
                      <!-- <td style="display: flex;" appShowHide [roles]="['admin', 'super-admin']">
                        <p-button [text]=" true" icon="fa fa-trash" (click)="deleteProblem(1)"></p-button>
                      </td> -->
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>

          </div>
        </div>