<p-dialog header="Sales Invoice Details" [(visible)]="showInvoiceDialog" [closable]="false"
  *ngFor="let sales of salesDataById" [responsive]="true" [baseZIndex]="10000" [closeOnEscape]="false" [modal]="true"
  [style]="{width: '80vw'}">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="card invoice-info-card">
            <div class="card-body pb-0">
              <div class="invoice-item invoice-item-one">
                <div class="row">
                  <div class="col-md-6">
                    <div class="invoice-logo d-flex justify-content-start">
                      <!-- <button type="button" label="Cancel" class="fa fa-arrow-left btn-primary"
                      (click)="closeTheWindow()"> close</button> -->

                      
                    <!-- <p-button [text]="true" icon="fa-solid fa-arrow-left" (click)="closeTheWindow()"></p-button> -->
                      <!-- <i class="fa-solid fa-arrow-left"> Close</i> -->

                      <div class="add-group textbtn">
                        <a  (click)="closeTheWindow()" class="btn btn-primary add-pluss ms-2">
                          <i class="fa-solid fa-arrow-left"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="invoice-info">
                      <div class="invoice-head justify-content-end">
                        <!-- <h2 class="text-primary">Sales</h2> -->
                        <p>Invoice Number : {{sales.salesInvoiceNumber}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="card card-table show-entire">
                    <div class="page-table-header mb-2 m-3">
                      <div class="row practice-card">
                        <div class="col-xl-6 col-lg-6 col-sm-12">

                          <div class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Customer:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">{{sales.customer.name}}</p>
                            </div>
                          </div>
                          <div class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Sales Date:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">{{sales.salesDate}}</p>
                            </div>
                          </div>

                          <div class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Paid Amount:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">{{sales.paidAmount}}</p>
                            </div>
                          </div>
                          <div class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Due Amount:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">{{sales.dueAmount}}</p>
                            </div>
                          </div>


                        </div>
                        <div class="col-xl-6 col-lg-6 col-sm-12">

                          <div class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Order Taken By:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-form-label">{{sales.createdByName}}</p>
                            </div>
                          </div>
                          <div class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Order Status:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-form-label">{{sales.salesOrderStatus}}</p>
                            </div>
                          </div>

                          <div class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Payment Status:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-form-label">{{sales.paymentStatus}}</p>
                            </div>
                          </div>


                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>


              <div class="card">
                <p-tabView>
                  <p-tabPanel header="Items">
                    <p-table [value]="salesDataById" [tableStyle]="{'min-width': '60rem'}">
                      <ng-template pTemplate="header">
                        <tr>
                          <th pSortableColumn="salesItemCategory">Product
                          </th>
                          <th pSortableColumn="salesItemQuantity">Quantity
                          </th>
                          <th pSortableColumn="salesItemUnitPrice">Unit Price
                          </th>
                          <th pSortableColumn="salesItemTaxAmount">Taxable Amount
                          </th>
                          <th pSortableColumn="salesItemSubTotal">Sub Total
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data>
                        <tr *ngFor="let sales of data.salesItemDetails">
                          <td>{{sales.salesItemProduct.slabName}}</td>
                          <td>{{sales.salesItemQuantity}}</td>
                          <td>₹ {{sales.salesItemUnitPrice}}</td>
                          <td>₹ {{sales.salesItemTaxAmount}}</td>
                          <td>₹ {{sales.salesItemSubTotal}}</td>
                        </tr>
                      </ng-template>
                    </p-table>

                  </p-tabPanel>

                  <p-tabPanel header="Payments">
                    <p-table [value]="paymentDataListById" *ngIf="paymentDataListById?.length > 0"
                      [tableStyle]="{'min-width': '60rem'}">
                      <ng-template pTemplate="header">
                        <tr>
                          <th pSortableColumn="transactionNo">Trnx No.
                          </th>
                          <th pSortableColumn="paymentDate">Payment Date
                          </th>
                          <th pSortableColumn="amount">Amount
                          </th>
                          <th pSortableColumn="paymentMode">Payment Mode
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-payment>
                        <tr>
                          <td class="bold">{{payment.transactionNo}}</td>
                          <td class="bold">{{payment.paymentDate | date: 'dd-MM-yyyy'}}</td>
                          <td>₹ {{payment.amount}}</td>
                          <td>{{payment.paymentMode}}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </p-tabPanel>
                </p-tabView>
              </div>


              <div class="row align-items-center justify-content-center invoice-sign-box">
                <div class="col-lg-6 col-md-6">
                  <div class="col-lg-8 col-md-8">
                    <div class="invoice-terms">
                      <h6>Notes:</h6>
                      <p class="mb-0">{{sales.salesNotes}}</p>
                    </div>
                    <div class="invoice-terms mb-0">
                      <h6>Terms and Conditions:</h6>
                      <p class="mb-0">{{sales.salesTermsAndCondition}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="invoice-total-card">
                    <div class="invoice-total-box">
                      <div class="invoice-total-inner">
                        <p>Gross Total <span>₹ {{sales.salesGrossTotal}}</span></p>
                        <p>Shipping Charges <span>₹ {{sales.salesShipping}}</span></p>
                        <p>Discount <span>₹ {{sales.salesDiscount}}</span></p>
                        <p>OtherCharges <span>₹ {{sales.otherCharges}}</span></p>
                      </div>
                      <div class="invoice-total-footer">
                        <h4>Total Amount <span>₹ {{sales.salesTotalAmount}}</span></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="upload-sign">
                  <div class="form-group float-end m-5px">
                    <button type="button" label="Cancel" class="btn  btn-primary"
                      (click)="closeTheWindow()">Cancel</button>
                  </div>
                </div> -->
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>