<p-dialog [(visible)]="showInvoiceDialog" [closable]="false" *ngFor="let sales of salesDataById" [responsive]="true"
  [baseZIndex]="10000" [closeOnEscape]="false" [modal]="true" [style]="{ width: '80vw' }">
  <ng-template pTemplate="header">
    <div class="d-flex justify-content-between align-items-center w-100">
      <h4>{{ header }}</h4>
      <div class="d-flex">
        <button *ngIf="sales?.salesDate" type="button" class="btn icon-button" aria-label="Download"
          (click)="downloadSalesFile(sales?._id, sales?.salesInvoiceNumber)">
          <i class="fa-solid fa-download"></i>
        </button>
        <button *ngIf="sales?.quotationInvoiceNumber" type="button" class="btn icon-button" aria-label="Download"
          (click)="downloadQuotationFile(sales?._id, sales?.quotationInvoiceNumber)">
          <i class="fa-solid fa-download"></i>
        </button>
        <button type="button" class="btn icon-button" aria-label="Close" (click)="closeTheWindow()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
  </ng-template>
  <div class="modal-content">
    <div class="modal-body">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="card invoice-info-card">
            <div class="card-body pb-0">
              <div class="invoice-item invoice-item-one">
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <div class="invoice-head justify-content-start text-align-start">
                        <p>
                          <span style="
                              color: #97704f;
                              font-weight: bold;
                              font-size: 16px;
                            ">Seller Address </span><br />
                          <span>
                            <div *ngIf="sales?.billingAddress" style="line-height: 100%">
                              <h5 *ngIf="sales?.billingAddress?.companyName">
                                {{ sales?.billingAddress?.companyName + ' ,' }}
                              </h5>
                              <h5 title="address Line 1" *ngIf="sales?.billingAddress?.addressLine1">
                                {{ sales?.billingAddress?.addressLine1 + ' ,' }}
                              </h5>
                              <h5 title="address Line 2" *ngIf="sales?.billingAddress?.addressLine2">
                                {{ sales?.billingAddress?.addressLine2 + ' ,' }}
                              </h5>
                              <h5>
                                <span title="City" *ngIf="sales?.billingAddress?.city">{{ sales?.billingAddress?.city
                                  }}</span>, <span title="State" *ngIf="sales?.billingAddress?.state">{{
                                  sales?.billingAddress?.state }}</span>,
                                <span title="Postal Code" *ngIf="sales?.billingAddress?.postalCode">{{
                                  sales?.billingAddress?.postalCode + ' ,'
                                  }}</span>
                              </h5>
                              <h5 title="Country" *ngIf="sales?.billingAddress?.country?.name">{{
                                sales?.billingAddress?.country?.name }}</h5>
                                <h5 *ngIf="sales?.billingAddress?.taxNo" title="GST">GST No:{{ sales?.billingAddress?.taxNo }}</h5>
                            </div>
                          </span>
                          <span *ngIf="sales?.supplier?.billingAddress"
                            [innerHTML]="sales?.supplier?.billingAddress | wordWrap : 2"></span>

                        </p>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="invoice-info">
                      <div class="invoice-head justify-content-end">
                        <p>
                          <span style="
                              color: #97704f;
                              font-weight: bold;
                              font-size: 16px;
                            ">Buyer Address </span><br />
                          <span *ngIf="sales?.customer?.billingAddress" [innerHTML]="
                              sales?.customer?.billingAddress | wordWrap : 2
                            "></span>
                            
                          <span *ngIf="sales?.purchaseDate" [innerHTML]="
                            sellerData?.address  | wordWrap : 2
                            "></span>
                          <span *ngIf="sales?.purchaseReturnTotalAmount
                            " [innerHTML]="
                              sellerData?.address  | wordWrap : 2
                              "></span>
                        </p>
                        <p>
                          <span *ngIf="sales?.customer?.billingAddress?.taxNo" style="font-size:15px" >
                            GST No:{{ sales?.customer?.billingAddress?.taxNo }}
                          </span>
                        </p>
                      </div>
                    </div>

                  </div>
                </div>  
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="card card-table show-entire">
                    <div class="page-table-header mb-2 m-3">
                      <div class="row practice-card">
                        <div class="col-xl-6 col-lg-6 col-sm-12">
                          <div
                            *ngIf="sales?.salesInvoiceNumber || header == 'Purchase Invoice' || header == 'Quotation Invoice' || header == 'Quotation Invoice' "
                            class="form-group row mb-2">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Invoice Number :
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                {{ sales?.salesInvoiceNumber || sales?.purchaseInvoiceNumber||
                                sales?.quotationInvoiceNumber }}
                              </p>
                            </div>
                          </div>
                          <!-- <div *ngIf="header == 'Purchase Invoice'" class="form-group row mb-2">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Invoice Number :
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                {{ sales.purchaseInvoiceNumber }}
                              </p>
                            </div>
                          </div>
                          <div *ngIf="header == 'Quotation Invoice'" class="form-group row mb-2">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Invoice Number :
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                {{ sales.quotationInvoiceNumber }}
                              </p>
                            </div>
                          </div> -->
                          <div *ngIf="header == 'Purchase Return Invoice'" class="form-group row mb-2">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Invoice Number :
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                {{
                                sales?.purchaseInvoiceNumber?.purchaseInvoiceNumber
                                }}
                              </p>
                            </div>
                          </div>

                          <div *ngIf="sales.customer?.name" class="form-group row mb-2">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Customer:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                {{ sales?.customer?.name }}
                              </p>
                            </div>
                          </div>
                          <div *ngIf="sales?.supplier?.name" class="form-group row mb-2">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Supplier:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                {{ sales?.supplier?.name }}
                              </p>
                            </div>
                          </div>
                          <div class="form-group row mb-2" *ngIf="sales?.salesDate">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Sales Date:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                {{ sales?.salesDate | date : "dd-MMM-yyyy" }}
                              </p>
                            </div>
                          </div>
                          <div class="form-group row mb-2" *ngIf="sales?.purchaseDate">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Purchase Date / Type:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                {{ sales?.purchaseDate | date : "dd-MMM-yyyy" }} / {{ sales?.purchaseType.toUpperCase() }}
                              </p>
                            </div>
                          </div>
                          <div *ngIf="sales?.returnDate" class="form-group row mb-2">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Return Date:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-form-label">
                                {{ sales?.returnDate | date : "dd-MMM-yyyy" }}
                              </p>
                            </div>
                          </div>
                          <div class="form-group row mb-2" *ngIf="sales?.quotationDate ">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Quotation Date:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                {{ sales?.quotationDate | date:'dd-MMM-yyyy' }}
                              </p>
                            </div>
                          </div>

                          <!-- <div class="form-group row mb-2" *ngIf="sales.purchaseType ">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Purchase Type:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                {{ sales.purchaseType.toUpperCase() }}
                              </p>
                            </div>
                          </div> -->
                          <!-- <div class="form-group row mb-2" *ngIf="sales.creditPeriod ">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Credit Period:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                {{ sales.creditPeriod }} Days
                              </p>
                            </div>
                          </div> -->
                          <div class="form-group row mb-2" *ngIf="sales?.salesDate">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Taxable Amount:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                ₹ {{ sales?.taxable ? ( sales?.taxable | indianCurrency) : '0' }}
                              </p>
                            </div>
                          </div>
                          <!-- <div class="form-group row mb-2"
                            *ngIf="sales.salesReturnTermsAndCondition || sales.returnDate ">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Return Type:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                SLAB
                              </p>
                            </div>
                          </div> -->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-sm-12">
                          <div class="form-group row mb-2" *ngIf="sales?.createdByName">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Order Taken By:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-form-label">
                                {{ sales?.createdByName?.toUpperCase() }}
                              </p>
                            </div>
                          </div>

                          <div class="form-group row mb-2" *ngIf="sales?.supplier?.taxNo">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              GST No / Tax No:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-form-label">
                                {{ sales?.supplier?.taxNo || 'N/A' }}
                              </p>
                            </div>
                          </div>
                          <div class="form-group row mb-2" *ngIf="sales?.customer?.taxNo">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              GST No / Tax No:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-form-label">
                                {{ sales?.customer?.taxNo || 'N/A' }}
                              </p>
                            </div>
                          </div>
                          <div class="form-group row mb-2">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Due Amount:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                ₹ {{ sales?.dueAmount ? (sales?.dueAmount | indianCurrency) : '0'}}
                              </p>
                            </div>
                          </div>

                          <ng-template #zeroPayment>
                            <div class="form-group row mb-2">
                              <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                                Paid Amount:
                              </h5>
                              <div class="col-lg-8 col-md-8 col-xl-8">
                                <p class="col-lg-8 col-form-label">
                                  ₹ 0
                                </p>
                              </div>
                            </div>
                          </ng-template>

                          <div class="form-group row mb-2"
                            *ngIf="sales?.paidAmount || sales?.quotationInvoiceNumber zeroPayment">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Paid Amount:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                ₹ {{ sales?.paidAmount |indianCurrency }}
                              </p>
                            </div>
                          </div>
                          <div class="form-group row mb-2" *ngIf="sales?.salesDate">
                            <h5 class="col-lg-4 col-md-4 col-xl-4 col-form-label">
                              Non Taxable Amount:
                            </h5>
                            <div class="col-lg-8 col-md-8 col-xl-8">
                              <p class="col-lg-8 col-form-label">
                                {{ sales?.nonTaxable ? ('₹ ' + (sales?.nonTaxable | indianCurrency)) : '₹ 0' }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <p-tabView>
                  <p-tabPanel header="Items">
                    <p-table [value]="salesDataById" styleClass="p-datatable-striped" 
                      [tableStyle]="{ 'min-width': '60rem' }">
                      <ng-template pTemplate="header">
                        <tr *ngIf="sales?.salesItemDetails && !sales?.returnDate">
                          <th>Warehouse</th>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>Pieces</th>
                          <th>Unit Price </th>
                          <th>Taxable Amount </th>
                          <th>Non-Taxable Amount </th>
                          <th>Sub Total</th>
                        </tr>
                        <tr
                          *ngIf="sales?.returnDate && !sales?.purchaseReturnNotes && !sales?.purchaseReturnTotalAmount">
                          <th>Warehouse</th>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>Unit Price </th>
                          <th>Sub Total</th>
                        </tr>
                        <tr *ngIf="sales?.quotationItemDetails">
                          <th>Warehouse</th>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>Unit Price </th>
                          <th>Taxable Amount </th>
                          <th>Sub Total</th>
                        </tr>
                        <tr *ngIf="sales?.lotDetails">
                          <th>Lot Name</th>
                          <th>Lot Number</th>
                          <th>Warehouse</th>
                          <th>Price / Ton</th>
                          <th>Lot Weight (Ton)</th>
                          <th>Transport Charge / Ton</th>
                          <th>Total Blocks</th>
                          <th>Lot Total Costing </th>
                          <th>Taxable Amount </th>
                          <th>Non-Taxable Amount </th>
                        </tr>
                        <tr *ngIf="sales?.slabDetails">
                          <th>Slab Number</th>
                          <th>Slab Name</th>
                          <th>Category</th>
                          <th>Sub Category</th>
                          <th>Warehouse</th>
                          <th>Cost / Square Feet</th>
                          <th>Total Square Feet</th>
                          <th>Purchase Cost</th>
                        </tr>
                        <tr *ngIf="sales?.purchaseReturnItemDetails">
                          <th>Slab Number</th>
                          <th>Slab Name</th>
                          <th>Category</th>
                          <th>Sub Category</th>
                          <th>Warehouse</th>
                          <th>Cost / Square Feet</th>
                          <th>Total Square Feet</th>
                          <th>Purchase Cost</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data *ngIf="sales?.salesItemDetails && !sales?.returnDate">
                        <tr *ngFor="let sales of data?.salesItemDetails">
                          <td>{{ sales?.salesWarehouseDetails?.name }}</td>
                          <td>{{ sales?.salesItemProduct?.slabName }}</td>
                          <td>{{ sales?.salesItemQuantity }}</td>
                          <td>{{ sales?.salesItemPieces }}</td>
                          <td>₹ {{ sales?.salesItemUnitPrice }}</td>
                          <td>₹ {{ sales?.salesItemAppliedTaxAmount | indianCurrency }} </td>
                          <td>₹ {{ sales?.salesItemNonTaxableAmount | indianCurrency }} </td>
                          <td>₹ {{ sales?.salesItemSubTotal }} </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data
                        *ngIf="sales?.salesReturnTermsAndCondition || sales?.returnDate">
                        <tr *ngFor="let sales of data?.salesItemDetails">
                          <td>{{ sales?.salesWarehouseDetails?.name }}</td>
                          <td>{{ sales?.salesItemProduct?.slabName }}</td>
                          <td>{{ sales?.salesItemQuantity }}</td>
                          <td>₹ {{ sales?.salesItemUnitPrice }}</td>
                          <td>₹ {{ sales?.salesItemSubTotal }} </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data *ngIf="sales?.quotationItemDetails">
                        <tr *ngFor="let sales of data.quotationItemDetails">
                          <td>{{ sales?.quotationWarehouseDetails?.name }}</td>
                          <td>{{ sales?.quotationItemProduct?.slabName }}</td>
                          <td>{{ sales?.quotationItemQuantity }}</td>
                          <td>₹ {{ sales?.quotationItemUnitPrice | indianCurrency }}</td>
                          <td>
                            ₹ {{ sales?.quotationItemTaxAmount | indianCurrency }}
                          </td>
                          <td>
                            ₹ {{ sales?.quotationItemSubTotal | indianCurrency }}
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data *ngIf="sales?.lotDetails">
                        <tr>
                          <td>{{ sales?.lotDetails?.lotName }}</td>
                          <td>{{ sales?.lotDetails?.lotNo }}</td>
                          <td>{{ sales?.lotDetails?.warehouseDetails?.name }}</td>
                          <td>₹ {{ sales?.lotDetails?.pricePerTon | indianCurrency }}</td>
                          <td>{{ sales?.lotDetails?.lotWeight | indianCurrency }}</td>
                          <td>₹ {{ sales?.lotDetails?.transportationCharge | indianCurrency }}</td>
                          <td>{{ sales?.lotDetails?.blocksCount }}</td>
                          <td>₹ {{sales?.lotDetails?.lotTotalCosting | indianCurrency}}</td>
                          <td>₹ {{ sales?.taxable | indianCurrency }} </td>
                          <td>₹ {{ sales?.nonTaxable | indianCurrency }} </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data *ngIf="sales?.slabDetails && sales?.slabDetails.length > 0">
                        <tr *ngFor="let data of sales?.slabDetails">
                          <td>{{ data?.slabName }}</td>
                          <td>{{ data?.slabNo }}</td>
                          <td>{{ data?.categoryDetail?.name }}</td>
                          <td>{{ data?.subCategoryDetail?.name }}</td>
                          <td>{{ data?.warehouseDetails?.name }}</td>
                          <td>
                            ₹
                            {{
                            data?.sellingPricePerSQFT
                            | indianCurrency
                            }}
                          </td>
                          <td>{{ data?.totalSQFT | indianCurrency }}</td>
                          <td>
                            ₹
                            {{
                            data?.purchaseCost | indianCurrency
                            }}
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data *ngIf="sales?.purchaseReturnItemDetails">
                        <tr>
                          <td>{{ sales?.purchaseReturnItemDetails[0]?.slabName }}</td>
                          <td>{{ sales?.purchaseReturnItemDetails[0]?.slabNo }}</td>
                          <td>{{ sales?.purchaseReturnItemDetails[0]?.categoryDetail?.name }}</td>
                          <td>{{ sales?.purchaseReturnItemDetails[0]?.subCategoryDetail?.name }}</td>
                          <td>{{ sales?.purchaseReturnItemDetails[0]?.warehouseDetails?.name }}</td>
                          <td>₹ {{
                            sales?.purchaseReturnItemDetails[0]?.costPerSQFT
                            | indianCurrency
                            }}
                          </td>
                          <td>{{ sales?.purchaseReturnItemDetails[0]?.totalSQFT }}</td>
                          <td>
                            ₹
                            {{
                            sales?.purchaseReturnItemDetails[0]?.purchaseCost | indianCurrency
                            }}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </p-tabPanel>

                  <p-tabPanel *ngIf="!sales?.quotationDate" header="Payments">
                    <ng-template #noPayments>
                      <div class="no-notifications" style="text-align: center;">
                        No payments made yet.
                      </div>
                    </ng-template>
                    <p-table [value]="paymentDataListById" styleClass="p-datatable-striped"
                      *ngIf="paymentDataListById?.length > 0; else noPayments" [tableStyle]="{ 'min-width': '60rem' }">
                      <!-- <ng-template pTemplate="header" #noPayments>
                      <div class="no-notifications " style="text-align: center;">
                        No payments made yet.
                      </div>
                    </ng-template> -->
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Trnx No.</th>
                          <th>Payment Date</th>
                          <th>Amount</th>
                          <th>Payment Mode</th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-payment>
                        <tr>
                          <td class="bold">{{ payment?.transactionNo }}</td>
                          <td class="bold">
                            {{ payment?.paymentDate | date : "dd-MMM-yyyy" }}
                          </td>
                          <td>₹ {{ payment?.amount | indianCurrency }}</td>
                          <td>{{ payment?.paymentMode }}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </p-tabPanel>
                </p-tabView>
              </div>

              <div class="row align-items-center justify-content-center invoice-sign-box">
                <div class="col-lg-6 col-md-6">
                  <div class="col-lg-8 col-md-8">
                    <div class="invoice-terms" *ngIf="sales?.salesNotes || sales?.purchaseNotes">
                      <h6>Notes:</h6>
                      <p *ngIf="sales?.salesNotes" class="mb-0">
                        {{ sales?.salesNotes }}
                      </p>
                      <p *ngIf="sales?.purchaseNotes" class="mb-0">
                        {{ sales?.purchaseNotes }}
                      </p>
                    </div>
                    <div class="invoice-terms mb-0" *ngIf="sales?.salesTermsAndCondition">
                      <h6>Terms and Conditions:</h6>
                      <p *ngIf="sales?.salesTermsAndCondition" class="mb-0">
                        {{ sales?.salesTermsAndCondition }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="invoice-total-card">
                    <div class="invoice-total-box">
                      <div class="invoice-total-inner">
                        <p class="mt-2" *ngIf="sales?.taxable">
                          Taxable Amount
                          <span *ngIf="
                              sales?.taxable != 0
                            ">
                            ₹
                            {{
                            sales?.taxable | indianCurrency
                            }}
                          </span>
                        </p>
                        <p class="mt-2" *ngIf="sales?.nonTaxable">
                          Non-Taxable Amount
                          <span *ngIf="
                              sales?.nonTaxable != 0
                            ">
                            ₹
                            {{
                            sales?.nonTaxable | indianCurrency
                            }}
                          </span>
                        </p>
                        <hr *ngIf="sales?.taxable">
                        <p *ngIf="sales?.salesGrossTotal || sales?.quotationGrossTotal">
                          Gross Total
                          <span>₹ {{ (sales?.salesGrossTotal || sales?.quotationGrossTotal
                            || 0) | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.slabDetails?.sellingPricePerSQFT">
                          Selling Price / Square Feet
                          <span>₹ {{ (sales?.slabDetails?.sellingPricePerSQFT || 0) | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.lotDetails?.lotWeight">
                          Lot Weight ( Ton )
                          <span>{{ (sales?.lotDetails?.lotWeight || 0) | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.purchaseCost">
                          Purchase Cost
                          <span>₹ {{ (sales?.purchaseCost || 0) | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.salesShipping || sales?.purchaseShipping || sales?.quotationShipping ">
                          Shipping Charges
                          <span>+ ₹ {{ (sales?.salesShipping || sales?.purchaseShipping || sales?.quotationShipping ||
                            0) | indianCurrency }}</span>
                        </p>
                        <p>
                          Transport Charges
                          <span>+ ₹ {{ (sales?.transportationCharges ||
                            sales?.lotDetails?.transportationCharge || sales?.lotDetails?.totalTransportationCharges ||
                            0) | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.lotDetails?.royaltyCharge">
                          Royalty (Other Charges)
                          <span>+ ₹ {{ (sales?.lotDetails?.royaltyCharge || 0) | indianCurrency }}</span>
                        </p>
                        <p *ngIf="!sales?.lotDetails?.royaltyCharge">
                          Other Charges
                          <span>+ ₹ {{ (sales?.otherCharges || 0) | indianCurrency
                            }}</span>
                        </p>
                        <p *ngIf="sales?.salesReturnOtherCharges || sales?.purchaseReturnOtherCharges ">
                          Return Other Charges
                          <span>- ₹ {{ (sales?.purchaseReturnOtherCharges || sales?.salesReturnOtherCharges || 0) |
                            indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.salesDiscount || sales?.quotationDiscount">
                          Discount
                          <span>- ₹ {{ (sales?.salesDiscount ||
                            sales?.quotationDiscount || 0) | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.purchaseDiscount || sales?.lotDetails?.purchaseDiscount">
                          Discount
                          <span>+ ₹ {{ (sales?.purchaseDiscount || sales?.lotDetails?.purchaseDiscount || 0) | indianCurrency }}</span>
                        </p>
                      </div>
                      <div class="invoice-total-footer">
                        <h4>
                          Total Amount
                          <span>₹ {{ (sales?.salesTotalAmount || sales?.quotationTotalAmount ||
                            sales?.purchaseTotalAmount || sales?.purchaseReturnTotalAmount || 0) | indianCurrency
                            }}</span>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>