<p-dialog [(visible)]="showInvoiceDialog" [closable]="false" *ngFor="let sales of salesDataById" [responsive]="true"
  [baseZIndex]="10000" [closeOnEscape]="false" [modal]="true" [style]="{ width: '80vw' }">
  <ng-template pTemplate="header">
    <div class="d-flex justify-content-between align-items-center w-100">
      <h4>{{ header }}</h4>
      <div class="d-flex">
        <button *ngIf="sales?.salesOrderStatus" type="button" class="btn icon-button" aria-label="Download"
          (click)="downloadSalesFile(sales._id)">
          <i class="fa-solid fa-download"></i>
        </button>
        <button *ngIf="sales.quotationInvoiceNumber" type="button" class="btn icon-button" aria-label="Download"
          (click)="downloadQuotationFile(sales._id)">
          <i class="fa-solid fa-download"></i>
        </button>
        <button type="button" class="btn icon-button" aria-label="Close" (click)="closeTheWindow()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
  </ng-template>
  <div class="modal-content">
    <div class="modal-body">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="card invoice-info-card">
            <div class="card-body pb-0">
              <div class="invoice-item invoice-item-one">
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <div class="invoice-head justify-content-start text-align-start">
                        <p>
                          <span style="
                              color: #97704f;
                              font-weight: bold;
                              font-size: 16px;
                            ">Seller Address </span><br />
                          <span>
                            <div *ngIf="sales?.billingAddress" style="line-height: 100%">
                              <h5>
                                {{ sales?.billingAddress.companyName + ' ,' }}
                              </h5>
                              <h5 title="address Line 1">
                                {{ sales?.billingAddress.addressLine1 + ' ,' }}
                              </h5>
                              <h5 title="address Line 2">
                                {{ sales?.billingAddress.addressLine2 + ' ,' }}
                              </h5>
                              <h5>
                                <span title="City">{{ sales?.billingAddress.city }}</span
                                >, <span title="State">{{ sales?.billingAddress.state }}</span
                                >,
                                <span title="Postal Code">{{
                                  sales?.billingAddress.postalCode + ' ,'
                                }}</span>
                              </h5>
                              <h5 title="Country">{{ sales?.billingAddress.country.name }}</h5>
                            </div>
                          </span>
                          <span *ngIf="sales.supplier?.billingAddress"
                            [innerHTML]="sales.supplier.billingAddress | wordWrap : 2"></span>

                        </p>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="invoice-info">
                      <div class="invoice-head justify-content-end">
                        <p>
                          <span style="
                              color: #97704f;
                              font-weight: bold;
                              font-size: 16px;
                            ">Buyer Address </span><br />
                          <span *ngIf="sales.customer?.billingAddress" [innerHTML]="
                              sales.customer.billingAddress | wordWrap : 2
                            "></span>
                          <span *ngIf="sales.supplier?.billingAddress" [innerHTML]="
                            sellerData?.address  | wordWrap : 2
                            "></span>
                          <span *ngIf="sales.purchaseReturnTotalAmount
                            " [innerHTML]="
                              sellerData?.address  | wordWrap : 2
                              "></span>
                        </p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="card card-table show-entire">
                    <div class="page-table-header mb-2 m-3">
                      <div class="row practice-card">
                        <div class="col-xl-6 col-lg-6 col-sm-12">
                          <div *ngIf="sales.salesInvoiceNumber" class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Invoice Number :
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                {{ sales.salesInvoiceNumber }}
                              </p>
                            </div>
                          </div>
                          <div *ngIf="header == 'Purchase Invoice'" class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Invoice Number :
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                {{ sales.purchaseInvoiceNumber }}
                              </p>
                            </div>
                          </div>
                          <div *ngIf="header == 'Quotation Invoice'" class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Invoice Number :
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                {{ sales.quotationInvoiceNumber }}
                              </p>
                            </div>
                          </div>
                          <div *ngIf="header == 'Purchase Return Invoice'" class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Invoice Number :
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                {{
                                sales.purchaseInvoiceNumber
                                .purchaseInvoiceNumber
                                }}
                              </p>
                            </div>
                          </div>

                          <div *ngIf="sales.customer?.name" class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Customer:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                {{ sales.customer.name }}
                              </p>
                            </div>
                          </div>
                          <div *ngIf="sales.supplier?.name" class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Supplier:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                {{ sales.supplier.name }}
                              </p>
                            </div>
                          </div>
                          <div class="form-group row mb-2" *ngIf="sales.salesDate">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Sales Date:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                {{ sales.salesDate | date : "dd-MMM-yyyy" }}
                              </p>
                            </div>
                          </div>
                          <div class="form-group row mb-2" *ngIf="sales.purchaseDate">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Purchase Date:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                {{ sales.purchaseDate | date : "dd-MMM-yyyy" }}
                              </p>
                            </div>
                          </div>
                          <!-- Conditionally display returnDate if it exists -->
                          <div *ngIf="sales.returnDate" class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Return Date:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-form-label">
                                {{ sales.returnDate | date : "dd-MMM-yyyy" }}
                              </p>
                            </div>
                          </div>

                          <div class="form-group row mb-2" *ngIf="sales.purchaseType ">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Purchase Type:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                {{ sales.purchaseType.toUpperCase() }}
                              </p>
                            </div>
                          </div>
                          <div class="form-group row mb-2" *ngIf="sales.salesDate ">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Sales Type:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                SLAB
                              </p>
                            </div>
                          </div>
                          <div class="form-group row mb-2"
                            *ngIf="sales.salesReturnTermsAndCondition || sales.returnDate ">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Return Type:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                SLAB
                              </p>
                            </div>
                          </div>
                          <!-- <div class="form-group row mb-2" *ngIf="sales.purchaseReturnOtherCharges ">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Return Type:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                SLAB
                              </p>
                            </div>
                          </div> -->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-sm-12">
                          <div class="form-group row mb-2" *ngIf="sales.createdByName">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Order Taken By:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-form-label">
                                {{ sales.createdByName.toUpperCase() }}
                              </p>
                            </div>
                          </div>
                          <!-- <div class="form-group row mb-2" *ngIf="sales.salesOrderStatus">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Order Status:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-form-label">
                                {{ sales.salesOrderStatus }}
                              </p>
                            </div>
                          </div>
                          <div class="form-group row mb-2" *ngIf="sales.purchaseOrderStatus">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Order Status:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-form-label">
                                {{ sales.purchaseOrderStatus }}
                              </p>
                            </div>
                          </div> -->

                          <!-- Conditionally display returnOrderStatus if it exists -->
                          <!-- <div *ngIf="sales.returnOrderStatus" class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Return Order Status:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-form-label">
                                {{ sales.returnOrderStatus }}
                              </p>
                            </div>
                          </div>
                          <div *ngIf="sales.purchaseReturnOrderStatus" class="form-group row mb-2">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Return Order Status:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-form-label">
                                {{ sales.purchaseReturnOrderStatus }}
                              </p>
                            </div>
                          </div> -->

                          <div class="form-group row mb-2" *ngIf="sales.paymentStatus">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Payment Status:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-form-label">
                                {{ sales.paymentStatus }}
                              </p>
                            </div>
                          </div>
                          <div class="form-group row mb-2" *ngIf="sales.dueAmount && !sales.quotationInvoiceNumber ">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Due Amount:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                ₹ {{ sales.dueAmount | indianCurrency }}
                              </p>
                            </div>
                          </div>
                          <div class="form-group row mb-2" *ngIf="sales.quotationDate ">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Quotation Date:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                 {{ sales.quotationDate | date:'dd-MMM-yyyy' }}
                              </p>
                            </div>
                          </div>
                          <ng-template #zeroPayment>
                            <div class="form-group row mb-2">
                              <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                                Paid Amount:
                              </h5>
                              <div class="col-lg-9 col-md-9 col-xl-9">
                                <p class="col-lg-9 col-form-label">
                                  ₹ 0
                                </p>
                              </div>
                            </div>
                          </ng-template>

                          <div class="form-group row mb-2" *ngIf="sales.paidAmount || !sales.quotationInvoiceNumber zeroPayment">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                              Paid Amount:
                            </h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-lg-9 col-form-label">
                                ₹ {{ sales.paidAmount | indianCurrency }}
                              </p>
                            </div>
                          </div>
                          <!-- <div class="form-group row mb-2" *ngIf="sales.quality">
                            <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Quality:</h5>
                            <div class="col-lg-9 col-md-9 col-xl-9">
                              <p class="col-form-label">{{sales.quality}}</p>
                            </div>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <p-tabView>
                  <p-tabPanel header="Items">
                    <p-table [value]="salesDataById" styleClass="p-datatable-striped"
                      [tableStyle]="{ 'min-width': '60rem' }">
                      <ng-template pTemplate="header">
                        <tr *ngIf="sales.salesItemDetails">
                          <th pSortableColumn="salesWarehouseDetails">Warehouse</th>
                          <th pSortableColumn="salesItemCategory">Product</th>
                          <th pSortableColumn="salesItemQuantity">Quantity</th>
                          <th pSortableColumn="salesItemUnitPrice">
                            Unit Price
                          </th>
                          <th pSortableColumn="salesItemTaxAmount">
                            Taxable Amount
                          </th>
                          <th pSortableColumn="salesItemSubTotal">Sub Total</th>
                        </tr>
                        <tr *ngIf="sales.quotationItemDetails">
                          <th pSortableColumn="quotationWarehouseDetails">Warehouse</th>
                          <th pSortableColumn="quotationItemProduct">Product</th>
                          <th pSortableColumn="quotationItemQuantity">Quantity</th>
                          <th pSortableColumn="quotationItemUnitPrice">
                            Unit Price
                          </th>
                          <th pSortableColumn="quotationItemTaxAmount">
                            Taxable Amount
                          </th>
                          <th pSortableColumn="quotationItemTaxAmount">Sub Total</th>
                        </tr>
                        <tr *ngIf="sales.lotDetails">
                          <th>Lot Name</th>
                          <th>Lot Number</th>
                          <th>Price / Ton</th>
                          <th>Total Blocks</th>
                          <th>Total Cost</th>
                        </tr>
                        <tr *ngIf="sales.slabDetails">
                          <th>Slab No</th>
                          <th>Slab Name</th>
                          <th>Category</th>
                          <th>Sub Category</th>
                          <th>Warehouse</th>
                          <th>Cost / Square Feet</th>
                          <th>Total Square Feet</th>
                          <th>Purchase Cost</th>
                        </tr>
                        <tr *ngIf="sales.purchaseReturnItemDetails">
                          <th>Slab No</th>
                          <th>Slab Name</th>
                          <th>Category</th>
                          <th>Sub Category</th>
                          <th>Warehouse</th>
                          <th>Cost / Square Feet</th>
                          <th>Total Square Feet</th>
                          <th>Purchase Cost</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data *ngIf="sales.salesItemDetails">
                        <tr *ngFor="let sales of data.salesItemDetails">
                          <td>{{ sales.salesWarehouseDetails?.name }}</td>
                          <td>{{ sales.salesItemProduct.slabName }}</td>
                          <td>{{ sales.salesItemQuantity }}</td>
                          <td>₹ {{ sales.salesItemUnitPrice }}</td>
                          <td>
                            ₹ {{ sales.salesItemTaxAmount | indianCurrency }}
                          </td>
                          <td>
                            ₹ {{ sales.salesItemSubTotal | indianCurrency }}
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data *ngIf="sales.quotationItemDetails">
                        <tr *ngFor="let sales of data.quotationItemDetails">
                          <td>{{ sales.quotationWarehouseDetails?.name }}</td>
                          <td>{{ sales.quotationItemProduct?.slabName }}</td>
                          <td>{{ sales?.quotationItemQuantity }}</td>
                          <td>₹ {{ sales?.quotationItemUnitPrice }}</td>
                          <td>
                            ₹ {{ sales?.quotationItemTaxAmount | indianCurrency }}
                          </td>
                          <td>
                            ₹ {{ sales?.quotationItemSubTotal | indianCurrency }}
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data *ngIf="sales.lotDetails">
                        <tr>
                          <td>{{ sales.lotDetails.lotName }}</td>
                          <td>{{ sales.lotDetails.lotNo }}</td>
                          <td>₹ {{ sales.lotDetails.pricePerTon | indianCurrency }}</td>
                          <td>{{ sales.lotDetails.blocksCount }}</td>
                          <td>{{ sales.lotDetails.lotTotalCosting }}</td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data *ngIf="sales.slabDetails">
                        <tr>
                          <td>{{ sales.slabDetails.slabName }}</td>
                          <td>{{ sales.slabDetails.slabNo }}</td>
                          <td>{{ sales.slabDetails.categoryDetail.name }}</td>
                          <td>{{ sales.slabDetails.subCategoryDetail.name }}</td>
                          <td>{{ sales.slabDetails.warehouseDetails.name }}</td>
                          <td>
                            ₹
                            {{
                            sales.slabDetails.sellingPricePerSQFT
                            | indianCurrency
                            }}
                          </td>
                          <td>{{ sales.slabDetails.totalSQFT }}</td>
                          <td>
                            ₹
                            {{
                            sales.slabDetails.purchaseCost | indianCurrency
                            }}
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-data *ngIf="sales.purchaseReturnItemDetails">
                        <tr>
                          <td>{{ sales.purchaseReturnItemDetails[0].slabName }}</td>
                          <td>{{ sales.purchaseReturnItemDetails[0].slabNo }}</td>
                          <td>{{ sales.purchaseReturnItemDetails[0].categoryDetail.name }}</td>
                          <td>{{ sales.purchaseReturnItemDetails[0].subCategoryDetail.name }}</td>
                          <td>{{ sales.purchaseReturnItemDetails[0].warehouseDetails.name }}</td>
                          <td>₹ {{
                            sales.purchaseReturnItemDetails[0].costPerSQFT
                            | indianCurrency
                            }}
                          </td>
                          <td>{{ sales.purchaseReturnItemDetails[0].totalSQFT }}</td>
                          <td>
                            ₹
                            {{
                            sales.purchaseReturnItemDetails[0].purchaseCost | indianCurrency
                            }}
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </p-tabPanel>

                  <p-tabPanel *ngIf="!sales.quotationDate" header="Payments">
                    <ng-template #noPayments>
                      <div class="no-notifications" style="text-align: center;">
                        No payments made yet.
                      </div>
                    </ng-template>
                    <p-table [value]="paymentDataListById" styleClass="p-datatable-striped"
                      *ngIf="paymentDataListById?.length > 0; else noPayments" [tableStyle]="{ 'min-width': '60rem' }">
                      <!-- <ng-template pTemplate="header" #noPayments>
                      <div class="no-notifications " style="text-align: center;">
                        No payments made yet.
                      </div>
                    </ng-template> -->
                      <ng-template pTemplate="header">
                        <tr>
                          <th pSortableColumn="transactionNo">Trnx No.</th>
                          <th pSortableColumn="paymentDate">Payment Date</th>
                          <th pSortableColumn="amount">Amount</th>
                          <th pSortableColumn="paymentMode">Payment Mode</th>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="body" let-payment>
                        <tr>
                          <td class="bold">{{ payment.transactionNo }}</td>
                          <td class="bold">
                            {{ payment.paymentDate | date : "dd-MMM-yyyy" }}
                          </td>
                          <td>₹ {{ payment.amount | indianCurrency }}</td>
                          <td>{{ payment.paymentMode }}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </p-tabPanel>
                </p-tabView>
              </div>

              <div class="row align-items-center justify-content-center invoice-sign-box">
                <div class="col-lg-6 col-md-6">
                  <div class="col-lg-8 col-md-8">
                    <div class="invoice-terms">
                      <h6>Notes:</h6>
                      <p *ngIf="sales.salesNotes" class="mb-0">
                        {{ sales.salesNotes }}
                      </p>
                      <p *ngIf="sales.purchaseNotes" class="mb-0">
                        {{ sales.purchaseNotes }}
                      </p>
                    </div>
                    <div class="invoice-terms mb-0" *ngIf="sales.salesTermsAndCondition">
                      <h6>Terms and Conditions:</h6>
                      <p *ngIf="sales.salesTermsAndCondition" class="mb-0">
                        {{ sales.salesTermsAndCondition }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="invoice-total-card">
                    <div class="invoice-total-box">
                      <div class="invoice-total-inner">
                        <p *ngIf="sales.salesGrossTotal">
                          Gross Total
                          <span>₹
                            {{ sales.salesGrossTotal | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.salesShipping">
                          Shipping Charges
                          <span>₹ {{ sales?.salesShipping | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.salesDiscount">
                          Discount
                          <span>₹ {{ sales?.salesDiscount | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.purchaseGrossTotal">
                          Gross Total
                          <span>₹
                            {{
                            sales?.purchaseGrossTotal | indianCurrency
                            }}</span>
                        </p>
                        <p *ngIf="sales?.quotationGrossTotal">
                          Gross Total
                          <span>₹
                            {{
                            sales?.quotationGrossTotal | indianCurrency
                            }}</span>
                        </p>
                        <p *ngIf="sales?.purchaseShipping">
                          Shipping Charges
                          <span>₹
                            {{ sales?.purchaseShipping | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.quotationShipping">
                          Shipping Charges
                          <span>₹
                            {{ sales?.quotationShipping | indianCurrency }}</span>
                        </p>
                       
                        <!-- <p *ngIf="sales?.postExpenses">
                          Post Expenses
                          <span
                            >₹ {{ sales?.postExpenses | indianCurrency }}</span
                          >
                        </p> -->
                        <!-- <p *ngIf="sales?.slabDetails.costPerSQFT">
                          Cost / Square Feet
                          <span
                          >₹ {{ sales?.slabDetails.costPerSQFT | indianCurrency }}</span
                          >
                        </p> -->
                        <p *ngIf="sales?.slabDetails?.sellingPricePerSQFT">
                          Selling Price / Square Feet
                          <span>₹ {{ sales?.slabDetails?.sellingPricePerSQFT | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.slabDetails?.transportationCharges">
                          Transport Charges
                          <span>₹ {{ sales?.slabDetails?.transportationCharges | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.lotDetails?.lotWeight">
                          Lot Weight ( Ton )
                          <span>{{ sales?.lotDetails?.lotWeight | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.lotDetails?.transportationCharge">
                          Transport Charges
                          <span>₹ {{ sales?.lotDetails?.transportationCharge | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.lotDetails?.royaltyCharge">
                          Royalty (Other Charges)
                          <span>₹ {{ sales?.lotDetails?.royaltyCharge | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.slabDetails?.otherCharges">
                          Other Charges
                          <span>₹ {{ sales?.slabDetails?.otherCharges | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.purchaseCost">
                          Purchase Cost
                          <span>₹ {{ sales?.purchaseCost | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.otherCharges">
                          OtherCharges
                          <span>₹ {{ sales?.otherCharges | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.purchaseReturnOtherCharges">
                          Return Other Charges
                          <span>₹ {{ sales?.purchaseReturnOtherCharges | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.purchaseDiscount">
                          Discount
                          <span> ₹
                            {{ sales?.purchaseDiscount | indianCurrency }}</span>
                        </p>
                        <p *ngIf="sales?.quotationDiscount">
                          Discount
                          <span> ₹
                            {{ sales?.quotationDiscount | indianCurrency }}</span>
                        </p>
                      </div>
                      <div class="invoice-total-footer">
                        <h4 *ngIf="sales?.salesTotalAmount">
                          Total Amount
                          <span>₹
                            {{ sales?.salesTotalAmount | indianCurrency }}</span>
                        </h4>
                        <h4 *ngIf="sales?.quotationTotalAmount">
                          Total Amount
                          <span>₹
                            {{ sales?.quotationTotalAmount | indianCurrency }}</span>
                        </h4>
                        <h4 *ngIf="sales?.purchaseTotalAmount">
                          Total Amount
                          <span>₹
                            {{
                            sales?.purchaseTotalAmount | indianCurrency
                            }}</span>
                        </h4>
                        <h4 *ngIf="sales?.purchaseReturnTotalAmount">
                          Total Amount
                          <span>₹
                            {{
                            sales?.purchaseReturnTotalAmount | indianCurrency
                            }}</span>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="upload-sign">
                  <div class="form-group float-end m-5px">
                    <button type="button" label="Cancel" class="btn  btn-primary"
                      (click)="closeTheWindow()">Cancel</button>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>