<mat-dialog-content class="mat-typography mat-lg" style="width: 100%;">

  <div class="m-b-20">
    <h3>Add Sub Category</h3>
  </div>

  <div class="modal-body">
    <form [formGroup]="addSubCategoryForm" (ngSubmit)="addSubCategoryFormSubmit()">
      <div class="row">

        <div class="col-md-6">
          <div class="form-group local-forms">
            <label for="name">Name <span class="login-danger">*</span></label>
            <input class="form-control" type="text" placeholder="" formControlName="name">

            <div *ngIf="addSubCategoryForm.get('name')?.hasError('required') && addSubCategoryForm.get('name')?.touched">
              <span class="login-danger">Field is required.</span>
            </div>
            <div *ngIf="addSubCategoryForm.get('name')?.hasError('pattern') && addSubCategoryForm.get('name')?.touched">
              <span class="login-danger">Input must be between 3 to 50 characters.</span>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group local-forms">
            <label for="name">Category <span class="login-danger">*</span></label>
            <p-dropdown [options]="categoriesListData" styleClass="" appendTo="body" optionLabel="name" optionValue="_id"
              placeholder="Select  Category" formControlName="categoryId" [style]="{'width':'100%'}"
              [filter]="true" filterBy="name" [showClear]="true">
            </p-dropdown>

            <div
              *ngIf="addSubCategoryForm.get('categoryId')?.hasError('required') && addSubCategoryForm.get('categoryId')?.touched">
              <span class="login-danger">Field is required.</span>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group local-forms">
            <label for="description">Description</label>
            <textarea class="form-control" type="text" placeholder="" formControlName="description"></textarea>
            <div
            *ngIf="addSubCategoryForm.get('description')?.hasError('pattern') && addSubCategoryForm.get('description')?.touched">
            <span class="login-danger">Input must be between 3 to 500 characters.</span>
          </div>

          </div>
        </div>

        <div class=" col-12">

          <div class=" settings-btns text-end m-b-10">
            <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
              [disabled]="!addSubCategoryForm.valid">Submit</button>
            <button class="btn btn-secondary" [mat-dialog-close]="true">Cancel</button>
          </div>

        </div>

      </div>
    </form>
  </div>
</mat-dialog-content>