<div class="page-wrapper">
    <div class="content">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row">
          <div class="col-sm-12">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="routes.adminDashboard">Dashboard </a>
              </li>
              <li class="breadcrumb-item">
                <i class="feather icon-chevron-right"></i>
              </li>
              <li class="breadcrumb-item active">Sales Return List</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Page Header -->

      <div class="card invoices-tabs-card">
        <div class="card-body card-body pt-0 pb-0">
          <div class="invoices-main-tabs">
            <div class="row align-items-center">
              <div class="col-lg-8 col-md-8">
                <div class="invoices-tabs">
                  <ul>
                    <li>
                      <a [routerLink]="routes.salesReturn" class="active"
                        >All Sales Return</a
                      >
                    </li>
                    <!-- <li><a >Paid</a></li>
                    <li><a>Unpaid</a></li> -->
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="invoices-settings-btn">
                  <a [routerLink]="routes.addSalesReturn" class="btn">
                    <i class="feather icon-plus-circle feather-circle me-2"></i>
                    New Sales Return
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><div class="row">
        <div class="col-sm-12">
          <div class="card card-table">
            <div class="card-body p-4">
            <p-table [value]="salesReturnListData" [tableStyle]="{'min-width': '60rem'}" [paginator]="true"
                            [rows]="5">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th appShowHide [roles]="['admin', 'super-admin']">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th pSortableColumn="salesInvoiceNumber">Invoice Number <p-sortIcon field="salesInvoiceNumber"></p-sortIcon>
                                        <p-columnFilter type="text" field="salesInvoiceNumber" display="menu"></p-columnFilter>
                                    </th>
                                    <th pSortableColumn="returnDate">Return Date <p-sortIcon field="returnDate"></p-sortIcon>
                                        <p-columnFilter type="text" field="returnDate" display="menu"></p-columnFilter>
                                    </th>
                                    <th pSortableColumn="customer">Customer <p-sortIcon field="customer"></p-sortIcon>
                                        <p-columnFilter type="text" field="customer" display="menu"></p-columnFilter>
                                    </th>
                                    <th pSortableColumn="returnOrderStatus">Return Status <p-sortIcon field="returnOrderStatus"></p-sortIcon></th>
                                    <th pSortableColumn="paidAmount">Paid Amount <p-sortIcon field="paidAmount"></p-sortIcon>
                                        <p-columnFilter type="text" field="paidAmount" display="menu"></p-columnFilter>
                                    </th>
                                    <th pSortableColumn="salesTotalAmount">Total Amount <p-sortIcon field="salesTotalAmount"></p-sortIcon>
                                        <p-columnFilter type="text" field="salesTotalAmount" display="menu"></p-columnFilter>
                                    </th>
                                    <th pSortableColumn="paymentStatus">Payment Status <p-sortIcon field="paymentStatus"></p-sortIcon></th>

                                    <th>Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-sales>
                                <tr>
                                    <td appShowHide [roles]="['admin', 'super-admin']">
                                        <p-tableCheckbox [value]="sales"></p-tableCheckbox>
                                    </td>
                                    <td>{{sales.salesInvoiceNumber}}</td>
                                    <td>{{sales.returnDate}}</td>
                                    <td>{{sales.customer.name}}</td>
                                    <td>{{sales.returnOrderStatus}}</td>
                                    <td>{{sales.paidAmount}}</td>
                                    <td>{{sales.salesTotalAmount}}</td>
                                    <td>{{sales.paymentStatus}}</td>
                                    <td style="display: flex; gap: 5px;" appShowHide [roles]="['admin', 'super-admin']">
                                                <p-button [text]="true" data-bs-toggle="modal"
                                                data-bs-target="#sales_preview" icon="fa-solid fa-eye" ></p-button>
                                                <p-button [text]="true" icon="fa-solid fa-edit" (click)="editSalesRout(sales._id)" ></p-button>
                                                <p-button [text]="true" icon="fa-solid fa-trash" (click)="deleteSalesReturn(sales._id)" ></p-button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <p-toast></p-toast>
  

<app-confirm-dialog [showDialog]="showDialoge" (callbackModal)="callBackModal()" (close)="close()"
[data]="modalData"></app-confirm-dialog>

  <!-- -- Preview model -- -->

  <div class="modal custom-modal modal-bg  fade invoices-preview" id="sales_preview" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card invoice-info-card">
                            <div class="card-body pb-0">
                                <div class="invoice-item invoice-item-one">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="invoice-logo d-flex justify-content-start">
                                                <img src="assets/img/logo-dark.png" alt="logo">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="invoice-info">
                                                <div class="invoice-head">
                                                    <h2 class="text-primary">Invoice</h2>
                                                    <p>Invoice Number : In983248782</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Invoice Item -->
                                <div class="invoice-item invoice-item-bg">
                                    <div class="invoice-circle-img">
                                        <img src="assets/img/invoice-circle1.png" alt="" class="invoice-circle1">
                                        <img src="assets/img/invoice-circle2.png" alt="" class="invoice-circle2">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12">
                                            <div class="invoice-info">
                                                <strong class="customer-text-one">Billed to</strong>
                                                <h6 class="invoice-name">Customer Name</h6>
                                                <p class="invoice-details invoice-details-two">
                                                    9087484288 <br>
                                                    Address line 1, <br>
                                                    Address line 2 <br>
                                                    Zip code ,City - Country
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="invoice-info">
                                                <strong class="customer-text-one">Invoice From</strong>
                                                <h6 class="invoice-name">Company Name</h6>
                                                <p class="invoice-details invoice-details-two">
                                                    9087484288 <br>
                                                    Address line 1, <br>
                                                    Address line 2 <br>
                                                    Zip code ,City - Country
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="invoice-info invoice-info-one border-0 justify-content-space-between">
                                                <p>Issue Date : 27 Jul 2022</p>
                                                <p>Order Status : Ordered</p>
                                                <p>Order Taken By : Adnan</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Invoice Item -->

                                <!-- Invoice Item -->
                                <div class="invoice-item invoice-table-wrap">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="invoice-table table table-center mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>Category</th>
                                                            <th>Name</th>
                                                            <th>Quantity</th>
                                                            <th>Unit Price</th>
                                                            <th  class="text-end">Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <!-- <tbody *ngFor="let sales of salesItem">
                                                      <tr>
                                                        <td>{{sales.salesCategory}}</td>
                                                        <td>{{sales.salesName}}</td>
                                                        <td>{{sales.salesQuantity}}</td>
                                                        <td>{{sales.salesUnitPrice}}</td>
                                                        <td  class="text-end"> ₹ {{sales.salesSubTotal}}</td>
                                                      </tr>
                                                    </tbody> -->
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Invoice Item -->

                                <div class="row align-items-center justify-content-center invoice-sign-box">
                                    <div class="col-lg-6 col-md-6">
                                      <div class="col-lg-8 col-md-8">
                                        <div class="invoice-terms">
                                            <h6>Notes:</h6>
                                            <p class="mb-0">Enter customer notes or any other details</p>
                                        </div>
                                        <div class="invoice-terms mb-0">
                                            <h6>Terms and Conditions:</h6>
                                            <p class="mb-0">Enter customer notes or any other details</p>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="invoice-total-card">
                                            <div class="invoice-total-box">
                                                <div class="invoice-total-inner">
                                                    <p>Taxable <span>21 %</span></p>
                                                    <p>Shipping Charges <span>₹6,660.00</span></p>
                                                    <p>Discount <span>₹3,300.00</span></p>
                                                    <p>Sub Total <span>₹3,300.00</span></p>
                                                </div>
                                                <div class="invoice-total-footer">
                                                    <h4>Total Amount <span>₹143,300.00</span></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -- end preview model --  -->
  