<div class="page-wrapper">
    <!-- Page Content -->
    <div class="content">
      <!-- Page Header -->
      <div class="page-header">
        <div class="row">
          <div class="col-sm-12">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                  <a [routerLink]="['/patient/patients-list']" >Patient List</a>
              </li>
              <li class="breadcrumb-item">
                <i class="feather icon-chevron-right"></i>
              </li>
              <li class="breadcrumb-item active">Demographic</li>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="row " >
        <div class="col-sm-12">
          <div class="card card-table show-entire">
            <div class="card-body">
                <p-tabView>
                  <p-tabPanel header="Profile">                      
                    <div class="page-table-header mb-2">
                        <app-demographic-profile />
                    </div>
                  </p-tabPanel>
                  <p-tabPanel header="Additional Info">
                    <div class="page-table-header mb-2">
                        <app-demographic-additional-info />
                    </div>
                  </p-tabPanel>
                  <p-tabPanel header="Contacts">
                      <div class="page-table-header mb-2">  
                        <app-demographic-contacts />
                      </div>
                  </p-tabPanel>
                  <p-tabPanel header="Upcoming Appointments">
                    <div class="page-table-header mb-2">
                    <app-demographic-upcoming-appointments />
                  </div>
                </p-tabPanel>
                <p-tabPanel header="Past Appointments">
                    <div class="page-table-header mb-2">
                      <app-demographic-past-appointments />
                    </div>
                </p-tabPanel>
                <!-- <p-tabPanel header="Patient Portal">
                    <p>
                      <app-demographic-patient-portal />
                    </p>
                </p-tabPanel> -->
              </p-tabView>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  