<p-toast></p-toast>
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="routes.adminDashboard">Dashboard </a>
                        </li>
                        <li class="breadcrumb-item">
                            <i class="feather icon-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item active">
                            <a [routerLink]="routes.blockProcessor">Block Processor</a>
                        </li>
                        <li class="breadcrumb-item">
                            <i class="feather icon-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item active">Edit Block Processor</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table show-entire">
                    <div class="card-body p-3">
                        <form [formGroup]="editBlockProcessorForm" (ngSubmit)="editBlockProcessorFormSubmit()">
                            <div class="row">
                                <div class="row mt-2 mb-2">
                                    <div class="col-md-6 col-sm-12"><h3>Edit Block Processor</h3></div>
                                    <div class="col-md-6 col-sm-12 text-end mb-2"> 
                                        <button type="submit"
                                        class="border-0 btn btn-primary btn-gradient-primary m-r-10"
                                        [disabled]="!editBlockProcessorForm.valid">
                                        Submit
                                    </button>
                                    <button class="btn btn-secondary" [routerLink]="['/block-customer']">
                                        <a class="text-white"></a>Cancel
                                    </button>
                                    </div>
                                  </div>

                                <div class="row">

                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group local-forms">
                                            <label for="companyName">Company name<span class="login-danger">*</span></label>
                                            <input class="form-control" type="text" placeholder="Please Enter Name"
                                                formControlName="companyName" />
                                            <div *ngIf="
                          editBlockProcessorForm.get('companyName')?.hasError('required') &&
                          editBlockProcessorForm.get('companyName')?.touched
                        " class="login-danger Font_size">
                                                Field is required.
                                            </div>
                                            <div *ngIf="
                          editBlockProcessorForm.get('companyName')?.hasError('pattern') &&
                          editBlockProcessorForm.get('companyName')?.touched
                        " class="login-danger Font_size">
                                                Input Must be between 3 to 50 characters.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group local-forms">
                                            <label for="phoneNo">Phone Number<span class="login-danger">*</span></label>
                                            <input class="form-control" type="text"
                                                placeholder="Please Enter Phone Number" formControlName="phoneNo" />
                                            <div *ngIf="
                          editBlockProcessorForm
                            .get('phoneNo')
                            ?.hasError('required') &&
                          editBlockProcessorForm.get('phoneNo')?.touched
                        " class="login-danger Font_size">
                                                Field is required.
                                            </div>
                                            <div *ngIf="
                          editBlockProcessorForm
                            .get('phoneNo')
                            ?.hasError('pattern') &&
                          editBlockProcessorForm.get('phoneNo')?.touched
                        " class="login-danger Font_size">
                                                Please Enter 10-Digit number.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group local-forms">
                                            <label for="Email">Email</label>
                                            <input class="form-control" type="email" placeholder="Please Enter Email"
                                                formControlName="email" />
                                            <div *ngIf="
                          editBlockProcessorForm.get('email')?.hasError('pattern') &&
                          editBlockProcessorForm.get('email')?.touched
                        " class="login-danger Font_size">
                                                Please enter valid Email address.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 col-xl-6">
                                        <div class="form-group local-forms">
                                            <label for="address">Address<span class="login-danger"></span></label>
                                            <textarea class="form-control" type="text"
                                                placeholder="Please Enter Address" formControlName="address"> </textarea>
                                            <div *ngIf="
                          editBlockProcessorForm
                            .get('address')
                            ?.hasError('pattern') &&
                          editBlockProcessorForm.get('address')?.touched
                        " class="login-danger Font_size">
                        Address Must be between 3 to 500 characters
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>