<p-dialog [header]="header" [(visible)]="ShowPaymentInvoice" [closable]="false" [closeOnEscape]="false"
  [modal]="true" [style]="{width: '80vw'}">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class=" invoice-info-card">
            <div class=" pb-0">


              <div class="row">
                <div class="col-sm-12">
                  <div class=" card-table show-entire">
                    <div class="card p-3">
                      <form [formGroup]="paymentInvoiceForm" (ngSubmit)="paymentInvoiceFormSubmit()">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="card  ">

                              <div class="page-table-header mb-2 m-3">
                                <div class="row practice-card">
                                  <div class="col-xl-6 col-lg-6 col-sm-12">

                                    <div class="form-group row mb-2" *ngIf="dataById.isSalesReturn">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Return Invoice Number:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          {{ dataById.salesInvoiceNumber}}
                                        </p>
                                      </div>
                                    </div>

                                    <div class="form-group row mb-2" *ngIf="dataById.isSales">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Invoice Number:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          {{ dataById.salesInvoiceNumber}}
                                        </p>
                                      </div>
                                    </div>
                                    <div class="form-group row mb-2" *ngIf="dataById.isPurchase">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Invoice Number:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          {{ dataById.purchaseInvoiceNumber}}
                                        </p>
                                      </div>
                                    </div>

                                    <div class="form-group row mb-2" *ngIf="dataById.isPurchaseReturn">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Invoice Number:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          {{ dataById.purchaseInvoiceNumber.purchaseInvoiceNumber }}
                                        </p>
                                      </div>
                                    </div>

                                    <div class="form-group row mb-2" *ngIf="dataById.isSlabProcessing">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Invoice Number:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          {{ dataById.processingInvoiceNo }}
                                        </p>
                                      </div>
                                    </div>

                                    <div class="form-group row mb-2" *ngIf="dataById.isSales">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Due Amount:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          ₹ {{ dataById.salesDueAmount | indianCurrency}}
                                        </p>
                                      </div>
                                    </div>
                                    <div class="form-group row mb-2" *ngIf="dataById.isSalesReturn">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Due Amount:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          ₹ {{ dataById.salesDueAmount | indianCurrency}}
                                        </p>
                                      </div>
                                    </div>

                                    <div class="form-group row mb-2" *ngIf="dataById.isPurchase">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Due Amount:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          ₹ {{ dataById.purchaseDueAmount | indianCurrency}}
                                        </p>
                                      </div>
                                    </div>
                                    <div class="form-group row mb-2" *ngIf="dataById.isPurchaseReturn">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Due Amount:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          ₹ {{ dataById.purchaseDueAmount | indianCurrency}}
                                        </p>
                                      </div>
                                    </div>
                                    <div class="form-group row mb-2" *ngIf="dataById.isSlabProcessing">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Due Amount:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          ₹ {{ dataById.dueAmount | indianCurrency}}
                                        </p>
                                      </div>
                                    </div>

                                  </div>

                                  <div class="col-xl-6 col-lg-6 col-sm-12">
                                    <div class="form-group row mb-2" *ngIf="dataById.isSales">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Total Amount:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          ₹ {{ dataById.salesTotalAmount | indianCurrency}}
                                        </p>
                                      </div>
                                    </div>
                                    <div class="form-group row mb-2" *ngIf="dataById.isSalesReturn">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Total Amount:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          ₹ {{ dataById.salesTotalAmount | indianCurrency}}
                                        </p>
                                      </div>
                                    </div>

                                    <div class="form-group row mb-2" *ngIf="dataById.isPurchase">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Total Amount:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          ₹ {{ dataById.purchaseTotalAmount | indianCurrency}}
                                        </p>
                                      </div>
                                    </div>
                                    <div class="form-group row mb-2" *ngIf="dataById.purchaseReturnTotalAmount">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Total Amount:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          ₹ {{ dataById.purchaseReturnTotalAmount | indianCurrency}}
                                        </p>
                                      </div>
                                    </div>

                                    <div class="form-group row mb-2" *ngIf="dataById.isSlabProcessing">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Total Amount:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          ₹ {{ dataById.processingCost | indianCurrency}}
                                        </p>
                                      </div>
                                    </div>

                                    <div class="form-group row mb-2" *ngIf="dataById.isSlabProcessing">
                                      <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Paid Amount:</h5>
                                      <div class="col-lg-9 col-md-9 col-xl-9">
                                        <p class="col-lg-9 col-form-label">
                                          ₹ {{ dataById.paidAmount | indianCurrency}}
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>                                
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-md-4">
                            <div class="form-group local-forms">
                              <label for="paymentDate">Payment Date <span class="login-danger">*</span></label>
                              <p-calendar dataType="string" appendTo="body" dateFormat="mm/dd/yy"
                                formControlName="paymentDate" placeholder="mm/dd/yyyy" [maxDate]="maxDate"
                                [styleClass]="'col-12'"></p-calendar>
                              <div
                                *ngIf="paymentInvoiceForm.get('paymentDate')?.hasError('required')  && paymentInvoiceForm.get('paymentDate')?.touched">
                                <span class="login-danger">Field is required. </span>
                              </div>
                            </div>
                          </div>

                          <div class="col-12 col-md-4">
                            <div class="form-group local-forms">
                              <label for="paymentMode">Payment Mode <span class="login-danger">*</span></label>
                              <p-dropdown [style]="{'width':'100%'}" placeholder="--Payment Mode--"
                                [options]="paymentModeList" formControlName="paymentMode" optionLabel="paymentMode"
                                optionValue="paymentMode" display="chip" [filter]="true"
                                filterBy="paymentMode"></p-dropdown>
                              <div
                                *ngIf="paymentInvoiceForm.get('paymentMode')?.hasError('required')  && paymentInvoiceForm.get('paymentMode')?.touched">
                                <span class="login-danger">Field is required. </span>
                              </div>
                            </div>
                          </div>

                          <div class="col-12 col-md-4" >
                            <div class="form-group local-forms">
                              <label for="totalAmount">Payable Amount <span class="login-danger">*</span></label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">₹</span>
                                </div>
                                <input type="number" formControlName="totalAmount" class="form-control">
                              </div>
                              <span style="color: #97704f; font-size: 12px; 
                              " *ngIf="dataById.isSales">Max Value : ₹ {{dataById.salesDueAmount | indianCurrency}}</span>
                              <div
                                *ngIf="paymentInvoiceForm.get('totalAmount')?.hasError('max') && paymentInvoiceForm.get('totalAmount')?.touched">
                                <span class="login-danger"  *ngIf="dataById.isSales">Amount cannot be greater than the
                                  ₹ {{dataById.salesDueAmount | indianCurrency}}.</span>
                              </div>

                              <span style="color: #97704f; font-size: 12px; 
                              " *ngIf="dataById.isSalesReturn">Max Value : ₹ {{dataById.salesDueAmount | indianCurrency}}</span>
                              <div
                                *ngIf="paymentInvoiceForm.get('totalAmount')?.hasError('max') && paymentInvoiceForm.get('totalAmount')?.touched">
                                <span class="login-danger"  *ngIf="dataById.isSalesReturn">Amount cannot be greater than the
                                  ₹ {{dataById.salesDueAmount | indianCurrency}}.</span>
                              </div>

                              <span style="color: #97704f; font-size: 12px; 
                              " *ngIf="dataById.isPurchase">Max Value : ₹ {{dataById.purchaseDueAmount | indianCurrency}}</span>
                              <div
                                *ngIf="paymentInvoiceForm.get('totalAmount')?.hasError('max') && paymentInvoiceForm.get('totalAmount')?.touched">
                                <span class="login-danger"  *ngIf="dataById.isPurchase">Amount cannot be greater than the
                                  ₹ {{dataById.purchaseDueAmount | indianCurrency}}.</span>
                              </div>

                              <span style="color: #97704f; font-size: 12px; 
                              " *ngIf="dataById.isPurchaseReturn">Max Value : ₹ {{dataById.purchaseDueAmount | indianCurrency}}</span>
                              <div
                                *ngIf="paymentInvoiceForm.get('totalAmount')?.hasError('max') && paymentInvoiceForm.get('totalAmount')?.touched">
                                <span class="login-danger"  *ngIf="dataById.isPurchaseReturn">Amount cannot be greater than the
                                  ₹ {{dataById.purchaseDueAmount | indianCurrency}}.</span>
                              </div>
                              <div
                                *ngIf="paymentInvoiceForm.get('totalAmount')?.hasError('required') && paymentInvoiceForm.get('totalAmount')?.touched">
                                <span class="login-danger">Field is required.</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-9">
                            <div class="form-group local-forms">
                              <label for="note">Notes </label>
                              <textarea class="form-control" type="text" placeholder=""
                                formControlName="note"></textarea>
                              <div
                                *ngIf="paymentInvoiceForm.get('note')?.hasError('required')  && paymentInvoiceForm.get('note')?.touched">
                                <span class="login-danger">Input must be between 2 to 100
                                  characters.</span>
                              </div>
                            </div>
                          </div>

                          <div class="col-12 col-md-3">
                            <div class="form-group " style="display: flex; gap: 2px;">
                              <button type="submit" class="border-0 btn btn-primary btn-gradient-primary "
                                [disabled]="!paymentInvoiceForm.valid">
                                Submit
                              </button>
                              <button class="btn btn-secondary " (click)="closeTheWindow()">
                                Cancel
                              </button>
                            </div>
                          </div>

                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>