<p-toast></p-toast>
<div class="page-wrapper">
  <div class="content">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
            <li class="breadcrumb-item active">Leave Request List</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">

          <div class="page-table-header mb-2">
            <div class="row align-item-center">
              <div class="col">
                <div class="doctor-table-blk">
                  <h3>Leave Request List</h3>
                  <div class="doctor-search-blk">
                    <div class="top-nav-search table-search-blk">
                      <input type="text" class="form-control" placeholder="Search here" 
                      [(ngModel)]="searchDataValue" (ngModelChange)="searchData(searchDataValue)">
                      <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                    </div>
                    <div class="add-group textbtn">
                      <a appShowHide [roles]="['admin', 'super-admin']" [routerLink]="routes.addLeave"
                        class="btn btn-primary add-pluss ms-2"><img src="assets/img/icons/plus.svg" alt="">Add New</a>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto text-end float-end ms-auto download-grp" appShowHide
                [roles]="['admin', 'super-admin']">
                <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg" alt=""></a>
                <!-- <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg" alt=""></a> -->
                <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg" alt=""></a>
                <!-- <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a> -->

              </div>
            </div>
          </div>

          <div class="card-body p-2">
            <p-table [value]="LeaveData" styleClass="p-datatable-striped"  [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="10"
              [rowsPerPageOptions]="[5, 10, 20]" [(selection)]="selectedLeave">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="employee">Employee Name <p-sortIcon field="employee"></p-sortIcon>
                    <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="employee" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="leaveType">Leave Type <p-sortIcon field="leaveType"></p-sortIcon>
                    <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="leaveType" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="from">From <p-sortIcon field="from"></p-sortIcon>
                    <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="from" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="to">To <p-sortIcon field="to"></p-sortIcon>
                    <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="to" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="noOfDay">No Of Days <p-sortIcon field="noOfDay"></p-sortIcon>
                    <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="noOfDay" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="leaveReason">leave Reason <p-sortIcon field="leaveReason"></p-sortIcon>
                    <p-columnFilter  matchMode="contains"  
hideOnClear="true"  type="text" field="leaveReason" display="menu"></p-columnFilter>
                  </th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-leave>
                <tr>
                                  <td>{{leave.employee.name}}</td>
                                  <td>{{leave.leaveType}}</td>
                                  <td>{{leave.from}}</td>
                                  <td>{{leave.to}}</td>
                                  <td>{{leave.noOfDay}}</td>
                                  <td>{{leave.leaveReason}}</td>
                  <td style="display: flex; gap: 5px;" appShowHide [roles]="['admin', 'super-admin']">
                    
                    <p-button [text]="true" icon="fa-solid fa-edit" (click)="editLeave(leave._id)"></p-button>
                    <p-button [text]="true" icon="fa-solid fa-trash" (click)="deleteLeave(leave._id)"></p-button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<app-confirm-dialog [showDialog]="showDialoge" (callbackModal)="callBackModal()" (close)="close()"
  [data]="modalData"></app-confirm-dialog>