:host ::ng-deep{
    .p-inputnumber-input{
        width: 100%;
    }
    
    p-inputnumber{
        width: 100%;
    }
}
.ml-2{
    margin-left: .5em;
}

.p-0{
    padding-left: 0;
}
.mt-2{
    margin-top: 10px;
}
.ml-0{
    margin-left: 0;
}
.p-l-0{

}
.inline-block{
    display: inline-block;
}

.cancel-form-confirm{
    background: #2e37a4;
    color: #fff;
    border: 1px solid #2e37a4;
}