<div>
    <div class="card">
      <div class="card-body card-table">
        <div class="row p-2">
          <div class="d-flex justify-content-between">
            <h3>Long Term Care Facility</h3>
             <button type="" class="btn btn-primary fs-6 ms-2" (click)="goBack()">Back</button>
          </div>
          <div class="mt-4">
            <!-- <p-tabView>
              <p-tabPanel header="Hospitalizations/procedures">
                <form class="flex align-items-center gap-1" [formGroup]="formGroup" (ngSubmit)="submitFrom()">
                <div class="d-flex justify-content-end">
                  <div class="">
                    <button type="" class="btn btn-primary fs-6" (click)="addEducationItem()">+ History items</button>
                    <button type="submit" class="btn btn-primary ms-2 fs-6">Save</button>
                  </div>
                </div>
                  <div>
                    <div class="col-12">
                      <ng-container formArrayName="hospitalizations">
                        <ng-container *ngFor="let hospitalizationsForm of hospitalizations.controls; let i = index"
                          [formGroupName]="i">
                          <div class="row">
                            <div class="col-12">
                              <div class="form-heading d-flex justify-content-between">
                                <h4 class="mt-2">New History item Type: Hospitalizations</h4>
                                <p-button [text]="true" icon="fa fa-trash" (click)="deleteEducation(i)"></p-button>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                              <div class="form-group local-forms">
                                <label for="admissionDate">Admission Date<span class="login-danger">*</span></label>
                                <p-calendar formControlName="admissionDate" [inputStyle]="{ 'width': '2000px' }"
                                  dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                                <div
                                  *ngIf="hospitalizationsForm.get('admissionDate')?.hasError('required') && hospitalizationsForm.get('admissionDate')?.touched"
                                  class="login-danger">
                                  This field is required.
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                              <div class="form-group local-forms">
                                <label for="related">Related to</label>
                                <p-dropdown [options]="Related" formControlName="related" [style]="{ 'width': '100%' }"
                                  optionLabel="name" [showClear]="true" placeholder="Select"></p-dropdown>
                                <input class="form-control" formControlName="related" type="text" /> 
                                <div
                                  *ngIf="hospitalizationsForm.get('related')?.hasError('required') && hospitalizationsForm.get('related')?.touched"
                                  class="login-danger">
                                  This field is required.
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                              <div class="form-group local-forms">
                                <label for="lengthofstay">Length of stay<span class="login-danger">*</span></label>
                                <input class="form-control" formControlName="lengthofstay" type="text" />
                                <div
                                  *ngIf="hospitalizationsForm.get('lengthofstay')?.hasError('required') && hospitalizationsForm.get('lengthofstay')?.touched"
                                  class="login-danger">
                                  This field is required.
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                              <div class="form-group local-forms">
                                <label for="procedure">Procedure<span class="login-danger">*</span></label>
                                <input class="form-control" formControlName="procedure"
                                  placeholder="Type of Procedure Code" type="text" />
                                <div
                                  *ngIf="hospitalizationsForm.get('procedure')?.hasError('required') && hospitalizationsForm.get('procedure')?.touched"
                                  class="login-danger">
                                  This field is required.
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-4">
                              <div class="form-group local-forms">
                                  <label for="state">State <span class="login-danger">*</span></label>
  
                                  <p-dropdown [options]="states" styleClass="" optionLabel="name"
                                      optionValue="state_code" appendTo="body" placeholder="--Select State--"
                                      formControlName="states" [style]="{'width':'100%'}" [filter]="true"
                                      filterBy="name" [showClear]="true">
                                  </p-dropdown>
  
                                  <div
                                      *ngIf="hospitalizationsForm.get('states')?.hasError('required') && hospitalizationsForm.get('states')?.touched">
                                      <span class="login-danger">This field is required</span>
                                  </div>
                              </div>
                          </div>
                            <div class="col-12 col-md-6 col-xl-4">
                              <div class="form-group local-forms">
                                <label for="comments">Comments<span class="login-danger">*</span></label>
                                <textarea class="form-control" formControlName="comments" rows="1" cols="30"></textarea>
                                <div
                                  *ngIf="hospitalizationsForm.get('comments')?.hasError('required') && hospitalizationsForm.get('comments')?.touched"
                                  class="login-danger">
                                  This field is required.
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                    <div class="center fs-4 text-center" style="color: grey;">
                      <span>
                        Click "+ History Item" to add the patient's first history event.
                      </span>
                    </div>
                  </div>
                </form>
              </p-tabPanel> -->
  
              <!-- <p-tabPanel header="Long term Care Facility"> -->
                <form class="flex align-items-center gap-1" [formGroup]="formGroupSecond"
                  (ngSubmit)="formGroupSecondSubmit()">
                <div class="d-flex justify-content-end">
                  <button type="" class="btn btn-primary fs-6" (click)="addfacilityItem()">+ History items</button>
                  <button type="submit" class="btn btn-primary fs-6 ms-2">Save</button>
                </div>
                  <div>
                    <div class="col-12">
                      <ng-container formArrayName="facility">
                        <ng-container *ngFor="let facilityForm of facility.controls; let i = index" [formGroupName]="i">
                          <div class="row">
                            <div class="col-12">
                              <div class="form-heading d-flex justify-content-between">
                                <h4 class="mt-2">New History item Type: Long Term Care Facility</h4>
                                <p-button [text]="true" icon="fa fa-trash" (click)="deletefacility(i)"></p-button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                  <label for="longadmissionDate">Admission Date<span class="login-danger">*</span></label>
                                  <p-calendar formControlName="longadmissionDate" [inputStyle]="{ 'width': '2000px' }"
                                    dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                                  <div
                                    *ngIf="facilityForm.get('longadmissionDate')?.hasError('required') && facilityForm.get('longadmissionDate')?.touched"
                                    class="login-danger">
                                    This field is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                  <label for="facilityName">Facility Name</label>
                                  <input class="form-control" formControlName="facilityName" type="text" />
                                  <div
                                    *ngIf="facilityForm.get('facilityName')?.hasError('required') && facilityForm.get('facilityName')?.touched"
                                    class="login-danger">
                                    This field is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                  <label for="dischargeData">Discharge Data</label>
                                  <p-calendar formControlName="dischargeData" [inputStyle]="{ 'width': '2000px' }"
                                    dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                                  <div
                                    *ngIf="facilityForm.get('dischargeData')?.hasError('required') && facilityForm.get('dischargeData')?.touched"
                                    class="login-danger">
                                    This field is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                  <label for="secondComments">Comments</label>
                                  <textarea class="form-control" formControlName="secondComments" type="text"
                                    rows="2"></textarea>
                                  <div
                                    *ngIf="facilityForm.get('secondComments')?.hasError('required') && facilityForm.get('secondComments')?.touched"
                                    class="login-danger">
                                    This field is required.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                    <div class="center fs-4 text-center" style="color: grey;">
                      <span>
                        Click "+ History Item" to add the patient's first history event.
                      </span>
                    </div>
                  </div>
                </form>
              <!-- </p-tabPanel> -->
  
              <!-- <p-tabPanel header="Hospice">
                <form class="flex align-items-center gap-1" [formGroup]="formGrouphospice"
                  (ngSubmit)="formGrouphospiceSubmit()">
                <div class="d-flex justify-content-end">
                  <button type="" class="btn btn-primary fs-6" (click)="addHospiceItem()">+ History items</button>
                  <button type="submit" class="btn btn-primary fs-6 ms-2">Save</button>
                </div>
                  <div>
                    <div class="col-12">
                      <ng-container formArrayName="hospice">
                        <ng-container *ngFor="let hospiceForm of hospice.controls; let i = index" [formGroupName]="i">
                          <div class="row">
                            <div class="col-12">
                              <div class="form-heading d-flex justify-content-between">
                                <h4 class="mt-2">New History item Type: Long Term Care Facility</h4>
                                <p-button [text]="true" icon="fa fa-trash" (click)="deleteHospice(i)"></p-button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                  <label for="hospiceadmissionDate">Admission Date<span
                                      class="login-danger">*</span></label>
                                  <p-calendar formControlName="hospiceadmissionDate" [inputStyle]="{ 'width': '2000px' }"
                                    dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"></p-calendar>
                                  <div
                                    *ngIf="hospiceForm.get('hospiceadmissionDate')?.hasError('required') && hospiceForm.get('hospiceadmissionDate')?.touched"
                                    class="login-danger">
                                    This field is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                  <label for="priorEvent">Prior Event</label>
                                  <input class="form-control" formControlName="priorEvent" type="text" />
                                  <div
                                    *ngIf="hospiceForm.get('priorEvent')?.hasError('required') && hospiceForm.get('priorEvent')?.touched"
                                    class="login-danger">
                                    This field is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                  <label for="discharge">Discharge</label>
                                  <input class="form-control" formControlName="discharge" type="text" />
                                  <div
                                    *ngIf="hospiceForm.get('discharge')?.hasError('required') && hospiceForm.get('discharge')?.touched"
                                    class="login-danger">
                                    This field is required.
                                  </div>
                                </div>
                              </div>
  
                              <div class="col-12 col-md-6 col-xl-4">
                                <div class="form-group local-forms">
                                  <label for="therdComments">Comments</label>
                                  <textarea class="form-control" formControlName="therdComments" type="text"
                                    rows="2"></textarea>
                                  <div
                                    *ngIf="hospiceForm.get('therdComments')?.hasError('required') && hospiceForm.get('therdComments')?.touched"
                                    class="login-danger">
                                    This field is required.
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                    <div class="center fs-4 text-center" style="color: grey;">
                      <span>
                        Click "+ History Item" to add the patient's first history event.
                      </span>
                    </div>
                  </div>
                </form>
              </p-tabPanel>
            </p-tabView> -->
          </div>
        </div>
      </div>
    </div>
    <!-- </form> -->
  </div>