<p-toast></p-toast>

<div class="page-wrapper">
  <div class="content">

    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/patient/patients-list']">Patient List</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Vitals</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body">
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Vitals List</h3>
                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk">
                        <input type="text" class="form-control" placeholder="Search here" [(ngModel)]="searchDataValue"
                          (ngModelChange)="searchData(searchDataValue)">
                        <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                      </div>
                      <div class="add-group textbtn">
                        <a class="btn btn-primary add-pluss ms-2" (click)="openAddVitals()"><img
                                src="assets/img/icons/plus.svg" alt=""> Add New</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto text-end float-end ms-auto download-grp">
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg" alt=""></a>
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg" alt=""></a>

                </div>
              </div>
            </div>

            <!-- <div class="table-responsive">
              <table matSort (matSortChange)="sortData($event)"
                class="table border-0 custom-table comman-table datatable mb-0">
                <thead>
                  <tr>
                    <th >
                      <div class="form-check check-tables">
                        <input class="form-check-input" type="checkbox" value="something">
                      </div>
                    </th>
                    <th mat-sort-header="vitalsRecordedDate">Recorded</th>
                    <th mat-sort-header="vitalsSystolicBloodPressure">BP</th>
                    <th mat-sort-header="vitalsHeartRate">HR</th>
                    <th mat-sort-header="vitalsRespiratoryRate">RR</th>
                    <th mat-sort-header="vitalsWeightLbs">Weigth</th>
                    <th mat-sort-header="vitalsHeightInFeet">Height</th>
                    <th mat-sort-header="vitalsSpO2">SpO2</th>
                    <th mat-sort-header="vitalsInhaledO2">Inhaled O2</th>
                    <th mat-sort-header="vitalsTemperature">Temp</th>
                    <th mat-sort-header="vitalsHeadCircumference">Head Circ</th>
                    <th mat-sort-header="vitalsBodyMassIndex">BMI</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let data of vitalsList">
                    <td>
                      <div class="form-check check-tables">
                        <input class="form-check-input" type="checkbox" value="something">
                      </div>
                    </td>
                    <td>{{data.vitalsRecordedDate | date: 'dd-MM-yyyy'}}</td>
                    <td>{{data.vitalsSystolicBloodPressure}}/{{data.vitalsDiastolicBloodPressure}}</td>
                    <td>{{data.vitalsHeartRate}}</td>
                    <td>{{data.vitalsRespiratoryRate}}</td>
                    <td>{{data.vitalsWeightLbs}} lbs {{data.vitalsWeightOz}} oz</td>
                    <td>{{data.vitalsHeightInFeet}}'{{data.vitalsHeightInInch}}"</td>
                    <td>{{data.vitalsSpO2}}%</td>
                    <td>{{data.vitalsInhaledO2}}%</td>
                    <td>{{data.vitalsTemperature}}</td>
                    <td>{{data.vitalsHeadCircumference}}</td>
                    <td>{{data.vitalsBodyMassIndex}}</td>
                    <td style="display: flex;" appShowHide [roles]="['admin', 'super-admin']">
                      <p-button [text]=" true" icon="fa fa-trash"></p-button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div> -->

            <div class="p-5" *ngFor="let data of vitalsList.slice(first, first + rows)">
              <div class="row">
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body p-2">
                      <div class="chart-title patient-visit mb-0">
                        <h4>Recorded Date:</h4>
                        <div class="income-value">
                          <p><span class="passive-view">{{data.vitalsRecordedDate | date: 'dd-MM-yyyy'}}</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body p-2">
                      <div class="chart-title patient-visit mb-0">
                        <h4>Recorded Time:</h4>
                        <div class="income-value">
                          <p><span class="passive-view">{{data.vitalsRecordedTime}}</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body p-2">
                      <div class="chart-title patient-visit mb-0">
                        <h4>Created By:</h4>
                        <div class="income-value">
                          <p><span class="passive-view">M D Care Provider</span></p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-12 col-md-3 d-flex">
                  <div class="card">
                    <div class="card-body p-2">
                      <div class="chart-title patient-visit">
                        <h4>Body Mass index</h4>
                      </div>
                      <div class="wallet-widget general-health">
                        <div class="circle-bar circle-bar2">
                          <circle-progress class="circle-progress-bar" [percent]="data.vitalsBodyMassIndex"
                            [clockwise]="true" innerStrokeColor=#dee2e6 outerStrokeColor=#2E37A4></circle-progress>
                          <div class="circle-progress-icon">
                            <b><img src="assets/img/icons/health-img.svg" alt=""></b>
                          </div>
                        </div>
                        <div class="main-limit">
                          <h4>{{data.vitalsBodyMassIndex}}kg/m²</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 d-flex">
                  <div class="card">
                    <div class="card-body p-2">
                      <div class="chart-title patient-visit">
                        <h4>Saturation peripheral O2</h4>
                      </div>
                      <div class="wallet-widget general-health">
                        <div class="circle-bar circle-bar2">
                          <circle-progress class="circle-progress-bar" [percent]="data.vitalsSpO2"
                            [clockwise]="true" innerStrokeColor=#dee2e6 outerStrokeColor=#2E37A4></circle-progress>
                          <div class="circle-progress-icon">
                            <b><img src="assets/img/icons/health-img.svg" alt=""></b>
                          </div>
                        </div>
                        <div class="main-limit">

                          <h4>{{data.vitalsSpO2}}%</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-3 d-flex">
                  <div class="card">
                    <div class="card-body p-2">
                      <div class="chart-title patient-visit">
                        <h4>Inhaled O2</h4>
                      </div>
                      <div class="wallet-widget general-health">
                        <div class="circle-bar circle-bar2">
                          <circle-progress class="circle-progress-bar" [percent]="data.vitalsInhaledO2"
                            [clockwise]="true" innerStrokeColor=#dee2e6 outerStrokeColor=#2E37A4></circle-progress>
                          <div class="circle-progress-icon">
                            <b><img src="assets/img/icons/health-img.svg" alt=""></b>
                          </div>
                        </div>
                        <div class="main-limit">

                          <h4>{{data.vitalsInhaledO2}}%</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-md-3 d-flex">
                  <div class="struct-point">
                    <div class="card patient-structure p-2">
                      <div class="card-body d-flex justify-content-between">
                        <h5>Head Circ</h5>
                        <h3>{{data.vitalsHeadCircumference}}<span class="status-pink">
                            inch</span></h3>
                      </div>
                    </div>
                    <div class="card patient-structure p-2">
                      <div class="card-body d-flex justify-content-between">
                        <h5>Weight</h5>
                        <h3>{{data.vitalsWeightLbs}}<span class="status-green">{{data.vitalsWeightOz}}
                            oz</span></h3>
                      </div>
                    </div>
                    <div class="card patient-structure p-2">
                      <div class="card-body d-flex justify-content-between">
                        <h5>Height</h5>
                        <h3>{{data.vitalsHeightInFeet}}<span class="status-pink">{{data.vitalsHeightInInch}}
                            inch</span></h3>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-12 col-md-6 col-xl-3 d-flex">
                  <div class="card report-blk">
                    <div class="card-body p-2">
                      <div class="report-head">
                        <h4><img src="assets/img/icons/report-icon-01.svg" class="me-2" alt="">Heart Rate</h4>
                      </div>
                      <div id="heart-rate">
                        <apx-chart [series]="chartOptionsTwo.series" [chart]="chartOptionsTwo.chart"
                          [dataLabels]="chartOptionsTwo.dataLabels" [stroke]="chartOptionsTwo.stroke"
                          [title]="chartOptionsTwo.title" [markers]="chartOptionsTwo.markers"
                          [xaxis]="chartOptionsTwo.xaxis" [yaxis]="chartOptionsTwo.yaxis" [grid]="chartOptionsTwo.grid"
                          [fill]="chartOptionsTwo.fill"></apx-chart>
                      </div>
                      <div class="dash-content">
                        <h5>{{data.vitalsHeartRate}}<span>bpm</span></h5>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3 d-flex">
                  <div class="card report-blk">
                    <div class="card-body p-2">
                      <div class="report-head">
                        <h4><img src="assets/img/icons/report-icon-02.svg" class="me-2" alt="">Temperature</h4>
                      </div>
                      <div id="temperature-chart">
                        <apx-chart [series]="chartOptionsThree.series" [chart]="chartOptionsThree.chart"
                          [dataLabels]="chartOptionsThree.dataLabels" [plotOptions]="chartOptionsThree.plotOptions"
                          [yaxis]="chartOptionsThree.yaxis" [legend]="chartOptionsThree.legend"
                          [fill]="chartOptionsThree.fill" [stroke]="chartOptionsThree.stroke"
                          [tooltip]="chartOptionsThree.tooltip" [xaxis]="chartOptionsThree.xaxis"
                          [xaxis]="chartOptionsThree.xaxis" [yaxis]="chartOptionsThree.yaxis"
                          [grid]="chartOptionsThree.grid"></apx-chart>
                      </div>
                      <div class="dash-content">
                        <h5>{{data.vitalsTemperature}} <span>f</span></h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3 d-flex">
                  <div class="card report-blk">
                    <div class="card-body p-2">
                      <div class="report-head">
                        <h4><img src="assets/img/icons/report-icon-03.svg" class="me-2" alt="">Blood Pressure</h4>
                      </div>
                      <div id="pressure-chart">
                        <apx-chart [series]="chartOptionsFour.series" [chart]="chartOptionsFour.chart"
                          [dataLabels]="chartOptionsFour.dataLabels" [plotOptions]="chartOptionsFour.plotOptions"
                          [responsive]="chartOptionsFour.responsive" [xaxis]="chartOptionsFour.xaxis"
                          [legend]="chartOptionsFour.legend" [fill]="chartOptionsFour.fill"
                          [xaxis]="chartOptionsFour.xaxis" [yaxis]="chartOptionsFour.yaxis"
                          [grid]="chartOptionsFour.grid"></apx-chart>
                      </div>
                      <div class="dash-content">
                        <h5>{{data.vitalsSystolicBloodPressure}}/{{data.vitalsDiastolicBloodPressure}}<span>mm/Hg</span>
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3 d-flex">
                  <div class="card report-blk">
                    <div class="card-body p-2">
                      <div class="report-head">
                        <h4><img src="assets/img/icons/report-icon-01.svg" class="me-2" alt="">Respiratory Rate</h4>
                      </div>
                      <div id="heart-rate">
                        <apx-chart [series]="chartOptionsTwo.series" [chart]="chartOptionsTwo.chart"
                          [dataLabels]="chartOptionsTwo.dataLabels" [stroke]="chartOptionsTwo.stroke"
                          [title]="chartOptionsTwo.title" [markers]="chartOptionsTwo.markers"
                          [xaxis]="chartOptionsTwo.xaxis" [yaxis]="chartOptionsTwo.yaxis" [grid]="chartOptionsTwo.grid"
                          [fill]="chartOptionsTwo.fill"></apx-chart>
                      </div>
                      <div class="dash-content">
                        <h5>{{data.vitalsRespiratoryRate}}<span>bpm</span></h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="card flex justify-content-center">
              <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                [totalRecords]="vitalsList.length" [rowsPerPageOptions]="[1, 5, 10]"></p-paginator>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- --add vitals popup Patient-- -->

<p-dialog [(visible)]="addVitalsDialog" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
  [resizable]="false">
  <ng-template pTemplate="header">
    <h4 class="mb-0">New Vitals</h4>
  </ng-template>

  <ng-template pTemplate="content">
    <form [formGroup]="vitalsForm" (ngSubmit)="vitalsFormSubmit()">
      <div class="row">

        <div class="col-md-6 mt-2">
          <div class="form-group local-forms">
            <label for="">Recorded Date</label>
            <p-calendar appendTo="body" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy"
              formControlName="vitalsRecordedDate" [inputStyle]="{ 'width': '425px'}" [minDate]="minSelectableDate" class="m-r-10 m-l-5"></p-calendar>
          </div>
        </div>

        <div class="col-md-6 mt-2">
          <div class="form-group local-forms">
            <label for="">Time : </label>
            <p-calendar [showTime]="true" [timeOnly]="true" dataType="string" dateMask appendTo="body"
              placeholder="__:__" formControlName="vitalsRecordedTime" [inputStyle]="{ 'width': '425px'}" class="m-l-5"></p-calendar>
          </div>
        </div>


        <div class="col-12">
          <div class="form-group ">
            <label for="">Blood Pressure :</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group local-forms">
            <label for="">systolicPressure</label>
            <input type="number" class="form-control" formControlName="vitalsSystolicBloodPressure">

            <div
              *ngIf="vitalsForm.get('vitalsSystolicBloodPressure')?.hasError('max') && vitalsForm.get('vitalsSystolicBloodPressure')?.touched">
              <span class="login-danger">Please enter a valid systolic blood pressure.</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group local-forms">
            <label for="">diastolicPressure</label>
            <input type="number" class="form-control" formControlName="vitalsDiastolicBloodPressure">

            <div
              *ngIf="vitalsForm.get('vitalsDiastolicBloodPressure')?.hasError('max') && vitalsForm.get('vitalsDiastolicBloodPressure')?.touched">
              <span class="login-danger">Please enter a valid diastolic blood pressure.</span>
            </div>
          </div>
        </div>

        <div class="col-12  ">
          <div class="form-group ">
            <label for="">Height/Length :</label>
          </div>
        </div>
        <div class="col-12 col-md-6 ">
          <div class="form-group local-forms ">
            <label for="">feet</label>
            <input type="number" class="form-control" formControlName="vitalsHeightInFeet">
            <div
              *ngIf="vitalsForm.get('vitalsHeightInFeet')?.hasError('max') && vitalsForm.get('vitalsHeightInFeet')?.touched">
              <span class="login-danger">Please enter a valid height in feet between 0 and 10.</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group local-forms">
            <label for="">inch.</label>
            <input type="number" class="form-control" formControlName="vitalsHeightInInch">
            <div
              *ngIf="vitalsForm.get('vitalsHeightInInch')?.hasError('max') && vitalsForm.get('vitalsHeightInInch')?.touched">
              <span class="login-danger">Please enter a valid height in inches between 0 and 11.</span>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group ">
            <label for="">Weight :</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group local-forms">
            <label for="">lbs</label>
            <input type="number" class="form-control" formControlName="vitalsWeightLbs">
            <div
              *ngIf="vitalsForm.get('vitalsWeightLbs')?.hasError('max') && vitalsForm.get('vitalsWeightLbs')?.touched">
              <span class="login-danger">Please enter a valid weight in pounds between 0 and 500.</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group local-forms">
            <label for="">oz</label>
            <input type="number" class="form-control" formControlName="vitalsWeightOz">
            <div *ngIf="vitalsForm.get('vitalsWeightOz')?.hasError('max') && vitalsForm.get('vitalsWeightOz')?.touched">
              <span class="login-danger">Please enter a valid weight in ounces between 0 and 15.</span>
            </div>
          </div>
        </div>


        <div class="col-12">
          <div class="form-group">
            <label for="">
              <h4>Vitals Sign</h4>
            </label>
          </div>
        </div>


        <div class="col-12 col-md-4">
          <div class="form-group local-forms">
            <label for="">Heart Rate</label>
            <input type="number" class="form-control text-center" placeholder="bpm" formControlName="vitalsHeartRate">
            <div
              *ngIf="vitalsForm.get('vitalsHeartRate')?.hasError('max') || vitalsForm.get('vitalsHeartRate')?.hasError('min') && vitalsForm.get('vitalsHeartRate')?.touched">
              <span class="login-danger">Please enter a valid heart rate between 60 and 100.</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 ">
          <div class="form-group local-forms ">
            <label for="">Respiratory Rate</label>
            <input type="number" class="form-control text-center" placeholder="rpm"
              formControlName="vitalsRespiratoryRate">
            <div
              *ngIf="vitalsForm.get('vitalsRespiratoryRate')?.hasError('max') || vitalsForm.get('vitalsRespiratoryRate')?.hasError('min') && vitalsForm.get('vitalsRespiratoryRate')?.touched">
              <span class="login-danger"> Please enter a valid respiratory rate between 10 and 20.</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group local-forms">
            <label for="">Temprature</label>
            <input type="number" class="form-control text-center" placeholder="°F" formControlName="vitalsTemperature">
            <div
              *ngIf="vitalsForm.get('vitalsTemperature')?.hasError('max') || vitalsForm.get('vitalsTemperature')?.hasError('min') && vitalsForm.get('vitalsTemperature')?.touched">
              <span class="login-danger">Please enter a valid temperature between 90 and 105.</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group local-forms">
            <label for="">SpO2</label>
            <input type="number" class="form-control text-center" placeholder="%" formControlName="vitalsSpO2">
            <div *ngIf="vitalsForm.get('vitalsSpO2')?.hasError('max') && vitalsForm.get('vitalsSpO2')?.touched">
              <span class="login-danger">Please enter a valid SpO2 percentage between 0 and 100.</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group local-forms">
            <label for="">Inhaled O2</label>
            <input type="number" class="form-control text-center" placeholder="%" formControlName="vitalsInhaledO2">
            <div
              *ngIf="vitalsForm.get('vitalsInhaledO2')?.hasError('max') ||  vitalsForm.get('vitalsInhaledO2')?.hasError('min') && vitalsForm.get('vitalsInhaledO2')?.touched">
              <span class="login-danger"> Please enter a valid percentage of inhaled oxygen between 21 and 100.</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group local-forms">
            <label for="">Head Circ</label>
            <input type="number" class="form-control text-center" placeholder="in"
              formControlName="vitalsHeadCircumference">
            <div
              *ngIf="vitalsForm.get('vitalsHeadCircumference')?.hasError('max') && vitalsForm.get('vitalsHeadCircumference')?.touched">
              <span class="login-danger"> Please enter a valid head circumference between 0 and 20.</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group local-forms">
            <label for="">BMI</label>
            <input type="number" class="form-control text-center" [disabled]="true" formControlName="vitalsBodyMassIndex"
              placeholder="kg/m²">
            <!-- <div
              *ngIf="vitalsForm.get('vitalsBodyMassIndex')?.hasError('max') || vitalsForm.get('vitalsBodyMassIndex')?.hasError('min') && vitalsForm.get('vitalsBodyMassIndex')?.touched">
              <span class="login-danger">Please enter a valid body mass index between 15 and 30.</span>
            </div> -->
          </div>
        </div>


        <div class="col-12 col-md-6">
          <div class="form-group local-forms">
            <label for="">Comments</label>
            <textarea class="form-control" rows="1" cols="30" formControlName="vitalsComments"></textarea>
          </div>
        </div>

        <div class=" col-12">

          <!-- <div class="col-12 col-md-6">
            <div class="form-group local-forms">
              <label for="">Created By: </label>
            </div>
          </div> -->

          <div class=" settings-btns text-end m-b-10">
            <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
              [disabled]="!vitalsForm.valid">Submit</button>
            <button class="btn btn-secondary" (click)="addVitalsDialog=false">Cancel</button>
          </div>
        </div>


      </div>
    </form>
  </ng-template>
</p-dialog>