<router-outlet></router-outlet>
<p-toast></p-toast>
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Staff Designation List</li>
                        <li class="breadcrumb-item">
                            <!-- <i class="feather icon-chevron-right"></i> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <div class="card card-table show-entire">
                    <div class="page-table-header mb-2">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="doctor-table-blk">
                                    <h3>Staff Designation List</h3>
                                    <div class="doctor-search-blk col-md-6">
                                        <div class="top-nav-search table-search-blk me-3">
                                            <input type="text" class="form-control" placeholder="Search here"
                                                [(ngModel)]="searchDataValue">
                                            <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                        </div>
                                        <div class="add-group textbtn gap-3">

                                            <a class="btn btn-primary" (click)="showDialog()"><img
                                                    src="assets/img/icons/plus.svg" alt="">Add New</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto text-end float-end ms-auto download-grp" appShowHide
                                [roles]="['admin', 'super-admin', 'help-desk']">
                                <!-- <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg" pTooltip="Download data in PDF file" tooltipPosition="left"
                                        tooltipStyleClass="tooltip"
                                        alt=""></a> -->
                                <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg"
                                        pTooltip="Download data in CSV file " tooltipPosition="left"
                                        tooltipStyleClass="tooltip" alt="" (click)="dt.exportCSV()"></a>

                            </div>
                        </div>
                    </div>

                    <div class="card-body p-2">
                        <p-table [value]="dataSource | filter:searchDataValue:['designation', 'description']"
                            styleClass="p-datatable-striped" [tableStyle]="{'min-width': '60rem'}"
                            [paginator]="dataSource?.length >= 5" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]"
                            (change)="onPageChange($event)" [(selection)]="selectedStaffDesignation"
                            selectionMode="multiple" #dt [columns]="cols" [exportHeader]="'customExportHeader'"
                            exportFilename="Staff Designation">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="designation">Name
                                        <p-sortIcon field="designation"></p-sortIcon>
                                        <p-columnFilter matchMode="contains" hideOnClear="true" type="text"
                                            field="designation" display="menu"></p-columnFilter>
                                    </th>
                                    <th pSortableColumn="description">Description<p-sortIcon
                                            field="description"></p-sortIcon>
                                        <p-columnFilter matchMode="contains" hideOnClear="true" type="text"
                                            field="description" display="menu"></p-columnFilter>
                                    </th>
                                    <th width="13%">Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product>
                                <tr>
                                    <td class="bold">{{product.designation}}</td>
                                    <td class="bold">{{product.description}}</td>
                                    <td appShowHide [roles]="['admin', 'super-admin']">
                                        <div class="action-buttons">

                                            <p-button [text]="true" icon="fa fa-edit"
                                                (click)="showDialogEdit(product._id)" pTooltip="Edit"
                                                tooltipPosition="bottom" tooltipStyleClass="tooltip"></p-button>
                                            <p-button [text]=" true" icon="fa fa-trash" pTooltip="Delete"
                                                tooltipPosition="bottom" tooltipStyleClass="tooltip"
                                                (click)="deleteStaffDesignation(product._id)"></p-button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="3" class="text-center">No Staff Designation found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-confirm-dialog [showDialog]="showDialoge" (callbackModal)="callBackModal()" (close)="close()"
    [data]="modalData"></app-confirm-dialog>

<p-dialog header="Add Staff Designation" [(visible)]="visible" [modal]="true" [style]="{ 'min-width': '2rem' }">
    <div class="modal-content">
        <div class="modal-body">
            <form [formGroup]="addStaffDesignationForm" (ngSubmit)="addStaffDesignationFormsubmit()">
                <div class="row mt-2">

                    <div class="col-12 col-md-12 col-xl-12">
                        <div class="form-group local-forms">
                            <label for="designation">Designation<span class="login-danger">*</span></label>
                            <input class="form-control" type="text" autofocus placeholder="Please Enter Designation"
                                formControlName="designation" />
                            <div *ngIf="
                  addStaffDesignationForm
                    .get('designation')
                    ?.hasError('required') &&
                  addStaffDesignationForm.get('designation')?.touched
                " class="login-danger Font_size">
                                Field is required.
                            </div>
                            <div
                                *ngIf="addStaffDesignationForm.get('designation')?.hasError('pattern') && addStaffDesignationForm.get('designation')?.touched">
                                <span class="login-danger">Designation Must be between 3 to 30 characters.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-xl-12">
                        <div class="form-group local-forms">
                            <label for="Description">Description<span class="login-danger"></span></label>
                            <textarea class="form-control" type="text" placeholder="Please Enter Description"
                                formControlName="description" rows="4"></textarea>
                            <div *ngIf="
                                addStaffDesignationForm.get('description')?.hasError('pattern') &&
                                addStaffDesignationForm.get('description')?.touched
                              ">
                                <span class="login-danger">Input Must be between 3 to 500
                                    characters.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 col-sm-12">
                        <div class="ettings-btns text-end m-b-10 gap-2">
                            <button type="submit" [disabled]="!addStaffDesignationForm.valid"
                                class="border-0 btn btn-primary btn-gradient-primary m-r-10">Submit</button>
                            <button type="button" class="btn btn-secondary" (click)="addCloseDialog()">Cancel</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</p-dialog>

<p-dialog header="Edit Staff Designation" [(visible)]="visible1" [modal]="true">

    <div class="modal-content">
        <div class="modal-body">
            <form [formGroup]="editStaffDesignationForm" (ngSubmit)="editStaffDesignationFormSubmit()">
                <div class="row mt-2">
                    <div class="col-12 col-md-12 col-xl-12">
                        <div class="form-group local-forms">
                            <label for="designation">Designation<span class="login-danger">*</span></label>
                            <input class="form-control" type="text" autofocus placeholder="Please Enter Designation"
                                formControlName="designation" />
                            <div *ngIf="
              editStaffDesignationForm
                .get('designation')
                ?.hasError('required') &&
              editStaffDesignationForm.get('designation')?.touched
            " class="login-danger Font_size">
                                Field is required.
                            </div>
                            <div
                                *ngIf="editStaffDesignationForm.get('designation')?.hasError('pattern') && editStaffDesignationForm.get('designation')?.touched">
                                <span class="login-danger">Designation Must be between 3 to 30 characters.</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-xl-12">
                        <div class="form-group local-forms">
                            <label for="Description">Description<span class="login-danger"></span></label>
                            <textarea class="form-control" type="text" placeholder="Please Enter Description"
                                formControlName="description" rows="4"></textarea>
                            <div *ngIf="
                                editStaffDesignationForm.get('description')?.hasError('pattern') &&
                                editStaffDesignationForm.get('description')?.touched
                              ">
                                <span class="login-danger">Input Must be between 3 to 500
                                    characters.</span>
                            </div>

                        </div>
                    </div>
                    <div class=" col-12">

                        <div class=" settings-btns text-end m-b-10">
                            <button type="submit" [disabled]="!editStaffDesignationForm.valid"
                                class="border-0 btn btn-primary btn-gradient-primary m-r-10">Submit</button>
                            <button type="button" class="btn btn-secondary" (click)="closeDialogEdit()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</p-dialog>