<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Sales Paid</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <!-- <div class="row">
      <div class="col-lg-12">
        <div class="py-3 d-flex justify-content-end">
          <a [routerLink]="routes.Sales" class="invoices-links active">
            <i class="feather icon-list"></i>
          </a>
          <a [routerLink]="routes.invoicesGrid" class="invoices-links">
            <i class="feather icon-grid"></i>
          </a>
        </div>
      </div>
    </div> -->
    <!-- Report Filter -->
    <div class="card report-card">
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group local-forms">
              <label for="">Customer</label>
              <p-dropdown [style]="{'width':'100%'}" placeholder="--Select Customer--" [options]="customerList"
                optionLabel="name" optionValue="name" display="chip" [showClear]="true">
              </p-dropdown>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group local-forms">
              <label for="">Invoice Number</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group local-forms">
              <label for="">Start Date</label>
              <p-calendar [maxDate]="maxDate"dataType="string" appendTo="body" dateFormat="mm/dd/yy" formControlName="StartDate"
                placeholder="mm/dd/yyyy" [styleClass]="'col-12'"></p-calendar>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group local-forms">
              <div class="report-btn">
                <a href="" class="btn">
                  <img src="assets/img/invoices-icon5.png" alt="" class="me-2" />
                  Generate report
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card invoices-tabs-card">
      <div class="card-body card-body pt-0 pb-0">
        <div class="invoices-main-tabs">
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-8">
              <div class="invoices-tabs">
                <ul>
                  <li>
                    <a [routerLink]="routes.Sales">All Sales</a>
                  </li>
                  <li><a class="active" [routerLink]="routes.paidSales">Paid</a></li>
                  <li><a [routerLink]="routes.unpaidSales">Unpaid</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="invoices-settings-btn">
                <a [routerLink]="routes.addSales" class="btn">
                  <i class="feather icon-plus-circle feather-circle me-2"></i>
                  New Sales
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card inovices-card">
          <div class="card-body">
            <div class="inovices-widget-header">
              <span class="inovices-widget-icon">
                <img src="assets/img/invoices-icon1.svg" alt="" />
              </span>
              <div class="inovices-dash-count">
                <div class="inovices-amount">$8,78,797</div>
              </div>
            </div>
            <p class="inovices-all">All Sales <span>50</span></p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card inovices-card">
          <div class="card-body">
            <div class="inovices-widget-header">
              <span class="inovices-widget-icon">
                <img src="assets/img/invoices-icon2.svg" alt="" />
              </span>
              <div class="inovices-dash-count">
                <div class="inovices-amount">$4,5884</div>
              </div>
            </div>
            <p class="inovices-all">Paid Sales <span>60</span></p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card inovices-card">
          <div class="card-body">
            <div class="inovices-widget-header">
              <span class="inovices-widget-icon">
                <img src="assets/img/invoices-icon3.svg" alt="" />
              </span>
              <div class="inovices-dash-count">
                <div class="inovices-amount">$2,05,545</div>
              </div>
            </div>
            <p class="inovices-all">Unpaid Sales <span>70</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body p-4">
            <p-table [value]="salesData" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5">
              <ng-template pTemplate="header">
                <tr>
                  <th appShowHide [roles]="['admin', 'super-admin']">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th pSortableColumn="salesInvoiceNumber">Invoice Number <p-sortIcon
                      field="salesInvoiceNumber"></p-sortIcon>
                    <p-columnFilter type="text" field="salesInvoiceNumber" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="salesDate">Sales Date <p-sortIcon field="salesDate"></p-sortIcon>
                    <p-columnFilter type="text" field="salesDate" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="salesCustomer">Customer <p-sortIcon field="salesCustomer"></p-sortIcon>
                    <p-columnFilter type="text" field="salesCustomer" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="salesStatus">Sales Status <p-sortIcon field="salesStatus"></p-sortIcon></th>
                 
                  <th pSortableColumn="salesTotalAmount">Total Amount <p-sortIcon field="salesTotalAmount"></p-sortIcon>
                    <p-columnFilter type="text" field="salesTotalAmount" display="menu"></p-columnFilter>
                  </th>

                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-sales>
                <tr>
                  <td appShowHide [roles]="['admin', 'super-admin']">
                    <p-tableCheckbox [value]="sales"></p-tableCheckbox>
                  </td>
                  <td>{{sales.salesInvoiceNumber}}</td>
                  <td>{{sales.salesDate}}</td>
                  <td>{{sales.salesCustomer}}</td>
                  <td>{{sales.salesStatus}}</td>
                  <td>{{sales.salesTotalAmount}}</td>
                  <td style="display: flex; gap: 5px;" appShowHide [roles]="['admin', 'super-admin']">
                    <p-button [text]="true" data-bs-toggle="modal" data-bs-target="#invoices_preview"
                      icon="fa-solid fa-eye"></p-button>
                    <p-button [text]="true" icon="fa-solid fa-edit" [routerLink]="routes.editSales"></p-button>

                  </td>
                </tr>
              </ng-template>
            </p-table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- -- Preview model -- -->
<div class="modal custom-modal modal-bg  fade invoices-preview" *ngFor="let sales of salesPopupData" id="invoices_preview" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="card invoice-info-card">
              <div class="card-body pb-0">
                <div class="invoice-item invoice-item-one">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="invoice-logo d-flex justify-content-start">
                        <img src="assets/img/logo-dark.png" alt="logo">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="invoice-info">
                        <div class="invoice-head">
                          <h2 class="text-primary">Sales</h2>
                          <p>Invoice Number : {{sales.salesInvoiceNumber}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="card card-table show-entire">
                      <div class="page-table-header mb-2 m-3">
                        <div class="row practice-card" >
                          <div class="col-xl-6 col-lg-6 col-sm-12">
                            <div class="form-group row mb-2">
                              <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Customer:</h5>
                              <div class="col-lg-9 col-md-9 col-xl-9">
                                <p class="col-lg-9 col-form-label">{{sales.salesCustomerName}}</p>
                              </div>
                            </div>
                            <div class="form-group row mb-2">
                              <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Sales Date:</h5>
                              <div class="col-lg-9 col-md-9 col-xl-9">
                                <p class="col-lg-9 col-form-label">{{sales.salesDate}}</p>
                              </div>
                            </div>
                           

                          </div>
                          <div class="col-xl-6 col-lg-6 col-sm-12">
                            <div class="form-group row mb-2">
                              <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Order Taken :</h5>
                              <div class="col-lg-9 col-md-9 col-xl-9">
                                <p class="col-form-label">{{sales.salesOrderTakenBy}}</p>
                              </div>
                            </div>

                            <div class="form-group row mb-2">
                              <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">Order Status:</h5>
                              <div class="col-lg-9 col-md-9 col-xl-9">
                                <p class="col-form-label">{{sales.salesOrderSatus}}</p>
                              </div>
                            </div>


                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <p-table [value]="salesPopupData" [tableStyle]="{'min-width': '60rem'}" [paginator]="true"
                            [rows]="5">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="salesCategory">Category <p-sortIcon field="salesCategory"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="salesName">Name <p-sortIcon field="salesName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="salesQuantity">Quantity <p-sortIcon field="salesQuantity"></p-sortIcon>
                            </th>
                                    <th pSortableColumn="salesUnitPrice">Unit Price<p-sortIcon field="salesUnitPrice"></p-sortIcon>
                                </th>
                                    <th pSortableColumn="salesSubTotal">Sub Total <p-sortIcon field="salesSubTotal"></p-sortIcon>
                                   </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-sales>
                                <tr>
                                    <td>{{sales.salesCategory}}</td>
                                    <td>{{sales.salesName}}</td>
                                    <td>{{sales.salesQuantity}}</td>
                                    <td>{{sales.salesUnitPrice}}</td>
                                    <td>{{sales.salesSubTotal}}</td>
                                </tr>
                            </ng-template>
                        </p-table>


                        <div class="row align-items-center justify-content-center invoice-sign-box">
                          <div class="col-lg-6 col-md-6">
                            <div class="col-lg-8 col-md-8">
                              <div class="invoice-terms">
                                  <h6>Notes:</h6>
                                  <p class="mb-0">Enter customer notes or any other details</p>
                              </div>
                              <div class="invoice-terms mb-0">
                                  <h6>Terms and Conditions:</h6>
                                  <p class="mb-0">Enter customer notes or any other details</p>
                              </div>
                          </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                              <div class="invoice-total-card">
                                  <div class="invoice-total-box">
                                      <div class="invoice-total-inner">
                                          <p>Taxable <span>{{sales.salesOrderTax}} %</span></p>
                                          <p>Shipping Charges <span>₹ {{sales.salesShipping}}</span></p>
                                          <p>Discount <span>₹ {{sales.salesDiscount}}</span></p>
                                          <p>Sub Total <span>₹ {{sales.salesSubTotal}}</span></p>
                                      </div>
                                      <div class="invoice-total-footer">
                                          <h4>Total Amount <span>₹ {{sales.salesTotalAmount}}</span></h4>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -- end preview model --  -->