<p-toast></p-toast>
<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="routes.expenses">Expenses</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Edit Expenses</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body p-3">
            <form [formGroup]="editExpensesGroup" (ngSubmit)="editCustomerForm()">
              <div class="row">
                <div class="d-flex m-b-10" style="justify-content: space-between">
                  <h3>Edit New Expenses</h3>
                  <div class="settings-btns text-end m-b-10">
                    <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
                      [disabled]="!editExpensesGroup.valid">
                      Submit
                    </button>
                    <button class="btn btn-secondary" [routerLink]="['/expenses']">
                      <a class="text-white"></a>Cancel
                    </button>
                  </div>
                </div>

                 <div class="row">

                  <div class="col-12 col-md-4 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="categoryDetails">Expense Category<span class="login-danger">*</span></label>
                      <p-dropdown [options]="ExpensesCategoriesArray" optionLabel="name"
                        placeholder="--Select Expense Category--" formControlName="categoryDetails" [style]="{ width: '100%' }"
                        filterBy="name" [showClear]="true">
                      </p-dropdown>
                      <div *ngIf="
                          editExpensesGroup
                            .get('categoryDetails')
                            ?.hasError('required') &&
                          editExpensesGroup.get('categoryDetails')?.touched
                        " class="login-danger Font_size">
                        Field is required.
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="amount">Amount<span class="login-danger">*</span></label>
                      <input class="form-control" type="number" placeholder="Please Enter Amount"
                        formControlName="amount" />
                      <div *ngIf="
                          editExpensesGroup
                            .get('amount')
                            ?.hasError('required') &&
                          editExpensesGroup.get('amount')?.touched
                        " class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div *ngIf="
                                      (editExpensesGroup
                                      .get('amount')
                                      ?.hasError('min') &&
                                      editExpensesGroup.get('amount')
                                          ?.touched) ||
                                      (editExpensesGroup
                                      .get('amount')
                                      ?.hasError('max') &&
                                      editExpensesGroup.get('amount')?.touched)
                                  ">
                                <span class="login-danger">
                                  input must be between 1 and 100,000.
                                </span>
                              </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 col-xl-4">
                    <div class="form-group local-forms">
                        <label for="date">Date<span
                                class="login-danger">*</span></label>
                        <p-calendar [maxDate]="maxDate"dataType="string" appendTo="body" dateFormat="mm/dd/yy"
                            formControlName="date" placeholder="mm/dd/yyyy"
                            [styleClass]="'col-12'"></p-calendar>
                        <div
                            *ngIf="editExpensesGroup.get('date')?.hasError('required')  && editExpensesGroup.get('date')?.touched">
                            <span class="login-danger">Field is required. </span>
                        </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="notes">Notes</label>
                      <textarea class="form-control" type="text" placeholder="Please Enter Notes"
                        formControlName="notes" rows="1"></textarea>

                      <div *ngIf="
                          editExpensesGroup
                            .get('notes')
                            ?.hasError('pattern') &&
                          editExpensesGroup.get('notes')?.touched
                        ">
                        <span class="login-danger">Input Must be between 3 to 500 characters</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 mt-2">
                    <p-fileUpload mode="basic" chooseLabel="Choose" chooseIcon="fa-solid fa-upload" name="demo[]"
                      accept="image/*" (onUpload)="onUpload($event)" />
                    <!-- url="https://www.primefaces.org/cdn/api/upload.php"  -->
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>