<p-toast></p-toast>
<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="routes.customers">Customers</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Add Customers</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body p-3">
            <form [formGroup]="addcustomerGroup" (ngSubmit)="addcustomerForm()">
              <div class="row">
                <div class="d-flex m-b-10" style="justify-content: space-between">
                  <h3>Add New Customer</h3>
                  <div class="settings-btns text-end m-b-10">
                    <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
                      [disabled]="!addcustomerGroup.valid">
                      Submit
                    </button>
                    <button class="btn btn-secondary" [routerLink]="['/customers']">
                      <a class="text-white"></a>Cancel
                    </button>
                  </div>
                </div>

                <div class="row">
                  <!-- <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="wareHouse">Warehouse <span class="login-danger">*</span></label>
                      <p-multiSelect [style]="{ width: '100%' }" placeholder="--Select Warehouse--"
                        [options]="wareHousedataArray" formControlName="wareHouse" optionLabel="name" optionValue="_id"
                        display="chip" [showClear]="true"></p-multiSelect>
                      <div *ngIf="
                          addcustomerGroup
                            .get('wareHouse')
                            ?.hasError('required') &&
                          addcustomerGroup.get('wareHouse')?.touched
                        " class="login-danger Font_size">
                        Field is required.
                      </div>
                    </div>
                  </div> -->

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="name">Name<span class="login-danger">*</span></label>
                      <input class="form-control" type="text" placeholder="Please Enter Name" formControlName="name" />
                      <div *ngIf="
                          addcustomerGroup.get('name')?.hasError('required') &&
                          addcustomerGroup.get('name')?.touched
                        " class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div *ngIf="
                          addcustomerGroup.get('name')?.hasError('pattern') &&
                          addcustomerGroup.get('name')?.touched
                        " class="login-danger Font_size">
                        Input should be between 3 to 50 characters.
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="phoneNo">Phone Number<span class="login-danger">*</span></label>
                      <input class="form-control" type="number" placeholder="Please Enter Phone Number"
                        formControlName="phoneNo" />
                      <div *ngIf="
                          addcustomerGroup
                            .get('phoneNo')
                            ?.hasError('required') &&
                          addcustomerGroup.get('phoneNo')?.touched
                        " class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div *ngIf="
                          addcustomerGroup
                            .get('phoneNo')
                            ?.hasError('pattern') &&
                          addcustomerGroup.get('phoneNo')?.touched
                        " class="login-danger Font_size">
                        Please Enter 10-Digit number.
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="Email">Email<span class="login-danger">*</span></label>
                      <input class="form-control" type="email" placeholder="Please Enter Email"
                        formControlName="email" />
                      <div *ngIf="
                          addcustomerGroup.get('email')?.hasError('required') &&
                          addcustomerGroup.get('email')?.touched
                        " class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div *ngIf="
                          addcustomerGroup.get('email')?.hasError('pattern') &&
                          addcustomerGroup.get('email')?.touched
                        " class="login-danger Font_size">
                        Please enter valid Email address.
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="status">Status<span class="login-danger">*</span></label>
                      <p-dropdown [options]="statusArray" styleClass="" optionLabel="name"
                        placeholder="--Select Status--" formControlName="status" [style]="{ width: '100%' }"
                        filterBy="name" [showClear]="true">
                      </p-dropdown>
                      <div *ngIf="
                          addcustomerGroup
                            .get('status')
                            ?.hasError('required') &&
                          addcustomerGroup.get('status')?.touched
                        " class="login-danger Font_size">
                        Field is required.
                      </div>
                    </div>
                  </div> -->

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="taxNo">Tax Number<span class="login-danger"></span></label>
                      <input class="form-control" type="text" placeholder="Please Enter Tex Number"
                        formControlName="taxNo" />
                      <!-- <div *ngIf="
                                                      addcustomerGroup.get('taxNo')?.hasError(
                                                        'required'
                                                      ) && addcustomerGroup.get('taxNo')?.touched
                                                    " class="login-danger Font_size">
                        Field is required.
                      </div> -->
                      <div *ngIf="
                          addcustomerGroup
                            .get('taxNo')
                            ?.hasError('pattern') &&
                          addcustomerGroup.get('taxNo')?.touched
                        " class="login-danger Font_size">
                        Input Must be between 3 to 15 characters.
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="openingBalance">Opening Balance<span class="login-danger"></span></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">₹</span>
                        </div>
                        <input class="form-control" type="number" placeholder="0" formControlName="openingBalance" />
                      </div>
                      <div *ngIf="
                                                    addcustomerGroup.get('openingBalance')?.hasError(
                                                      'required'
                                                    ) && addcustomerGroup.get('openingBalance')?.touched
                                                  " class="login-danger Font_size">
                        Field is required.
                      </div>
                      <div *ngIf="
                          addcustomerGroup
                            .get('openingBalance')
                            ?.hasError('min') &&
                          addcustomerGroup.get('openingBalance')?.touched
                        " class="login-danger Font_size">
                        Input should be more than 0.
                      </div>
                    </div>
                  </div> -->

                  <!-- <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="creditPeriod">Credit Period<span class="login-danger"></span></label>
                      <input class="form-control" value="30" type="number" placeholder formControlName="creditPeriod" />
                    </div>
                  </div> -->

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="creditPeriod">Credit Period<span class="login-danger"></span></label>
                      <div class="input-group">
                        <input class="form-control" type="number" placeholder formControlName="creditPeriod" />
                        <div class="input-group-prepend">
                          <span class="input-group-text" style="font-size: 12px">Days</span>
                        </div>
                      </div>
                      <!-- <div *ngIf="
                      addcustomerGroup.get('taxNo')?.hasError(
                        'required'
                      ) && addcustomerGroup.get('taxNo')?.touched
                    " class="login-danger Font_size">
                        Field is required.
                      </div> -->
                      <div *ngIf="
                          addcustomerGroup
                            .get('creditPeriod')
                            ?.hasError('min') &&
                          addcustomerGroup.get('creditPeriod')?.touched
                        " class="login-danger Font_size">
                        Credit Period cannot be less than 0 days.
                      </div>
                      <div *ngIf="
                          addcustomerGroup
                            .get('creditPeriod')
                            ?.hasError('max') &&
                          addcustomerGroup.get('creditPeriod')?.touched
                        " class="login-danger Font_size">
                        Credit Period should be less than 120 days.
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <label for="creditLimit">Credit Limit<span class="login-danger"></span></label>
                      <input class="form-control" type="text" placeholder="$ 0" formControlName="creditLimit" />
                    </div>
                  </div> -->

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="creditLimit">Credit Limit<span class="login-danger"></span></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">₹</span>
                        </div>
                        <input class="form-control" type="number" placeholder="0" formControlName="creditLimit" />
                      </div>
                      <div *ngIf="
                          addcustomerGroup
                            .get('creditLimit')
                            ?.hasError('min') &&
                          addcustomerGroup.get('creditLimit')?.touched
                        " class="login-danger Font_size">
                        Credit amount cannot be less than 0.
                      </div>
                      <div *ngIf="
                          addcustomerGroup
                            .get('creditLimit')
                            ?.hasError('max') &&
                          addcustomerGroup.get('creditLimit')?.touched
                        " class="login-danger Font_size">
                        Credit amount limit exceed.
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="billingAddress">Billing Address</label>
                      <textarea class="form-control" type="text" placeholder="Please Enter Billing Address"
                        formControlName="billingAddress" rows="5"></textarea>

                      <div *ngIf="
                          addcustomerGroup
                            .get('billingAddress')
                            ?.hasError('pattern') &&
                          addcustomerGroup.get('billingAddress')?.touched
                        ">
                        <span class="login-danger">Input Must be between 3 to 500 characters</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-xl-6">
                    <div class="form-group local-forms">
                      <label for="shippingAddress">Shipping Address</label>
                      <textarea class="form-control" type="text" placeholder="Please Enter Shipping Address"
                        formControlName="shippingAddress" rows="5"></textarea>

                      <div *ngIf="
                          addcustomerGroup
                            .get('shippingAddress')
                            ?.hasError('pattern') &&
                          addcustomerGroup.get('shippingAddress')?.touched
                        ">
                        <span class="login-danger">Input Must be between 3 to 500 characters</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>