<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="activity">
                    <div class="activity-box">
                        <ul class="activity-list">
                            <li *ngFor="let activity of info">
                                <div class="activity-user">
                                    <a [routerLink]="['/']" title="Lesley Grauer" data-bs-toggle="tooltip" class="avatar">
                                        <img alt="Lesley Grauer"  [src]="activity.image"     class="img-fluid rounded-circle">
                                    </a>
                                </div>
                                <div class="activity-content timeline-group-blk">
                                    <div class="timeline-group flex-shrink-0">
                                        <h4>{{ activity.date }}</h4>
                                        <span class="time">{{ activity.time }}</span>
                                    </div>
                                    <div class="comman-activitys flex-grow-1">
                                        <h3>{{ activity.name }}<span> {{ activity.det }}</span></h3>
                                        <p>{{ activity.dp }}</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>