<p-toast></p-toast>
<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Product</li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Lot List</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table show-entire">
                    <div class="card-body">
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Lot List</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">
                                                <input type="text" class="form-control" placeholder="Search here"
                                                    [(ngModel)]="searchDataValue"
                                                    (ngModelChange)="searchData(searchDataValue)">
                                                <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                            </div>
                                            <div class="add-group textbtn">
                                                <a appShowHide [roles]="['admin', 'super-admin']"
                                                    [routerLink]="['/lot/add']"
                                                    class="btn btn-primary add-pluss ms-2"><img
                                                        src="assets/img/icons/plus.svg" alt=""> Add New</a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp" appShowHide
                                    [roles]="['admin', 'super-admin']">
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg"
                                            alt=""></a>
                                    <!-- <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg"
                                            alt=""></a> -->
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg"
                                            alt=""></a>
                                    <!-- <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a> -->

                                </div>
                            </div>
                        </div>

                        <div class="card-body p-2">

                            <p-table [value]="lotData" [tableStyle]="{'min-width': '60rem'}" [paginator]="true"
                                [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" [(selection)]="selectedlot"
                                styleClass="p-datatable-striped">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon>
                                            <p-columnFilter type="text" field="date" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="lotName">Lot Name <p-sortIcon field="lotName"></p-sortIcon>
                                            <p-columnFilter type="text" field="lotName" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="lotNo">Lot Number <p-sortIcon field="lotNo"></p-sortIcon>
                                            <p-columnFilter type="text" field="lotNo" display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="lotWeight">Lot Weight<p-sortIcon
                                                field="lotWeight"></p-sortIcon>
                                            <p-columnFilter type="text" field="lotWeight"
                                                display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="pricePerTon">Price / Ton <p-sortIcon
                                                field="pricePerTon"></p-sortIcon>
                                            <p-columnFilter type="text" field="pricePerTon"
                                                display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="blocksCount">Total Blocks <p-sortIcon
                                                field="blocksCount"></p-sortIcon>
                                            <p-columnFilter type="text" field="blocksCount"
                                                display="menu"></p-columnFilter>
                                        </th>
                                        <th pSortableColumn="lotTotalCosting">Total Cost <p-sortIcon
                                                field="lotTotalCosting"></p-sortIcon>
                                            <p-columnFilter type="text" field="lotTotalCosting"
                                                display="menu"></p-columnFilter>
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-lot>
                                    <tr>
                                        <td>{{lot.date}}</td>
                                        <td>{{lot.lotName}}</td>
                                        <td>{{lot.lotNo}}</td>
                                        <td>{{lot.lotWeight}}</td>
                                        <td>₹ {{lot.pricePerTon}}</td>
                                        <td>{{lot.blocksCount}}</td>
                                        <td>{{lot.lotTotalCosting}}</td>
                                        <td appShowHide
                                            [roles]="['admin', 'super-admin']">
                                            <p-button [text]="true" icon="fa-solid fa-eye"
                                                (click)="showLotDetails(lot._id)"></p-button>
                                            <p-button [text]="true" icon="fa-solid fa-edit"
                                                (click)="editPage(lot._id)"></p-button>
                                            <p-button [text]="true" icon="fa-solid fa-trash"
                                                (click)="deleteLot(lot._id)"></p-button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-confirm-dialog [showDialog]="showDialog" (callbackModal)="callBackModal()" (close)="close()"
    [data]="modalData"></app-confirm-dialog>





<!-- --------------- lot Details PopUp --------------- -->

<p-dialog header="Blocks Details" [(visible)]="lotVisible" [modal]="true" [style]="{width: '70vw'}">
    <div class="modal-content">
        <div class="modal-body">
            <div class="card-body p-2">
                <p-table [value]="blockDatabyLotId" styleClass="p-datatable-striped"
                    [tableStyle]="{'min-width': '60rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="blockNo">Block No
                            </th>
                            <th pSortableColumn="height">Height (Inch)
                            </th>
                            <th pSortableColumn="width">Width (Inch)
                            </th>
                            <th pSortableColumn="length">Length (Inch)
                            </th>
                            <th pSortableColumn="totalArea">Total Area (Inch)
                            </th>
                            <th pSortableColumn="weightPerBlock">Weight/Block
                            </th>
                            <th pSortableColumn="rawCosting">Raw Cost
                            </th>
                            <th pSortableColumn="transportationCosting">Transportation Cost
                            </th>
                            <th pSortableColumn="royaltyCosting">Royalty Cost
                            </th>
                            <th pSortableColumn="totalCosting">Total Cost
                            </th>
                            <th pSortableColumn="isProcessed">Processed
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr *ngFor="let lot of data.blockDetails">
                            <td>{{lot.blockNo}}</td>
                            <td>{{lot.height}}</td>
                            <td>{{lot.width}}</td>
                            <td>{{lot.length}}</td>
                            <td>{{lot.totalArea}}</td>
                            <td>{{lot.weightPerBlock}}</td>
                            <td>{{lot.rawCosting}}</td>
                            <td>{{lot.transportationCosting}}</td>
                            <td>{{lot.royaltyCosting}}</td>
                            <td>{{lot.totalCosting}}</td>
                            <td *ngIf="lot.isProcessed"><p-tag severity="success" value="Yes"></p-tag></td>
                            <td *ngIf="!lot.isProcessed"><p-tag severity="error" value="No"></p-tag></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</p-dialog>