<!-- <router-outlet></router-outlet> -->
<p-toast></p-toast>
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Block Processor</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <div class="card card-table show-entire">

                    <div class="page-table-header mb-2">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="doctor-table-blk">
                                    <h3>Block Processor List</h3>
                                    <div class="doctor-search-blk">
                                        <div class="top-nav-search table-search-blk">
                                            <input type="text" class="form-control" placeholder="Search here"
                                                [(ngModel)]="searchDataValue"
                                                (ngModelChange)="searchData(searchDataValue)">
                                            <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                        </div>
                                        <div class="add-group textbtn">
                                            <a appShowHide [roles]="['admin', 'super-admin', 'help-desk']"
                                                [routerLink]="routes.AddBlockProcessor"
                                                class="btn btn-primary add-pluss ms-2">
                                                <img src="assets/img/icons/plus.svg" alt="">Add New</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto text-end float-end ms-auto download-grp" appShowHide
                                [roles]="['admin', 'super-admin', 'help-desk']">
                                <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg"
                                        alt=""></a>
                                <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg"
                                        alt=""></a>

                            </div>
                        </div>
                    </div>

                    <div class="card-body p-2">
                        <p-table [value]="blockProcessorData" styleClass="p-datatable-striped"
                            [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5"
                            [rowsPerPageOptions]="[5, 10, 20]" (change)="onPageChange($event)"
                            [(selection)]="selectedCustomer">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                                        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                                    </th>
                                    <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
                                        <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
                                    </th>
                                    <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="createdOn">Created At <p-sortIcon
                                            field="createdOn"></p-sortIcon></th>
                                    <th width="13%" >Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-product>
                                <tr>
                                    <td class="bold">{{product.name}}</td>
                                    <td class="bold">{{product.email}}</td>
                                    <td *ngIf="!product.isUserLocked"><p-tag severity="success" value="Active"></p-tag>
                                    </td>
                                    <td *ngIf="product.isUserLocked"><p-tag severity="danger" value="Locked"></p-tag>
                                    </td>
                                    <td>{{product.createdOn | date: 'dd-MMM-yyyy'}}</td>
                                    <td appShowHide [roles]="['admin', 'super-admin']">
                                        <div class="action-buttons">
                                            <p-button [text]=" true" icon="fa fa-eye"
                                                (click)="vewBlockProcessor(product._id)"></p-button>
                                            <p-button [text]="true" icon="fa fa-edit"
                                                (click)="editBlockProcessor(product._id)"></p-button>
                                            <p-button [text]=" true" icon="fa fa-trash"
                                                (click)="deleteBlockProcessor(product._id)"></p-button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-confirm-dialog [showDialog]="showDialoge" (callbackModal)="callBackModal()" (close)="close()"
    [data]="modalData"></app-confirm-dialog>