<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['/patient/patients-list']">Patients-list</a>
                        </li>
                        <li class="breadcrumb-item">
                            <i class="feather icon-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item active">Account</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table show-entire">
                    <div class="card-body">                        
                            <p-tabView>
                                <!-- First Tab -->                                
                                    <p-tabPanel header="Account">
                                        <div class="page-table-header mb-2">
                                            <div class="row">
                                                <div class="col-12 d-flex justify-content-end">
                                                    <div>
                                                        <button type="" class="btn btn-primary fs-6 me-2">
                                                            <i class="fa-regular fa-credit-card"></i> Collect
                                                            Payment
                                                        </button>
                                                        <button type="" class="btn btn-primary fs-6">
                                                            <i class="fa-solid fa-print"></i>Print Report
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="page-table-header mb-2 m-3">
                                                    <div class="row practice-card">
                                                        <div class="col-xl-6 col-lg-6 col-sm-12">
                                                            <h4>History</h4>
                                                            <div class="form-group row mb-2" *ngFor="let data of history">
                                                                <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                                                                    {{ data.label }}
                                                                </h5>
                                                                <div class="col-lg-9 col-md-9 col-xl-9">
                                                                    <p class="col-lg-9 col-form-label">
                                                                        {{ data.name }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-xl-6 col-lg-6 col-sm-12">
                                                            <h4>Totals</h4>
                                                            <div class="form-group row mb-2"
                                                                *ngFor="let data of financialInformation">
                                                                <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                                                                    {{ data.label }}
                                                                </h5>
                                                                <div class="col-lg-9 col-md-9 col-xl-9">
                                                                    <p class="col-lg-9 col-form-label">
                                                                        {{ data.amount }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12 col-12 d-flex justify-content-between mt-3">
                                                            <div>
                                                                <h4>Guarantor</h4>
                                                                <p>Patient is financially responsible for self.</p>
                                                            </div>
                                                            <div>
                                                                <button type="submit" (click)="showDialog()"
                                                                    class="btn btn-primary fs-6">
                                                                    Edit
                                                                </button>
                                                            </div>
                                                        </div>

                                                        <p-dialog header="Guarantor Details" [(visible)]="visible"
                                                            [style]="{ width: '50vw' }" [modal]="true">
                                                            <div class="d-flex gap-2 justify-content-between">
                                                                <label for="" class="mt-3">Patient is financially responsible
                                                                    for
                                                                    self</label>
                                                                <p-selectButton [options]="stateOptions" optionLabel="label"
                                                                    optionValue="value" class="mt-1"
                                                                    [(ngModel)]="SelectButton"></p-selectButton>
                                                            </div>
                                                            <div *ngIf="SelectButton === 'on'">
                                                                <form [formGroup]="formGroup" (ngSubmit)="submitFrom()">
                                                                    <div class="row">
                                                                        <h4>Guarantor Information</h4>
                                                                        <div class="col-12 col-md-6 col-xl-4 mt-2">
                                                                            <div class="form-group local-forms">
                                                                                <label for="firstName
                                                                    ">First Name
                                                                                </label>
                                                                                <input class="form-control"
                                                                                    formControlName="firstName" type="text" />
                                                                                <!-- <div
                                                                        *ngIf="formGroup.get('firstName')?.hasError('required') && formGroup.get('firstName')?.touched"
                                                                        class="login-danger">
                                                                        This field is required.
                                                                    </div> -->
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-12 col-md-6 col-xl-4">
                                                                            <div class="form-group local-forms">
                                                                                <label for="lastName
                                                                    ">Last Name
                                                                                </label>
                                                                                <input class="form-control"
                                                                                    formControlName="lastName" type="text" />
                                                                                <!-- <div
                                                                        *ngIf="formGroup.get('lengthofstay')?.hasError('required') && formGroup.get('lengthofstay')?.touched"
                                                                        class="login-danger">
                                                                        This field is required.
                                                                    </div> -->
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-12 col-md-6 col-xl-4">
                                                                            <div class="form-group local-forms">
                                                                                <label for="guarantor
                                                                    ">Patient's relationship to Guarantor
                                                                                </label>
                                                                                <p-dropdown [options]="guarantorArray"
                                                                                    formControlName="guarantor"
                                                                                    [style]="{ width: '100%' }"
                                                                                    [showClear]="true"
                                                                                    placeholder="Choose relationships"></p-dropdown>
                                                                                <!-- <div
                                                                        *ngIf="formGroup.get('lengthofstay')?.hasError('required') && formGroup.get('lengthofstay')?.touched"
                                                                        class="login-danger">
                                                                        This field is required.
                                                                    </div> -->
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-12 col-md-6 col-xl-4">
                                                                            <div class="form-group local-forms">
                                                                                <label for="streetAddress
                                                                    ">Street Address
                                                                                </label>
                                                                                <input class="form-control"
                                                                                    formControlName="streetAddress"
                                                                                    type="text" />
                                                                                <div class="login-danger Font_size" *ngIf="
                                                formGroup
                                                .get('streetAddress')
                                                ?.hasError('pattern') &&
                                                formGroup.get('streetAddress')?.touched
                                            ">
                                                                                    <span class="login-danger">Input must be
                                                                                        between 5 and 50
                                                                                        characters.</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-12 col-md-6 col-xl-4">
                                                                            <div class="form-group local-forms">
                                                                                <label for="apt_Suite
                                                                    ">Apt/Suite
                                                                                </label>
                                                                                <input class="form-control"
                                                                                    formControlName="apt_Suite" type="text" />
                                                                                <!-- <div
                                                                        *ngIf="formGroup.get('lengthofstay')?.hasError('required') && formGroup.get('lengthofstay')?.touched"
                                                                        class="login-danger">
                                                                        This field is required.
                                                                    </div> -->
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-12 col-md-6 col-xl-4">
                                                                            <div class="form-group local-forms">
                                                                                <label for="city
                                                                    ">City
                                                                                </label>
                                                                                <input class="form-control"
                                                                                    formControlName="city" type="text" />
                                                                                <div class="login-danger Font_size" *ngIf="
                                                formGroup
                                                .get('city')
                                                ?.hasError('pattern') &&
                                                formGroup.get('city')?.touched
                                            ">
                                                                                    <span class="login-danger">Input must be
                                                                                        between 5 and 50
                                                                                        characters.</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-12 col-md-6 col-xl-4">
                                                                            <div class="form-group local-forms">
                                                                                <label for="state
                                                                    ">State
                                                                                </label>
                                                                                <p-dropdown [options]="statesArray"
                                                                                    appendTo="body" formControlName="state"
                                                                                    [style]="{ width: '100%' }"
                                                                                    [showClear]="true"
                                                                                    placeholder="Select"></p-dropdown>
                                                                                <!-- <div
                                                                        *ngIf="formGroup.get('lengthofstay')?.hasError('required') && formGroup.get('lengthofstay')?.touched"
                                                                        class="login-danger">
                                                                        This field is required.
                                                                    </div> -->
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-12 col-md-6 col-xl-4">
                                                                            <div class="form-group local-forms">
                                                                                <label for="ZIP
                                                                    ">ZIP
                                                                                </label>
                                                                                <input class="form-control"
                                                                                    formControlName="ZIP" type="text" />
                                                                                <div class="login-danger Font_size" *ngIf="
                                                formGroup
                                                .get('ZIP')
                                                ?.hasError('pattern') &&
                                                formGroup.get('ZIP')?.touched
                                            ">
                                                                                    Enter a valid Pattern
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mt-3">
                                                                        <button type="" class="btn btn-primary fs-6 me-2">
                                                                            Cancel
                                                                        </button>
                                                                        <button type="" class="btn btn-primary fs-6">
                                                                            Submit
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </p-dialog>

                                                        <div class="col-md-6 mt-3">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label for="" class="me-2">Type</label>
                                                                    <p-dropdown [options]="Type" [style]="{ width: '130px' }"
                                                                        [showClear]="true" placeholder="All"
                                                                        [(ngModel)]="dropdownFirst"></p-dropdown>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label for="" class="me-2">Provider</label>
                                                                    <p-dropdown [options]="Provider"
                                                                        [style]="{ width: '130px' }" optionLabel="name"
                                                                        [showClear]="true" placeholder="All"
                                                                        [(ngModel)]="dropdownSecond"></p-dropdown>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <div class="col-12 col-md-6 mt-3">
                                                                    <label for="" class="me-3">Service Date:</label>
                                                                    <p-calendar [(ngModel)]="startDate"
                                                                        [inputStyle]="{ width: '200px' }" dateFormat="dd/mm/yy"
                                                                        placeholder="dd/mm/yyyy"></p-calendar>
                                                                </div>
                                                                <div class="col-12 col-md-6 mt-3">
                                                                    <label for="" class="me-5">to</label>
                                                                    <p-calendar [(ngModel)]="toDate"
                                                                        [inputStyle]="{ width: '200px' }" dateFormat="dd/mm/yy"
                                                                        placeholder="dd/mm/yyyy"></p-calendar>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p-tabPanel>
                                <!-- Second Tab -->
                               
                                    <p-tabPanel header="Insurance">
                                        <div class="page-table-header mb-2">
                                            <div style="
                            height: 55vh;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: #e9efee;
                            ">
                                                <div class="text-center">
                                                    <img src="" alt="alt" style="
                                width: 7%;
                                height: 7%;
                                border: 1px solid black;
                                display: inline-block;
                                " />
                                                    <h3 class="mt-2">Insurance has not been added for this patient</h3>
                                                    <p class="mt-2">
                                                        Make a selection in the top right to add new insurance
                                                        or payment cards.
                                                    </p>
                                                </div>
                                            </div>
                                    </div>
                                    </p-tabPanel>
                                
                                <!-- Thard Tab -->                                
                                    <p-tabPanel header="Payment Cards">
                                        <div class="page-table-header mb-2">
                                            <div style="
                            height: 55vh;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: #e9efee;
                            ">
                                                <div class="text-center">
                                                    <img src="" alt="alt" style="
                                width: 7%;
                                height: 7%;
                                border: 1px solid black;
                                display: inline-block;
                                " />
                                                    <h3 class="text-center mt-2">A payment card has not been added for this
                                                        patient</h3>
                                                    <button class="text-center mt-2 btn btn-primary fs-6">+Add a Card</button>
                                                </div>
                                            </div>
                                        </div>
                                    </p-tabPanel>
                                <!-- four Tab -->
                                    <p-tabPanel header="Rx Eligibility">

                                        <div class="page-table-header mb-2 m-3">
                                            <div class="row practice-card">
                                                <div class="col-xl-6 col-lg-6 col-sm-12">
                                                    <h4>CVSHF BB CDH-N ACVBBNO16C</h4>
                                                    <div class="form-group row mb-2" *ngFor="let data of eligibility">
                                                        <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                                                            {{ data.label }}
                                                        </h5>
                                                        <div class="col-lg-9 col-md-9 col-xl-9">
                                                            <p class="col-lg-9 col-form-label">
                                                                {{ data.name }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="page-table-header mb-2 m-3">
                                            <div class="row practice-card">
                                                <div class="col-xl-6 col-lg-6 col-sm-12">
                                                    <h4>Pharmacy Coverage</h4>
                                                    <div class="form-group row mb-2" *ngFor="let data of Pharmacy">
                                                        <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                                                            {{ data.label }}
                                                        </h5>
                                                        <div class="col-lg-9 col-md-9 col-xl-9">
                                                            <p class="col-lg-9 col-form-label">
                                                                {{ data.name }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="page-table-header mb-2 m-3">
                                            <div class="row practice-card">
                                                <div class="col-xl-6 col-lg-6 col-sm-12">
                                                    <h4>Mismatched Demographic Info</h4>
                                                    <div class="form-group row mb-2" *ngFor="let data of Mismatched">
                                                        <h5 class="col-lg-3 col-md-3 col-xl-3 col-form-label">
                                                            {{ data.label }}
                                                        </h5>
                                                        <div class="col-lg-9 col-md-9 col-xl-9">
                                                            <p class="col-lg-9 col-form-label">
                                                                {{ data.name }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </p-tabPanel>
                                <!-- five Tab -->
                                    <p-tabPanel header="Patient Alerts">                                        
                                        <div class="page-table-header mb-2">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <h4>Alert Message</h4>
                                                    <i>Click "Edit" to add an alert for this patient.</i>
                                                </div>
                                                <div>
                                                    <button class="btn btn-primary fs-6" type="submit">Edit</button>
                                                </div>
                                            </div>
                                            <div>
                                                form
                                            </div>
                                        </div>
                                    </p-tabPanel>
                            </p-tabView>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>