<div class="main-wrapper login-body">
    <div class="container-fluid px-0">
        <div class="row">
            <!-- Login logo -->
            <div class="col-lg-6 login-wrap">
                <div class="login-sec">
                    <div class="log-img">
                        <img class="img-fluid mb-2" width="250px" src="../../../assets/img/icon-4.png" alt="" />
                        <img class="img-fluid p-2" src="../../../assets/img/Asset 2.png" alt="Logo" />
                    </div>
                </div>
            </div>
            <!-- /Login logo -->

            <!-- Login Content -->
            <div class="col-lg-6 login-wrap-bg">
                <div class="login-wrapper">
                    <div class="loginbox">
                        <div class="login-right">
                            <div class="login-right-wrap">
                                <div class="account-logo">
                                    <a [routerLink]="routes.adminDashboard"><img class="img-fluid logo2" width="400px"
                                            src="../../../assets/img/Asset for forgot password.png" alt="Logo" /></a>
                                </div>
                                <h2>Change Password</h2>
                                <!-- Form -->
                                <div>
                                    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                                        <div class="form-group">
                                            <label for="password">Set Your Password
                                                <span class="login-danger">*</span></label>
                                            <input class="form-control" type="password" formControlName="password" />
                                            <div *ngIf="authForm.get('password')?.touched && authForm.get('password')?.invalid"
                                            class="invalid-feedback d-block">
                                            <div *ngIf="authForm.get('password')?.errors?.['required']">
                                                Password is required.
                                            </div>
                                            <div *ngIf="authForm.get('password')?.errors?.['pattern']">
                                                Password must contain upto 8-16 digit and at least one number, one uppercase letter,
                                                one lowercase letter, and one special character.
                                            </div>
                                        </div>
                                        </div>
                                        <div class="form-group login-btn">
                                            <button class="btn btn-primary btn-block" type="submit"
                                                >
                                                Reset Password
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <!-- /Form -->

                                <div class="next-sign">
                                    <p class="account-subtitle">
                                        Need to login? <a [routerLink]="routes.login">Login</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Login Content -->
        </div>
    </div>
</div>
<p-toast></p-toast>