.login-wrap {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
  }
  
  .log-img {
    text-align: center; /* Center text and images within */
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .login-body {
      background-image: none; /* Remove background image */
    }
  
    .login-wrap {
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically if needed */
    }
  
    .login-wrap-bg {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .login-wrapper {
      width: 100%;
      max-width: 600px;
    }
    .log-img {
      display: none; /* Hide the logo images */
    }
  
    .log-img img {
      margin-top: 10px;
      width: 100%;
      max-width: 250px;
    }
  
    .form-group {
      margin-bottom: 10px;
    }
  
    .btn {
      width: 100%;
    }
  }
  
  /* Styles for mobile screens (max-width: 767px) */
  @media (max-width: 767px) {
      
    .login-body {
      flex-direction: column;
      align-items: center;
    }
  
  
    // .account-logo{
    //   display: flex;
    //   flex-direction: row;
    // }
    // .logo2{
    //   width: 280px;
    // }
    //  .logo1{
    //   width: 40px;
    //  }
  
    .login-wrap {
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: flex-start; /* Align items to the start to move the logo up */
      padding: 20px;
    }
  
    .login-sec {
      margin-bottom: 10px;
    }
  
    .login-wrap-bg {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .login-wrapper {
      width: 100%;
      max-width: 400px; /* Adjust as needed for smaller screens */
    }
  
    .log-img {
      display: none; /* Hide the logo images */
    }
  
  
    .form-group {
      margin-bottom: 10px;
    }
  
    .btn {
      width: 100%;
    }
  }
  