<style>
    .commants {
        /* width: 25px;
        height: 12px;
        border-radius: 20px;
        background-color: bisque; */
    }

    .first:hover>.commants {
        display: block;
    }

    .commants {
        display: none;
        cursor: pointer;
        border: none;
    }
</style>
<div>
    <!-- <form class="flex align-items-center gap-1" [formGroup]="formGroup" (ngSubmit)="submitFrom()"> -->

        <div class="card">
            <div class="card-body card-table">
                <div class="row p-2">
                    <div class="d-flex justify-content-between">
                        <h3>Social History</h3>
                        <div class="d-flex gap-2">
                            <button type="submit" class="btn-primary btn mb-3">Save</button>
                            <button type="submit" class="btn-primary btn mb-3" (click)="goBack()">Back</button>
                        </div>
                    </div>
                    <div class=" border border-1 gap-1 p-2 col-12 col-md-3" *ngFor="let FirstForLoop of data">
                        <h5 style="font-weight: bold;">{{ FirstForLoop.title }}</h5>
                        <div *ngFor="let SecondForLoop of FirstForLoop.subCategory" class="first d-flex">
                            <div>
                                <!-- <p-checkbox [value]="SecondForLoop.isSelected" [inputId]="SecondForLoop.title"
                                    class="me-2 mt-2"></p-checkbox> -->
                                    <p-checkbox [binary]="true"
                                    [(ngModel)]="SecondForLoop.isSelected"
                                    (ngModelChange)="onCheckboxChange($event)"
                                    [inputId]="SecondForLoop.title"
                                    class="me-2 mt-2">
                        </p-checkbox>
                                <label [for]="SecondForLoop.title" class="mt-2">{{ SecondForLoop.title }}</label>
                            </div>
                            <div class="mt-2 ms-2 commants" title="Comments" (click)="DialogComments()" tabindex="0">
                                <i class="fa-solid fa-comment"></i>
                                <p-dialog header="Add coustom Item" [(visible)]="AddComments" [modal]="true"
                                    [style]="{width: '30vw'}">
                                    <div class="form-group">
                                        <textarea class="form-control" [(ngModel)]="sideComments" type="text"
                                            rows="1"></textarea>
                                        <button type="button" class="btn-primary btn mt-1"
                                            (click)="AddComments = false">save</button>
                                    </div>
                                </p-dialog>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <button (click)="EditDialog()" class="btn-primary btn mt-3" icon="pi pi-external-link"
                            label="Show">Edit Custom items</button>
                        <button (click)="AddDialog()" class="btn-primary btn ms-2 mt-3" icon="pi pi-external-link"
                            label="Show">Add Custom items</button>
                        <p-dialog header="Manage Custom Item" [(visible)]="EditCustomitems" [draggable]="false"
                            [modal]="true" [style]="{width: '30vw'}">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <button class="btn-primary btn mt-2" (click)="closeDialog()">Cancel</button>
                                    <!-- <button type="submit" class="btn-primary btn ms-3 mt-2"
                                        (click)="saveIT()">save</button> -->
                                </div>
                                <div class="mt-2">
                                    <a href="" class="">Delete Unused Items</a>
                                </div>
                            </div>
                        </p-dialog>

                      

                    

                        <form class="flex align-items-center gap-1" [formGroup]="formGroup" (ngSubmit)="submitFrom()">
                            <p-dialog header="Add coustom Item" [(visible)]="AddCustomitems" [modal]="true"
                            [style]="{width: '30vw'}">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input class="form-control mt-3" formControlName="AddCustomitemsModel" type="text" placeholder="Name" />
                                <button type="submit" class="btn-primary btn mt-2"
                                    (click)="closeDialog()">Cancel</button>
                                    <button type="submit" class="btn-primary btn ms-3 mt-2" 
                                (click)="addcoustomCheckBoxItem()" [disabled]="!formGroup.valid">save</button>
                            </div>
                        </p-dialog>
                            <ng-container formArrayName="coustomCheckBox">
                                <ng-container *ngFor="let coustomCheckBoxForm of coustomCheckBox.controls; let i = index"
                                    [formGroupName]="i">
                                    <div class="row d-flex">
                                        <div class="col-12 col-md-6">
                                            <p-checkbox [binary]="true" formControlName="checkBox"
                                                (ngModelChange)="onCheckboxChange($event)" inputId="ng" class="me-2 mt-2">
                                            </p-checkbox>
                                            <label for="ng" class="mt-2">{{labal}}</label>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    <!-- </form> -->
</div>