<div class="">
  <div class="content">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
            <li class="breadcrumb-item active">Settings</li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Users List</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body">
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Users List</h3>
                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk">
                        <input type="text" class="form-control" placeholder="Search here" [(ngModel)]="searchDataValue"
                          (ngModelChange)="searchData(searchDataValue)">
                        <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                      </div>
                      <div class="add-group textbtn">
                        <a appShowHide [roles]="['admin', 'super-admin']" [routerLink]="['/settings/users/add-users']"
                          class="btn btn-primary add-pluss ms-2"><img src="assets/img/icons/plus.svg" alt="">Add New</a>
                        <!-- <a href="javascript:;" (click)="getuserList()" class="btn btn-primary doctor-refresh ms-2"><img
                            src="assets/img/icons/re-fresh.svg" alt=""></a> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto text-end float-end ms-auto download-grp" appShowHide [roles]="['admin', 'super-admin']">
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg" alt=""></a>
                  <!-- <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg" alt=""></a> -->
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg" alt=""></a>
                  <!-- <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a> -->

                </div>
              </div>
            </div>
            <div class="card-body p-2">
            <p-table [value]="dataSource" [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="5"
              [rowsPerPageOptions]="[5, 10, 20]"  (onPage)="onPageChange($event)" [(selection)]="selectedProducts">
              <ng-template pTemplate="header">
                <tr>
                  <th appShowHide [roles]="['admin', 'super-admin']">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
                    <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon>
                    <p-columnFilter type="text" field="status" display="menu"></p-columnFilter>
                  </th>
                  <th pSortableColumn="role">Role <p-sortIcon field="role"></p-sortIcon></th>
                  <th>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td appShowHide [roles]="['admin', 'super-admin']">
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                  </td>
                  <td class="bold">{{product.name}}</td>
                  <td>{{product.email}}</td>
                  <td *ngIf="!product.isUserLocked"><p-tag severity="success" value="Active"></p-tag></td>
                  <td *ngIf="product.isUserLocked"><p-tag severity="danger" value="Locked"></p-tag></td>
                  <td><span class="text-uppercase">{{product.role.join(', ')}}</span></td>

                  <td style="display: flex;" appShowHide [roles]="['admin', 'super-admin']">
                    <!-- <p-button (click)="goToEditPage(product._id)" (keydown.enter)="goToEditPage(product._id)"
                      tabindex="0">Edit</p-button> -->
                    <p-button [text]="true" (keydown.enter)="goToEditPage(product._id)"
                      tabindex="0" (click)="goToEditPage(product._id)">Edit</p-button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>