<div class="">
  <div class="content">
    <!-- <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
            <li class="breadcrumb-item active">Settings</li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Users</li>
          </ul>
        </div>
      </div>
    </div> -->

    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body">
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Users List</h3>
                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk">
                        <input type="text" class="form-control" placeholder="Search here" [(ngModel)]="searchDataValue">
                        <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                      </div>
                      <div class="add-group textbtn">
                        <a appShowHide [roles]="['super-admin']" [routerLink]="['/settings/users/add-users']"
                          class="btn btn-primary add-pluss ms-2"><img src="assets/img/icons/plus.svg" alt="">Add New</a>
                        <!-- <a href="javascript:;" (click)="getuserList()" class="btn btn-primary doctor-refresh ms-2"><img
                            src="assets/img/icons/re-fresh.svg" alt=""></a> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto text-end float-end ms-auto download-grp" appShowHide
                  [roles]="['admin', 'super-admin']">
                  <!-- <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg"
                      pTooltip="Download data in PDF file" tooltipPosition="left" tooltipStyleClass="tooltip"
                      alt=""></a> -->
                  <!-- <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg" alt=""></a> -->
                  <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg" (click)="dt.exportCSV()"
                      pTooltip="Download data in CSV file " tooltipPosition="left" tooltipStyleClass="tooltip"
                      alt=""></a>
                  <!-- <a href="javascript:;"><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a> -->

                </div>
              </div>
            </div>
            <div class="card-body p-2">
              <p-table [value]="dataSource | filter:searchDataValue:['name', 'email',]" styleClass="p-datatable-striped"
                [tableStyle]="{'min-width': '60rem'}" [paginator]="true" [rows]="10" selectionMode="multiple"
                [rowsPerPageOptions]="[5, 10, 20]" (onPage)="onPageChange($event)" [(selection)]="selectedProducts" #dt [columns]="cols" 
                [exportHeader]="'customExportHeader'" exportFilename="User">
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="name"
                        display="menu"></p-columnFilter>
                    </th>
                    <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="email"
                        display="menu"></p-columnFilter>
                    </th>
                    <th pSortableColumn="phoneNumber">Phone <p-sortIcon field="phoneNumber"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="phoneNumber"
                        display="menu"></p-columnFilter>
                    </th>
                    <th pSortableColumn="address">Billing Address <p-sortIcon field="address"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="address"
                        display="menu"></p-columnFilter>
                    </th>
                    <th pSortableColumn="createdOn">Created On <p-sortIcon field="createdOn"></p-sortIcon>
                      <p-columnFilter matchMode="contains" hideOnClear="true" type="text" field="createdOn"
                        display="menu"></p-columnFilter>
                    </th>
                    <!-- <th pSortableColumn="role">Role <p-sortIcon field="role"></p-sortIcon></th> -->
                    <th width="10%">Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                  <tr>
                    <td class="bold">{{product.name}}</td>
                    <td>{{product.email}}</td>
                    <td>{{product.phoneNumber}}</td>
                    <td>{{product.address}}</td>
                    <td>{{product.createdOn | date:'dd-MMM-YYYY'}}</td>
                    <!-- <td *ngIf="!product.isUserLocked"><p-tag severity="success" value="Active"></p-tag></td>
                    <td *ngIf="product.isUserLocked"><p-tag severity="danger" value="Locked"></p-tag></td> -->
                    <!-- <td><span class="text-uppercase">{{product.role.join(', ')}}</span></td> -->

                    <td class="action-buttions" appShowHide [roles]="['admin', 'super-admin']">
                      <!-- <p-button (click)="goToEditPage(product._id)" (keydown.enter)="goToEditPage(product._id)"
                      tabindex="0">Edit</p-button> -->
                      <p-button [text]="true" (keydown.enter)="goToEditPage(product._id)" icon="fa fa-edit" tabindex="0"
                        pTooltip="Edit" tooltipPosition="bottom" tooltipStyleClass="tooltip"
                        (click)="goToEditPage(product._id)"></p-button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="9" class="text-center">No such user found</td>
                  </tr>
                </ng-template>
                <!-- No such user found -->
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>