<mat-dialog-content class="mat-typography mat-lg" style="width: 100%;">

  <div class="m-b-20">
    <h3>Add Taxes</h3>
  </div>

  <div class="modal-body">
    <form [formGroup]="addTaxesForm" (ngSubmit)="addTaxesFormSubmit()">
      <div class="row">

        <div class="col-md-6">
          <div class="form-group local-forms">
            <label for="name">Tax Name <span class="login-danger">*</span></label>
            <input class="form-control" type="text" placeholder="" formControlName="name">

            <div *ngIf="addTaxesForm.get('name')?.hasError('required') && addTaxesForm.get('name')?.touched">
              <span class="login-danger">Field is required.</span>
            </div>
            <div *ngIf="addTaxesForm.get('name')?.hasError('pattern') && addTaxesForm.get('name')?.touched">
              <span class="login-danger">Input must be between 3 to 30 characters.</span>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-6">
          <div class="form-group local-forms">
            <label for="name">Tax Type <span class="login-danger">*</span></label>
            <p-dropdown [options]="taxesTypes" styleClass="" appendTo="body" optionLabel="value" optionValue="value"
              placeholder="Select  Type" formControlName="taxType" [style]="{'width':'100%'}" [showClear]="true">
            </p-dropdown>

            <div *ngIf="addTaxesForm.get('taxType')?.hasError('required') && addTaxesForm.get('taxType')?.touched">
              <span class="login-danger">Tax Type is reqiured</span>
            </div>
          </div>
        </div> -->

        <div class="col-md-6">
          <div class="form-group local-forms">
            <label for="taxRate">Tax Rate <span class="login-danger">*</span></label>
            <input class="form-control" type="number" placeholder="" formControlName="taxRate">

            <div *ngIf="addTaxesForm.get('taxRate')?.hasError('required') && addTaxesForm.get('taxRate')?.touched">
              <span class="login-danger">Field is required.</span>
            </div>
            <div *ngIf="addTaxesForm.get('taxRate')?.hasError('min') && addTaxesForm.get('taxRate')?.touched">
              <span class="login-danger">Input must be min 0 and max 2 digit number.</span>
            </div>
          </div>
        </div>



        <div class=" col-12">

          <div class=" settings-btns text-end m-b-10">
            <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
              [disabled]="!addTaxesForm.valid">Submit</button>
            <button class="btn btn-secondary" [mat-dialog-close]="true">Cancel</button>
          </div>

        </div>

      </div>
    </form>
  </div>
</mat-dialog-content>