<p-toast></p-toast>
<div class="page-wrapper">
    <div class="content">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Payment Out </li>
                        <li class="breadcrumb-item">
                            <i class="feather icon-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item active">Payment Out Add</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="page-table-header mb-2">
                            <form [formGroup]="addPaymentInForm" (ngSubmit)="addPaymentOutFormSubmit()">
                                <div class="row">

                                    <div class="d-flex m-b-10" style="justify-content: space-between">
                                        <h3>Add Payment</h3>
                                        <div class="settings-btns text-end m-b-10">
                                            <button type="submit"
                                                class="border-0 btn btn-primary btn-gradient-primary m-r-10"
                                                [disabled]="!addPaymentInForm.valid">
                                                Submit
                                            </button>
                                            <button class="btn btn-secondary" [routerLink]="routes.paymentIn">
                                                Cancel
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group local-forms">
                                            <label for="name">Suppliers <span class="login-danger">*</span></label>
                                            <p-dropdown [style]="{'width':'100%'}" placeholder="--suppliers--"
                                                [options]="SuppliersList" optionLabel="name" optionValue="_id"
                                                display="chip" [filter]="true" filterBy="name"
                                                formControlName="supplier" [showClear]="true"
                                                (onChange)="onSuppliersSelect($event.value._id)"></p-dropdown>
                                            <div
                                                *ngIf="addPaymentInForm.get('supplier')?.hasError('required')  && addPaymentInForm.get('supplier')?.touched">
                                                <span class="login-danger">Field is required. </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group local-forms">
                                            <label for="name">Payment Date <span class="login-danger">*</span></label>
                                            <p-calendar [maxDate]="maxDate"dataType="string" appendTo="body" dateFormat="mm/dd/yy"
                                                formControlName="paymentDate" placeholder="mm/dd/yyyy"
                                                [styleClass]="'col-12'"></p-calendar>
                                            <div
                                                *ngIf="addPaymentInForm.get('paymentDate')?.hasError('required')  && addPaymentInForm.get('paymentDate')?.touched">
                                                <span class="login-danger">Field is required. </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="form-group local-forms">
                                            <label for="paymentMode">Payment Mode <span
                                                    class="login-danger">*</span></label>
                                            <p-dropdown [style]="{'width':'100%'}" placeholder="--Payment Mode--"
                                                [options]="paymentModeList" formControlName="paymentMode"
                                                optionLabel="paymentMode" optionValue="paymentMode" display="chip"
                                                [filter]="true" filterBy="paymentMode" [showClear]="true"></p-dropdown>
                                            <div
                                                *ngIf="addPaymentInForm.get('paymentMode')?.hasError('required')  && addPaymentInForm.get('paymentMode')?.touched">
                                                <span class="login-danger">Field is required. </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="form-group local-forms">
                                            <label for="amount">Notes </label>
                                            <textarea class="form-control" type="text" placeholder=""
                                                formControlName="note"></textarea>
                                            <div
                                                *ngIf="addPaymentInForm.get('note')?.hasError('pattern')  && addPaymentInForm.get('note')?.touched">
                                                <span class="login-danger">Input must be between 2 to 100
                                                    characters.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="invoice-add-table">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-nowrap mb-0 no-footer add-table-items">
                                            <thead>
                                                <tr>
                                                    <th>Invoice Number</th>
                                                    <th>Date</th>
                                                    <th>Invoice Amount</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="purchase">
                                                <tr *ngFor="let purchase of purchaseDataById; let i = index"
                                                    [formGroupName]="i">
                                                    <td>
                                                        <span class="bold">{{ purchase.purchaseInvoiceNumber }}</span>
                                                    </td>
                                                    <td>
                                                        <span class="bold">{{ purchase.purchaseDate }}</span>
                                                    </td>
                                                    <td>
                                                        <label>{{ purchase.purchaseTotalAmount }}</label>
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">₹</span>
                                                            </div>
                                                            <input type="number" formControlName="amount"
                                                                class="form-control">
                                                            <div
                                                                *ngIf="addPaymentInForm.get('purchase').get(i + '.amount').hasError('required') && addPaymentInForm.get('purchase').get(i + '.amount').touched">
                                                                <span class="login-danger">Field is required.</span>
                                                            </div>
                                                            <div
                                                                *ngIf="addPaymentInForm.get('purchase').get(i + '.amount').hasError('min') && addPaymentInForm.get('purchase').get(i + '.amount').touched">
                                                                <span class="login-danger">Input must be more than
                                                                    0.</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>

                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>