<mat-dialog-content class="mat-typography mat-lg" style="width: 800px;">

  <div class="m-b-20">
    <h3>Add Visit Reason</h3>
  </div>

  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="VisitReasonFormSubmit()">
      <div class="row">

        <div class="col-12 col-md-4 ">
          <div class="form-group local-forms">
            <label for="name">Name <span class="login-danger">*</span></label>
            <input class="form-control" type="text" placeholder="" formControlName="visitReasonName">

            <div *ngIf="form.get('visitReasonName')?.hasError('required') && form.get('visitReasonName')?.touched">
              <span class="login-danger">Name is reqiured</span>
            </div>
            <div *ngIf="form.get('visitReasonName')?.hasError('pattern') && form.get('visitReasonName')?.touched">
              <span class="login-danger">Input must be between 5 and 50 characters.</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 ">
          <div class="form-group local-forms">
            <label for="duration">Duration(mins)<span class="login-danger">*</span></label>
            <input class="form-control" type="number" placeholder="" formControlName="visitReasonDuration">

            <div
              *ngIf="form.get('visitReasonDuration')?.hasError('required') && form.get('visitReasonDuration')?.touched">
              <span class="login-danger">Duration is reqiured</span>
            </div>
            <div
              *ngIf="form.get('visitReasonDuration')?.hasError('min') || form.get('visitReasonDuration')?.hasError('max') && form.get('visitReasonDuration')?.touched">
              <span class="login-danger">Duration can be upto 30 mins</span>
            </div>


          </div>
        </div>

        <div class="col-12 col-md-4 ">
          <div class="form-group local-forms">
            <label for="city">Color in Calendar <span class="login-danger">*</span></label>

            <p-dropdown [options]="colors" styleClass="" appendTo="body"
                      optionLabel="value" optionValue="value" placeholder="Select  Colors"
                      formControlName="visitReasonColorInCalender" [style]="{'width':'100%'}" [filter]="true" filterBy="value" [showClear]="true">
                    </p-dropdown>

            <div
              *ngIf="form.get('visitReasonColorInCalender')?.hasError('required') && form.get('visitReasonColorInCalender')?.touched">
              <span class="login-danger">Color is reqiured</span>
            </div>

          </div>
        </div>

        <div class="col-12 ">
          <div class="form-group local-forms">
            <label for="address2">Service Procedure Code <span class="login-danger">*</span></label>
            <div class="p-fluid">
              <p-chips [(ngModel)]="codes" formControlName="visitReasonServices"></p-chips>

              <div
                *ngIf="form.get('visitReasonServices')?.hasError('required') && form.get('visitReasonServices')?.touched">
                <span class="login-danger">Code is reqiured</span>
              </div>
              <div
                *ngIf="form.get('visitReasonServices')?.hasError('pattern') && form.get('visitReasonServices')?.touched">
                <span class="login-danger">Code cann't be exceed upto 500 characters.</span>
              </div>

            </div>


          </div>
        </div>

        <div class=" col-12">

          <div class=" settings-btns text-end m-b-10">
            <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
              [disabled]="!form.valid">Submit</button>
            <button class="btn btn-secondary" [mat-dialog-close]="true">Cancel</button>
          </div>


        </div>

      </div>
    </form>
  </div>
</mat-dialog-content>