<div class="row p-2">
    <div class="col-xl-2 col-md-3 col-lg-4 d-flex">
        <div class="card chat-box">
            <div class="chat-widgets">
                <div class="email-menu-blk">
                    <ul class="nav nav-tabs menu-tabs">
                        <li style="cursor: pointer;" class="nav-item col-12 {{isRouteActive('vitals')}}">
                            <a class="nav-link col-12" tabindex="0"  (click)="vitalsSettings()">Vitals</a>
                        <li style="cursor: pointer;" class="nav-item col-12 {{isRouteActive('demographic')}}">
                            <a class="nav-link col-12"  (click)="demographic()">Demographic</a>
                        </li>
                        <li style="cursor: pointer;" class="nav-item col-12 {{isRouteActive('history')}}">
                            <a class="nav-link col-12"  (click)="history()">History</a>
                        </li>
                        <li style="cursor: pointer;" class="nav-item col-12 {{isRouteActive('problems')}}">
                            <a class="nav-link col-12" (click)="problems()">Problems</a>
                        </li>
                        <li style="cursor: pointer;" class="nav-item col-12 {{isRouteActive('allergies')}}">
                            <a class="nav-link col-12" (click)="allergies()">Allergies</a>
                        </li>
                        <li style="cursor: pointer;" class="nav-item col-12 {{isRouteActive('documents')}}">
                            <a class="nav-link col-12" (click)="documents()">Documents</a>
                        </li>
                        <li style="cursor: pointer;" class="nav-item col-12 {{isRouteActive('carechecklists')}}">
                            <a class="nav-link col-12" (click)="careCheckLists()">Care Checklist</a>
                        </li>
                        <li style="cursor: pointer;" class="nav-item col-12 {{isRouteActive('flowsheets')}}">
                            <a class="nav-link col-12" (click)="flowsheets()">Flowsheets</a>
                        </li>
                        <li style="cursor: pointer;" class="nav-item col-12 {{isRouteActive('immunizations')}}">
                            <a class="nav-link col-12" (click)="immunizations()">Immunizations</a>
                        </li>
                        <li style="cursor: pointer;" class="nav-item col-12 {{isRouteActive('account')}}">
                            <a class="nav-link col-12" (click)="account()">Account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-10 col-lg-8 col-md-9">
        <div class="row">
            <div class="col-xl-12">
                <div class="">
                    <div class="">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>