<p-toast></p-toast>
<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/slabs']">Slabs List</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Add Slab</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="page-table-header mb-2">
              <form [formGroup]="slabsAddForm" (ngSubmit)="SlabsAddFormSubmit()">
                <div class="row">
                  <div class="m-b-10 d-flex justify-content-between">
                    <h3>Add Slab</h3>
                    <button class="btn-primary btn" (click)="navigateToCreateBlockProcessor()" *ngIf="slabsAddForm && slabsAddForm.get('stockType')?.value !== 'OpeningStock'">
                      Add Block Processor
                    </button>
                    
                  </div>
                  
                  <div class="col-12 col-md-4 col-xl-4 col-sm-12">
                    <div class="form-group local-forms">
                      <label for="stockType">Stock Type<span class="login-danger">*</span></label>
                      <p-dropdown 
                        [options]="slabTypeOptions" 
                        styleClass="" 
                        appendTo="body"
                        optionLabel="label" 
                        optionValue="value" 
                        placeholder="Select Slab Type"
                        formControlName="stockType" 
                        [style]="{ width: '100%' }" 
                        [filter]="true" 
                        filterBy="label"
                        [showClear]="true" 
                        (onChange)="onSlabTypeSelect($event.value)">
                      </p-dropdown>
                      <div *ngIf="
                          slabsAddForm
                            .get('stockType')
                            ?.hasError('required') &&
                          slabsAddForm.get('stockType')?.touched
                        ">
                        <span class="login-danger">Field is required.</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 col-xl-4 col-sm-12">
                    <div class="form-group local-forms">
                      <label for="slabNo">Slab Number <span class="login-danger">*</span></label>
                      <input class="form-control" type="text" placeholder="Enter Slab Number"
                        formControlName="slabNo" />
                      <div *ngIf="
                          slabsAddForm.get('slabNo')?.hasError('required') &&
                          slabsAddForm.get('slabNo')?.touched
                        ">
                        <span class="login-danger">Field is required.</span>
                      </div>
                      <div *ngIf="
                          slabsAddForm.get('slabNo')?.hasError('pattern') &&
                          slabsAddForm.get('slabNo')?.touched
                        ">
                        <span class="login-danger">Input must be between 3 and 15 characters, without using the
                          backspace</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 col-xl-4 col-sm-12">
                    <div class="form-group local-forms">
                      <label for="slabName">Slab Name<span class="login-danger">*</span></label>
                      <input class="form-control" type="text" placeholder="Enter Slab Name"
                        formControlName="slabName" />
                      <div *ngIf="
                          slabsAddForm.get('slabName')?.hasError('required') &&
                          slabsAddForm.get('slabName')?.touched
                        ">
                        <span class="login-danger">Field is required.</span>
                      </div>
                      <div *ngIf="
                          slabsAddForm.get('slabName')?.hasError('pattern') &&
                          slabsAddForm.get('slabName')?.touched
                        ">
                        <span class="login-danger">Input must be between 3 and 15 characters, without using the
                          backspace</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 col-xl-4 col-sm-12">
                    <div class="form-group local-forms">
                      <label for="date">Date<span class="login-danger">*</span></label>
                      <p-calendar [maxDate]="maxDate" dataType="string" appendTo="body" dateFormat="mm/dd/yy"
                        formControlName="date" placeholder="mm/dd/yyyy" [styleClass]="'col-12'"></p-calendar>
                      <div *ngIf="
                          slabsAddForm.get('date')?.hasError('required') &&
                          slabsAddForm.get('date')?.touched
                        ">
                        <span class="login-danger">Field is required. </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 col-xl-4 col-sm-12">
                    <div class="form-group local-forms">
                      <label for="warehouseDetails">Warehouse<span class="login-danger">*</span></label>
                      <p-dropdown [options]="wareHousedataListsEditArray" styleClass="" appendTo="body"
                        optionLabel="name" optionValue="_id" placeholder="Select Warehouse"
                        formControlName="warehouseDetails" [style]="{ width: '100%' }" [filter]="true" filterBy="name"
                        [showClear]="true" (onChange)="onWarehouseSelect($event.value)">
                      </p-dropdown>
                      <div *ngIf="
                          slabsAddForm
                            .get('warehouseDetails')
                            ?.hasError('required') &&
                          slabsAddForm.get('warehouseDetails')?.touched
                        ">
                        <span class="login-danger">Field is required.</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 col-xl-4 col-sm-12" *ngIf="slabsAddForm && slabsAddForm.get('stockType')?.value !== 'OpeningStock'">
                    <div class="form-group local-forms">
                      <label for="lotDetails">Lot No. <span class="login-danger">*</span></label>
                      <p-dropdown [options]="fromWareHouseLotValue" styleClass="" appendTo="body" optionLabel="lotName"
                        optionValue="_id" placeholder="Select Lot" formControlName="lotDetails"
                        [style]="{ width: '100%' }" [filter]="true" filterBy="lotName" [showClear]="true"
                        (onChange)="onLotSelect($event.value)">
                      </p-dropdown>
                      <div *ngIf="
                          slabsAddForm
                            .get('lotDetails')
                            ?.hasError('required') &&
                          slabsAddForm.get('lotDetails')?.touched
                        ">
                        <span class="login-danger">Field is required.</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 col-xl-4 col-sm-12" *ngIf="slabsAddForm && slabsAddForm.get('stockType')?.value !== 'OpeningStock'">
                    <div class="form-group local-forms">
                      <label for="blockDetails">Block Number<span class="login-danger">*</span></label>
                      <p-dropdown [options]="blockDropDownData" styleClass="" appendTo="body" optionLabel="blockNo"
                        (onChange)="onBlockSelect($event.value)" placeholder="Select Block"
                        formControlName="blockDetails" [style]="{ width: '100%' }" [filter]="true" filterBy="name"
                        [showClear]="true" (change)="calculateTotalAmount()">
                        <!-- (change)="calculateTotalAmount()" -->
                      </p-dropdown>
                      <div *ngIf="
                          slabsAddForm
                            .get('blockDetails')
                            ?.hasError('required') &&
                          slabsAddForm.get('blockDetails')?.touched
                        ">
                        <span class="login-danger">Field is required.</span>
                      </div>
                    </div>
                  </div>


                  <div class="col-12 col-md-4 col-xl-4 col-sm-12" *ngIf="slabsAddForm && slabsAddForm.get('stockType')?.value !== 'OpeningStock'">
                    <div class="form-group local-forms">
                      <label for="blockProcessor">Processor<span class="login-danger">*</span></label>

                      <!-- This dropdown will only show if no blockProcessor exists -->
                      <p-dropdown [options]="blockProcessorArray" appendTo="body" optionLabel="name" optionValue="_id"
                        placeholder="Select Processor" formControlName="blockProcessor" [style]="{ width: '100%' }"
                        [filter]="true" filterBy="name" [showClear]="false">
                      </p-dropdown>

                      <div
                        *ngIf="slabsAddForm.get('blockProcessor')?.hasError('required') && slabsAddForm.get('blockProcessor')?.touched">
                        <span class="login-danger">Field is required.</span>
                      </div>
                    </div>
                  </div>


                  <div class="col-12 col-md-4 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="category">Category <span class="login-danger">*</span></label>
                      <p-dropdown [options]="CategoryListsEditArray" styleClass="" appendTo="body" optionLabel="name"
                        optionValue="_id" placeholder="Select Category" formControlName="categoryDetail"
                        [style]="{ width: '100%' }" [filter]="true" filterBy="name" [showClear]="false"
                        (onChange)="findSubCategory($event.value)">
                      </p-dropdown>
                      <div *ngIf="
                          slabsAddForm
                            .get('categoryDetail')
                            ?.hasError('required') &&
                          slabsAddForm.get('categoryDetail')?.touched
                        ">
                        <span class="login-danger">Field is required.</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 col-xl-4">
                    <div class="form-group local-forms">
                      <label for="subCategory">Sub Category <span class="login-danger">*</span></label>
                      <p-dropdown 
                      [options]="SubCategoryFilterArray" 
                      optionValue="_id"
                      placeholder="Select Sub Category" 
                      optionLabel="name" 
                      formControlName="subCategoryDetail" 
                     
                      [style]="{ width: '100%' }" 
                      [filter]="true" 
                      filterBy="name" 
                      [showClear]="false">
                    </p-dropdown>
                    
                      <div *ngIf="
                          slabsAddForm
                            .get('subCategoryDetail')
                            ?.hasError('required') &&
                          slabsAddForm.get('subCategoryDetail')?.touched
                        ">
                        <span class="login-danger">Field is required.</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 col-xl-4 col-sm-12">
                    <div class="form-group local-forms">
                      <label for="width">Width<span class="login-danger"></span></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" style="font-size: 12px">Inch</span>
                        </div>

                        <input type="text" class="form-control" placeholder="Enter Width" formControlName="width" />
                      </div>

                      <div *ngIf="
                          (slabsAddForm.get('width')?.hasError('min') &&
                            slabsAddForm.get('width')?.touched) ||
                          (slabsAddForm.get('width')?.hasError('max') &&
                            slabsAddForm.get('width')?.touched)
                        ">
                        <span class="login-danger">
                          input must be between 1 and 100,000.
                        </span>
                      </div>
                    </div>
                  </div>


                  <div class="col-12 col-md-4 col-xl-4 col-sm-12">
                    <div class="form-group local-forms">
                      <label for="length">Length<span class="login-danger"></span></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" style="font-size: 12px">Inch</span>
                        </div>
                        <input class="form-control" type="number" placeholder="Enter Length" formControlName="length" />
                      </div>

                      <div *ngIf="
                          (slabsAddForm.get('length')?.hasError('min') &&
                            slabsAddForm.get('length')?.touched) ||
                          (slabsAddForm.get('length')?.hasError('max') &&
                            slabsAddForm.get('length')?.touched)
                        ">
                        <span class="login-danger">
                          input must be between 1 and 100,000.
                        </span>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-12 col-md-4 col-xl-4 col-sm-12">
                    <div class="form-group local-forms">
                      <label for="height">Height<span class="login-danger"></span></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" style="font-size: 12px">Inch</span>
                        </div>
                        <input class="form-control" type="number" placeholder="Enter Height" formControlName="height" />
                      </div>

                      <div *ngIf="
                          (slabsAddForm.get('height')?.hasError('min') &&
                            slabsAddForm.get('height')?.touched) ||
                          (slabsAddForm.get('height')?.hasError('max') &&
                            slabsAddForm.get('height')?.touched)
                        ">
                        <span class="login-danger">
                          Height must be between 1 and 500.
                        </span>
                      </div>
                    </div>
                  </div> -->

                  <div class="col-12 col-md-4 col-xl-4 col-sm-12">
                    <div class="form-group local-forms">
                      <label for="thickness">Thickness(MM)<span class="login-danger"></span></label>
                      <input class="form-control" type="number" placeholder="Enter Thickness"
                        formControlName="thickness" />

                      <div *ngIf="
                          (slabsAddForm.get('thickness')?.hasError('min') &&
                            slabsAddForm.get('thickness')?.touched) ||
                          (slabsAddForm.get('thickness')?.hasError('max') &&
                            slabsAddForm.get('thickness')?.touched)
                        ">
                        <span class="login-danger">
                          input must be between 1 and 100,000.
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 col-xl-4 col-sm-12">
                    <div class="form-group local-forms">
                      <label for="subCategory">Finishes<span class="login-danger">*</span></label>
                      <p-dropdown [options]="finishes" styleClass="" appendTo="body" placeholder="Select Finishes"
                        optionLabel="name" formControlName="finishes" [style]="{ width: '100%' }" [filter]="true"
                        filterBy="name" [showClear]="true">
                      </p-dropdown>
                      <div *ngIf="
                          slabsAddForm.get('finishes')?.hasError('required') &&
                          slabsAddForm.get('finishes')?.touched
                        ">
                        <span class="login-danger">Field is required.</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-7 col-md-6">
                    <div class="invoice-fields">
                      <h4 class="field-title">Notes</h4>
                    </div>
                    <div class="invoice-faq">
                      <div class="input-group">
                        <textarea class="form-control" type="number" placeholder="Enter Notes" formControlName="notes"
                          rows="8"></textarea>
                      </div>
                      <div *ngIf="
                          slabsAddForm.get('notes')?.hasError('pattern') &&
                          slabsAddForm.get('notes')?.touched
                        ">
                        <span class="login-danger">Input must be between 3 and 500 characters.</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-md-6">
                    <div class="invoice-total-card">
                      <h4 class="invoice-total-title">Summary</h4>
                      <div class="invoice-total-box">
                        <div class="row p-3">
                          <div class="col-12 mt-3">
                            <div class="form-group local-forms">
                              <label for="purchaseCost">Purchase Cost<span class="login-danger">*</span></label>
                              <div class="input-group">
                                <!-- <div class="input-group-prepend">
                                  <span class="input-group-text" style="font-size: 12px;">sq</span>
                                </div> -->
                                <input class="form-control" type="number" placeholder="Enter Purchase Cost."
                                  formControlName="purchaseCost" (change)="calculateTotalAmount()" />
                              </div>
                              <div *ngIf="
                                  (slabsAddForm
                                    .get('purchaseCost')
                                    ?.hasError('min') &&
                                  slabsAddForm.get('purchaseCost')?.touched) ||
                                  slabsAddForm
                                    .get('purchaseCost')
                                    ?.hasError('max') &&
                                  slabsAddForm.get('purchaseCost')?.touched
                                ">
                                <span class="login-danger">Input must be between 1 to 10,000,000.
                                </span>
                              </div>
                              <div *ngIf="
                                  slabsAddForm
                                    .get('purchaseCost')
                                    ?.hasError('required') &&
                                  slabsAddForm.get('purchaseCost')?.touched
                                ">
                                <span class="login-danger">Field is required.
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group local-forms">
                              <label for="totalSQFT">Square Feet<span class="login-danger">*</span></label>
                              <div class="input-group">
                                <!-- <div class="input-group-prepend">
                                  <span class="input-group-text" style="font-size: 12px;">SQ.Feet</span>
                                </div> -->
                                <input class="form-control" type="number" placeholder="Enter Square Feet"
                                  formControlName="totalSQFT" (change)="calculateTotalAmount()" />
                              </div>
                              <div *ngIf="
                                slabsAddForm
                                  .get('totalSQFT')
                                  ?.hasError('required') &&
                                slabsAddForm.get('totalSQFT')
                                  ?.touched
                              ">
                                <span class="login-danger">Field is required.</span>
                              </div>
                              <div *ngIf="
                                  (slabsAddForm
                                    .get('totalSQFT')
                                    ?.hasError('min') &&
                                    slabsAddForm.get('totalSQFT')?.touched) ||
                                  (slabsAddForm
                                    .get('totalSQFT')
                                    ?.hasError('max') &&
                                    slabsAddForm.get('totalSQFT')?.touched)
                                ">
                                <span class="login-danger">
                                  input must be between 1 and 100,000.
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group local-forms">
                              <label for="noOfPieces">Pieces<span class="login-danger">*</span></label>
                              <div class="input-group">
                                <!-- <div class="input-group-prepend">
                                  <span class="input-group-text" style="font-size: 12px">Inch</span>
                                </div> -->
                                <input class="form-control" type="number" placeholder="Enter Pieces"
                                  formControlName="noOfPieces" />
                              </div>
                              <div *ngIf="
                                slabsAddForm
                                  .get('noOfPieces')
                                  ?.hasError('required') &&
                                slabsAddForm.get('noOfPieces')
                                  ?.touched
                              ">
                                <span class="login-danger">Field is required.</span>
                              </div>

                              <div *ngIf="
                                  (slabsAddForm.get('noOfPieces')?.hasError('min') &&
                                    slabsAddForm.get('noOfPieces')?.touched) ||
                                  (slabsAddForm.get('noOfPieces')?.hasError('max') &&
                                    slabsAddForm.get('noOfPieces')?.touched)
                                ">
                                <span class="login-danger">
                                  input must be between 1 and 100,000.
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-12" *ngIf="slabsAddForm && slabsAddForm.get('stockType')?.value !== 'OpeningStock'">
                            <div class="form-group local-forms">
                              <label for="processingFee">Processing Fee / Ton<span class="login-danger">*</span></label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">₹</span>
                                </div>
                                <input class="form-control" type="number" placeholder="Enter Processing Fee"
                                  formControlName="processingFee" (change)="calculateTotalAmount()" />
                              </div>
                              <div *ngIf="
                                  slabsAddForm
                                    .get('processingFee')
                                    ?.hasError('required') &&
                                  slabsAddForm.get('processingFee')
                                    ?.touched
                                ">
                                <span class="login-danger">Field is required.</span>
                              </div>
                              <div *ngIf="
                                  (slabsAddForm
                                    .get('processingFee')
                                    ?.hasError('min') &&
                                    slabsAddForm.get('processingFee')
                                      ?.touched) ||
                                  (slabsAddForm
                                    .get('processingFee')
                                    ?.hasError('max') &&
                                    slabsAddForm.get('processingFee')?.touched)
                                ">
                                <span class="login-danger">
                                  input must be between 1 and 1000,000.
                                </span>
                              </div>
                            </div>
                          </div>

                          <div class="col-12">
                            <div class="form-group local-forms">
                              <label for="length">Transport Charges<span class="login-danger"></span></label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">₹</span>
                                </div>
                                <input class="form-control" type="number" placeholder="Enter Transport Charges"
                                  formControlName="transportationCharges" (change)="calculateTotalAmount()" />
                              </div>

                              <div *ngIf="
                                  (slabsAddForm
                                    .get('transportationCharges')
                                    ?.hasError('min') &&
                                    slabsAddForm.get('transportationCharges')
                                      ?.touched) ||
                                  (slabsAddForm
                                    .get('transportationCharges')
                                    ?.hasError('max') &&
                                    slabsAddForm.get('transportationCharges')
                                      ?.touched)
                                ">
                                <span class="login-danger">
                                  input must be between 1 and 100,000.
                                </span>
                              </div>
                            </div>
                          </div>

                          <div class="col-12">
                            <div class="form-group local-forms">
                              <label for="otherCharges">Other Charges<span class="login-danger"></span></label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">₹</span>
                                </div>
                                <input class="form-control" type="number" placeholder="Enter Other Charges"
                                  formControlName="otherCharges" (change)="calculateTotalAmount()" />
                              </div>

                              <div *ngIf="
                                  (slabsAddForm
                                    .get('otherCharges')
                                    ?.hasError('min') &&
                                    slabsAddForm.get('otherCharges')
                                      ?.touched) ||
                                  (slabsAddForm
                                    .get('otherCharges')
                                    ?.hasError('max') &&
                                    slabsAddForm.get('otherCharges')?.touched)
                                ">
                                <span class="login-danger">
                                  input must be between 1 and 100,000.
                                </span>
                              </div>
                            </div>
                          </div>

                          <div class="col-12 mt-1">
                            <div class="form-group local-forms">
                              <label for="totalSqrFt">Selling Price / Sq. Feet<span
                                  class="login-danger"></span></label>

                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">₹</span>
                                </div>
                                <input class="form-control" type="number" placeholder="Enter Selling Price"
                                  formControlName="sellingPricePerSQFT" />
                              </div>
                              <span style="color: #97704f; font-size: 12px"> Input must be greater than Cost / Sq.
                                Feet</span>
                              <div *ngIf="
                                  slabsAddForm
                                    .get('sellingPricePerSQFT')
                                    ?.hasError('required') &&
                                  slabsAddForm.get('sellingPricePerSQFT')
                                    ?.touched
                                ">
                                <span class="login-danger">Field is required.</span>
                              </div>
                              <div *ngIf="
                                  (slabsAddForm
                                    .get('sellingPricePerSQFT')
                                    ?.hasError('min') &&
                                    slabsAddForm.get('sellingPricePerSQFT')
                                      ?.touched) ||
                                  (slabsAddForm
                                    .get('sellingPricePerSQFT')
                                    ?.hasError('max') &&
                                    slabsAddForm.get('sellingPricePerSQFT')
                                      ?.touched)
                                ">
                                <span class="login-danger">
                                  input must be between 1 and 100,000.
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="invoice-total-inner">
                          <!-- <p *ngIf="slabsAddForm.get('lotDetails').value">
                            Processing Costing<span>
                              {{
                                slabsAddForm.get("processingCost")?.value
                                  ? "₹ " +
                                    (slabsAddForm.get("processingCost").value
                                      | number : "1.2-2")
                                  : null
                              }}
                            </span>
                          </p> -->
                          <p *ngIf="slabsAddForm.get('totalSQFT')?.value">
                            Total Square Feet<span>
                              {{ slabsAddForm.get('totalSQFT').value | number: '1.0-0' }}
                            </span>
                          </p>
                          <p *ngIf="BlockWeight">
                            Block Weight ( Ton )
                            <span>{{ BlockWeight.toFixed(2) }}</span>
                          </p>
                          <p *ngIf="slabsAddForm.get('processingCost')?.value">
                            Processing Cost<span>
                              ₹ {{ slabsAddForm.get('processingCost').value | number: '1.2-2' }}
                            </span>
                          </p>
                          <p *ngIf="slabsAddForm.get('transportationCharges')?.value">
                            Transport Charges<span>
                              ₹ {{ slabsAddForm.get('transportationCharges').value | number: '1.2-2' }}
                            </span>
                          </p>
                          <p *ngIf="slabsAddForm.get('otherCharges')?.value">
                            Other Charges
                            <span>
                              ₹ {{ slabsAddForm.get('otherCharges').value | number: '1.2-2' }}
                            </span>
                          </p>
                        </div>

                        <div class="invoice-total-footer d-flex flex-column gap-2">
                          <h4>
                            Total Costing<span>
                              {{
                              slabsAddForm.get("totalCosting")?.value
                              ? "₹ " +
                              (slabsAddForm.get("totalCosting").value
                              | number : "1.2-2")
                              : null
                              }}
                            </span>
                          </h4>
                          <h4>
                            Cost / Sq. Feet<span>
                              ₹ {{ slabsAddForm.get('costPerSQFT').value | number: '1.2-2' }}
                            </span>
                          </h4>
                          <h4>
                            Selling Price / Sq. Feet <span>
                              ₹ {{ slabsAddForm.get('sellingPricePerSQFT').value | number: '1.2-2' }}
                            </span>
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2 mb-2">
                      <div class="settings-btns text-end col-12">
                        <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
                          [disabled]="!slabsAddForm.valid">
                          Submit
                        </button>
                        <button class="btn btn-secondary" [routerLink]="['/slabs']">
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>