<p-toast></p-toast>
<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.adminDashboard">Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">
              <a [routerLink]="routes.expenses">Expenses List</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Add Expenses</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body p-3">
            <form [formGroup]="addExpensesGroup" (ngSubmit)="addExpensesFormSubmit()">
              
              <!-- <div class="row mb-3">
                <div class="col-md-6 col-sm-12 d-flex align-items-start">
                  <h3>Add New Expenses</h3>
                </div>
                <div class="col-sm-12 col-md-6 text-end">
                  <div class=" m-b-10">
                    <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10" [disabled]="!addExpensesGroup.valid">
                      Submit
                    </button>
                    <button class="btn btn-secondary" [routerLink]="['/expenses']">
                      <a class="text-white"></a>Cancel
                    </button>
                  </div>
                </div>
              </div> -->
              <div class="row mt-2 mb-2">
                <div class="col-md-6 col-sm-12"><h3>Add Expenses</h3></div>
                <div class="col-md-6 col-sm-12 text-end mb-2"> 
                  <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10" [disabled]="!addExpensesGroup.valid">
                    Submit
                  </button>
                  <button class="btn btn-secondary" [routerLink]="['/expenses']">
                    <a class="text-white"></a>Cancel
                  </button>
                </div>
              </div>

              <div class="row">

                <div class="col-12 col-md-6 col-xl-6">
                  <div class="form-group local-forms">
                    <label for="categoryDetails">Expense Category<span class="login-danger">*</span></label>
                    <p-dropdown [options]="ExpensesCategoriesArray" optionLabel="name"
                      placeholder="Select Expense Category" formControlName="categoryDetails"
                      [style]="{ width: '100%' }" filterBy="name" [showClear]="true">
                    </p-dropdown>
                    <div *ngIf="
                          addExpensesGroup
                            .get('categoryDetails')
                            ?.hasError('required') &&
                          addExpensesGroup.get('categoryDetails')?.touched
                        " class="login-danger Font_size">
                      Field is required.
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-xl-6 col-12">
                  <div class="form-group local-forms">
                    <label for="date">Date<span class="login-danger">*</span></label>
                    <p-calendar [maxDate]="maxDate" dataType="string" appendTo="body" dateFormat="mm/dd/yy"
                      formControlName="date" placeholder="mm/dd/yyyy" [styleClass]="'col-12'"></p-calendar>
                    <div
                      *ngIf="addExpensesGroup.get('date')?.hasError('required')  && addExpensesGroup.get('date')?.touched">
                      <span class="login-danger">Field is required. </span>
                    </div>
                  </div>
                </div>


                <div class="col-md-6 col-xl-6 col-12">
                  <div class="form-group local-forms">
                    <label for="recipient">Recipient<span class="login-danger">*</span></label>
                    <input class="form-control" type="text" placeholder="Please Enter Recipient"
                      formControlName="recipient" />
                      <div *ngIf="
                      addExpensesGroup.get('recipient')?.hasError('pattern') &&
                      addExpensesGroup.get('recipient')?.touched
                    " class="login-danger Font_size">
                    Input should be between 1 to 30 characters.
                  </div>
                    <div
                      *ngIf="addExpensesGroup.get('recipient')?.hasError('required')  && addExpensesGroup.get('recipient')?.touched">
                      <span class="login-danger">Field is required. </span>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-6 col-xl-6">
                  <div class="form-group local-forms">
                    <label for="amount">Amount<span class="login-danger">*</span></label>
                    <input class="form-control" type="number" placeholder="Please Enter Amount"
                      formControlName="amount" />
                    <div *ngIf="
                          addExpensesGroup
                            .get('amount')
                            ?.hasError('required') &&
                          addExpensesGroup.get('amount')?.touched
                        " class="login-danger Font_size">
                      Field is required.
                    </div>
                    <div *ngIf="
                                      (addExpensesGroup
                                      .get('amount')
                                      ?.hasError('min') &&
                                      addExpensesGroup.get('amount')
                                          ?.touched) ||
                                      (addExpensesGroup
                                      .get('amount')
                                      ?.hasError('max') &&
                                      addExpensesGroup.get('amount')?.touched)
                                  ">
                      <span class="login-danger">
                        input must be between 1 and 100,000.
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-12 col-xl-12">
                  <div class="form-group local-forms">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" type="text" placeholder="Please Enter Notes" formControlName="notes"
                      rows="5"></textarea>

                    <div *ngIf="
                          addExpensesGroup
                            .get('notes')
                            ?.hasError('pattern') &&
                          addExpensesGroup.get('notes')?.touched
                        ">
                      <span class="login-danger">Input Must be between 3 to 500 characters</span>
                    </div>
                  </div>
                </div>

                <!-- <div class="col-12 mt-2">
                  <p-fileUpload mode="basic" chooseLabel="Choose" chooseIcon="fa-solid fa-upload" name="demo[]"
                    accept="image/*" (onUpload)="onUpload($event)" url="" />
                </div> -->
              </div>

              <!-- </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>