<div class="page-wrapper">
    <div class="content">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-12">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="routes.adminDashboard">Dashboard </a>
              </li>
              <li class="breadcrumb-item">
                <i class="feather icon-chevron-right"></i>
              </li>
              <li class="breadcrumb-item active">
                <a [routerLink]="routes.suppliers">Suppliers</a>
              </li>
              <li class="breadcrumb-item">
                <i class="feather icon-chevron-right"></i>
              </li>
              <li class="breadcrumb-item active">Edit Suppliers</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-table show-entire">
            <div class="card-body p-3">
              <form [formGroup]="editSupplierGroup" (ngSubmit)="editCustomerForm()">
                <div class="row">
                  <div class="d-flex m-b-10" style="justify-content: space-between">
                    <h3>Edit New Suppliers</h3>
                    <div class="settings-btns text-end m-b-10">
                      <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10" [disabled]="!editSupplierGroup.valid" >
                        Submit
                      </button>
                      <button class="btn btn-secondary" [routerLink]="['/suppliers']">
                        <a class="text-white"></a>Cancel
                      </button>
                    </div>
                  </div>
  
                  <div class="row">
  
                    <div class="col-12 col-md-4 col-xl-4">
                      <div class="form-group local-forms">
                        <label for="wareHouse">Warehouse<span class="login-danger">*</span></label>
                        <p-dropdown formControlName="wareHouse" [filter]="true" filterBy="name" [showClear]="true"
                          [style]="{'width':'100%'}" [options]="wareHouseArray" optionLabel="name"
                          placeholder="--Select Warehouse--"></p-dropdown>
                        <div *ngIf="
                                                        editSupplierGroup.get('wareHouse')?.hasError(
                                                          'required'
                                                        ) && editSupplierGroup.get('wareHouse')?.touched
                                                      " class="login-danger Font_size">
                          Warehouse field is reqiured.
                        </div>
                      </div>
                    </div>
  
                    <div class="col-12 col-md-4 col-xl-4">
                      <div class="form-group local-forms">
                        <label for="name">Name<span class="login-danger">*</span></label>
                        <input class="form-control" type="text" placeholder="Please Enter Name" formControlName="name" />
                        <div *ngIf="
                                                        editSupplierGroup.get('name')?.hasError(
                                                          'required'
                                                        ) && editSupplierGroup.get('name')?.touched
                                                      " class="login-danger Font_size">
                          Name field is reqiured.
                        </div>
                      </div>
                    </div>
  
  
                    <div class="col-12 col-md-4 col-xl-4">
                      <div class="form-group local-forms">
                        <label for="phoneNumber">Phone Number<span class="login-danger">*</span></label>
                        <input class="form-control" type="number" placeholder="Please Enter Phone Number"
                          formControlName="phoneNumber" />
                        <div *ngIf="
                                                        editSupplierGroup.get('phoneNumber')?.hasError(
                                                          'required'
                                                        ) && editSupplierGroup.get('phoneNumber')?.touched
                                                      " class="login-danger Font_size">
                          Phone Number field is reqiured.
                        </div>
                        <div *ngIf="editSupplierGroup.get('phoneNumber')?.hasError(
                          'pattern'
                        ) && editSupplierGroup.get('phoneNumber')?.touched
                      " class="login-danger Font_size">
                          Phone number must be 10 digts
                        </div>
                      </div>
                    </div>
  
                    <div class="col-12 col-md-4 col-xl-4">
                      <div class="form-group local-forms">
                        <label for="Email">Email<span class="login-danger">*</span></label>
                        <input class="form-control" type="email" placeholder="Please Enter Email"
                          formControlName="email" />
                        <div *ngIf="
                                                        editSupplierGroup.get('email')?.hasError(
                                                          'required'
                                                        ) && editSupplierGroup.get('email')?.touched
                                                      " class="login-danger Font_size">
                          Email field is reqiured.
                        </div>
                        <div *ngIf="editSupplierGroup.get('email').errors?.['email']" class="login-danger Font_size">
                          Please enter a valid email address.
                        </div>
  
                      </div>
                    </div>
  
                    <div class="col-12 col-md-4 col-xl-4">
                      <div class="form-group local-forms">
                        <label for="status">Status<span class="login-danger">*</span></label>
                        <p-dropdown [options]="statusArray" styleClass="" optionLabel="name"
                          placeholder="--Select Status--" formControlName="status" [style]="{'width':'100%'}"
                          filterBy="name" [showClear]="true">
                        </p-dropdown>
                        <div *ngIf="
                                                        editSupplierGroup.get('status')?.hasError(
                                                          'required'
                                                        ) && editSupplierGroup.get('status')?.touched
                                                      " class="login-danger Font_size">
                          Status field is reqiured.
                        </div>
                      </div>
                    </div>
  
                    <!-- <div class="col-12 col-md-4 col-xl-4">
                      <div class="form-group local-forms">
                        <label for="password">Password<span class="login-danger"></span></label>
                        <input class="form-control" type="password" placeholder="Please Enter Password"
                          formControlName="password" />
                          <div *ngIf="
                                                        editSupplierGroup.get('password')?.hasError(
                                                          'required'
                                                        ) && editSupplierGroup.get('password')?.touched
                                                      " class="login-danger Font_size">
                                                      Password field is reqiured.
                        </div>
                        <div *ngIf="editSupplierGroup.get('password')?.hasError(
                                                          'pattern'
                                                        ) && editSupplierGroup.get('password')?.touched
                                                      " class="login-danger Font_size">
                          Password must be between 3 and 20 characters.
                        </div>
                      </div>
                    </div> -->
  
                    <div class="col-12 col-md-4 col-xl-4">
                      <div class="form-group local-forms">
                        <label for="taxNumber">Tax Number<span class="login-danger"></span></label>
                        <input class="form-control" type="number" placeholder="Please Enter Tex Number"
                          formControlName="taxNumber" />
                      </div>
                    </div>
  
  
                    <div class="col-12 col-md-4 col-xl-4">
                      <div class="form-group local-forms">
                        <label for="openingBalance">Opening Balance<span class="login-danger"></span></label>
                        <input class="form-control" type="number" placeholder="$ 0" formControlName="openingBalance" />
                      </div>
                      <div>
  
                      </div>
                    </div>
  
                    <div class="col-12 col-md-4 col-xl-4">
                      <div class="form-group local-forms">
                        <label for="creditPeriod">Credit Period<span class="login-danger"></span></label>
                        <input class="form-control" value="30" type="number" placeholder formControlName="creditPeriod" />
                      </div>
                    </div>
  
                    <div class="col-12 col-md-4 col-xl-4">
                      <div class="form-group local-forms">
                        <label for="creditLimit">Credit Limit<span class="login-danger"></span></label>
                        <input class="form-control" type="text" placeholder="$ 0" formControlName="creditLimit" />
                      </div>
                    </div>
  
                    <div class="col-12 col-md-4 col-xl-4">
                      <div class="form-group local-forms">
                        <label for="billingAddress">Billing Address<span class="login-danger"></span></label>
                        <textarea class="form-control" type="text" placeholder="Please Enter Billing Address"
                          formControlName="billingAddress" rows="1"></textarea>
                      </div>
                    </div>
  
  
                    <div class="col-12 col-md-4 col-xl-4">
                      <div class="form-group local-forms">
                        <label for="shippingAddress">Shipping Address<span class="login-danger"></span></label>
                        <textarea class="form-control" type="text" placeholder="Please Enter Shipping Address"
                          formControlName="shippingAddress" rows="1"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>