<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="routes.adminDashboard">Dashboard </a>
                        </li>
                        <li class="breadcrumb-item">
                            <i class="feather icon-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item active">Purchase List</li>
                        <li class="breadcrumb-item">
                            <i class="feather icon-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item active">Purchase Add</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-header invoices-page-header">
            <div class="row align-items-center">
                <div class="col">
                    <ul class="breadcrumb invoices-breadcrumb">
                        <li class="breadcrumb-item invoices-breadcrumb-item">
                            <a [routerLink]="routes.purchase">
                                <i class="fa fa-chevron-left"></i> Back to Purchase List
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">
                <div class="card invoices-add-card">
                    <div class="card-body">
                        <form 
                        >
                        <!-- [formGroup]="addPurchaseForm" (ngSubmit)="addPurchaseFormSubmit()" -->
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="card flex justify-content-center">
            <p-stepper>
                <p-stepperPanel header="Header I">
                    <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                        <div class="flex flex-column h-12rem">
                            <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                Content I
                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-end">
                            <p-button 
                                label="Next" 
                                icon="pi pi-arrow-right" 
                                iconPos="right" 
                                (onClick)="nextCallback.emit()" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Header II">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                        <div class="flex flex-column h-12rem">
                            <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                Content II
                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-between">
                            <p-button 
                                label="Back" 
                                icon="pi pi-arrow-left" 
                                (onClick)="prevCallback.emit()" />
                            <p-button 
                                label="Next" 
                                icon="pi pi-arrow-right" 
                                iconPos="right" 
                                (onClick)="nextCallback.emit()" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Header III">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                        <div class="flex flex-column h-12rem">
                            <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                                Content III
                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-start">
                            <p-button 
                                label="Back" 
                                icon="pi pi-arrow-left" 
                                (onClick)="prevCallback.emit()" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
            </p-stepper>
        </div>
    </div>
</div>