// .p-stepper ul {
//     padding-left: 0px;

    .p-stepper .p-stepper-panels {
        background: #ffffff;
        padding: 0%; 
        color: #4b5563;
    }
    @media only screen and (max-width: 913px) {
        .m10 {
            margin-top: 10px;
        }
    }