// .p-stepper ul {
//     padding-left: 0px;

.p-stepper .p-stepper-panels {
    background: #ffffff;
    padding: 0%;
    color: #4b5563;
}

ul {
    padding-left: 0 !important;
}

@media only screen and (max-width: 913px) {
    .m10 {
        margin-top: 10px;
    }
}

::ng-deep{
    .p-stepper .p-stepper-header.p-highlight .p-stepper-number {
        background: #97704F;
        color: #FFFFFF;
    }
    .p-stepper .p-stepper-header.p-highlight .p-stepper-title {
        color: #97704F;
    }
} 