<mat-dialog-content class="mat-typography mat-lg" style="width: 800px;">
  <div class="m-b-20">
    <h3>Edit Lab</h3>
  </div>

  <div class="modal-body">
    <form [formGroup]="LabForm" (ngSubmit)="EditLabFormSubmit()">
      <div class="row">

        <div class="col-12 col-md-6 ">
          <div class="form-group local-forms">
            <label for="labCategory">Lab Category <span class="login-danger">*</span></label>

            <p-dropdown [options]="LabCategory" styleClass="" appendTo="body"
                      optionLabel="value" optionValue="value" placeholder=""
                      formControlName="labCategory" [style]="{'width':'100%'}" [filter]="true" filterBy="value" [showClear]="true">
                    </p-dropdown>
                    
            <div *ngIf="LabForm.get('labCategory')?.hasError('required') && LabForm.get('labCategory')?.touched"
              class="m-0">
              <span class="login-danger">Category is reqiured</span>
            </div>

          </div>

        </div>

        <div class="col-12 col-md-6">
          <div class="form-group local-forms">
            <label for="labName">Lab Name <span class="login-danger">*</span></label>
            <input class="form-control" type="text" placeholder="" formControlName="labName">

            <div *ngIf="LabForm.get('labName')?.hasError('required') && LabForm.get('labName')?.touched">
              <span class="login-danger">Name is reqiured</span>
            </div>

            <div *ngIf="LabForm.get('labName')?.hasError('pattern') && LabForm.get('labName')?.touched">
              <span class="login-danger">Input must be between 5 and 50 characters.</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-12">
          <div class="form-group local-forms">
            <label for="labDiscription">Lab Description (optional)</label>
            <textarea class="form-control" rows="3" cols="30" formControlName="labDiscription"></textarea>
            <div *ngIf="LabForm.get('labDiscription')?.hasError('pattern') && LabForm.get('labDiscription')?.touched">
              <span class="login-danger">Input must be between 3 and 500 characters.</span>
            </div>
          </div>
        </div>


        <div class=" col-12">
          <div class="doctor-submit text-end">
            <button type="submit" class="border-0 btn btn-primary btn-gradient-primary m-r-10"
              [disabled]="!LabForm.valid">Submit</button>
            <button class="btn btn-secondary" [mat-dialog-close]="true">Cancel</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</mat-dialog-content>