<div class="row p-2">
    <div class="col-xl-2 col-md-3 col-lg-4 d-flex">
        <div class="card chat-box">
            <div class="chat-widgets">
                <div class="email-menu-blk">
                    <ul class="nav nav-tabs menu-tabs">
                        <!-- <li class="nav-item col-12" [ngClass]="{'active': this.currentRoute===routes.settings}">
                            <a class="nav-link col-12" [routerLink]="routes.settings">General Settings</a>
                        </li> -->
                        <li class="nav-item col-12 {{isRouteActive('practice-information')}}"
                            >
                            <a class="nav-link col-12" [routerLink]="routes.practiceInformation">Practice
                                Information</a>
                        </li>
                        <li appShowHide [roles]="['admin', 'super-admin', 'provider']" class="nav-item col-12 {{isRouteActive('providers-profiles')}}"
                            >
                            <a class="nav-link col-12" [routerLink]="routes.providersList">Providers Profiles</a>
                        </li>
                        <!-- <li class="nav-item col-12 {{isRouteActive('service-locations')}}">
                            <a class="nav-link col-12" [routerLink]="routes.serviceLocations">Service Location</a>
                        </li> -->
                        <li class="nav-item col-12 {{isRouteActive('warehouse')}}">
                            <a class="nav-link col-12" [routerLink]="routes.warehouse">Warehouse</a>
                        </li>
                        <!-- <li class="nav-item col-12" [ngClass]="{'active': this.currentRoute===routes.calendarSettings}">
                            <a class="nav-link col-12" [routerLink]="routes.calendarSettings">Calendar Settings</a>
                        </li> -->
                        <li appShowHide [roles]="['admin', 'super-admin']" class="nav-item col-12 {{isRouteActive('users')}}" >
                            <a class="nav-link col-12" [routerLink]="routes.listUsers">Users Settings</a>
                        </li>
                        <!-- <li class="nav-item col-12" [ngClass]="{'active': this.currentRoute===routes.visitReasons}">
                            <a class="nav-link col-12" [routerLink]="routes.visitReasons">Visit Reasons</a>
                        </li> -->
                        <li class="nav-item col-12" [ngClass]="{'active': this.currentRoute===routes.categories}">
                            <a class="nav-link col-12" [routerLink]="routes.categories">Categories</a>
                        </li>
                        <li class="nav-item col-12" [ngClass]="{'active': this.currentRoute===routes.subCategories}">
                            <a class="nav-link col-12" [routerLink]="routes.subCategories">Sub Categories</a>
                        </li>
                        <li class="nav-item col-12" [ngClass]="{'active': this.currentRoute===routes.taxes}">
                            <a class="nav-link col-12" [routerLink]="routes.taxes">Taxes</a>
                        </li>
                        <!-- <li class="nav-item col-12" [ngClass]="{'active': this.currentRoute===routes.labssettings}">
                            <a class="nav-link col-12" [routerLink]="routes.labssettings">Labs Settings</a>
                        </li>
                        <li appShowHide [roles]="['admin', 'super-admin', 'help-desk','provider']" class="nav-item col-12"
                            [ngClass]="{'active': this.currentRoute===routes.prescriptionprefrence}">
                            <a class="nav-link col-12" [routerLink]="routes.prescriptionprefrence">Prescription
                                Prefrence</a>
                        </li>
                        <li appShowHide [roles]="['admin', 'super-admin', 'help-desk', 'provider']" class="nav-item col-12"
                            [ngClass]="{'active': this.currentRoute===routes.receiptsettings}">
                            <a class="nav-link col-12" [routerLink]="routes.receiptsettings">Reciept Settings</a>
                        </li> -->
                       
                        <!-- <li class="nav-item col-12"
                            [ngClass]="{'active': this.currentRoute===routes.datamanagementsettings}">
                            <a class="nav-link col-12" [routerLink]="routes.datamanagementsettings">Data Management
                                Settings</a>
                        </li> -->

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-10 col-lg-8 col-md-9">
        <div class="row">
            <div class="col-xl-12">
                <div class="">
                    <div class="">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>